In [7]:
'''

- Do data transformation
- Subset columns and filter rows by using .select() or .where()
- use a groupby() operation and an aggregate function .agg() ( sum by group, average by group etc)
- use distinct(), count() operation
- For those of you who know sql, do a sql operation on a table
    - Register the table view
    - run sql query using spark.sql("SELECT....")
- Create a new column using .withColumnNamed()
- Apply a user defined function (UDF)
- Implement an ML model
- (Optional) Implement Cross validations
- (Optional) identify a problem and fill out a diagnostics form

'''
import findspark  # this needs to be the first import                                                                        
findspark.init()

# jupyter notebook &

from pyspark.sql import DataFrame
from pyspark.sql import *
from pyspark.ml import Pipeline
from pyspark.ml.classification import *
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.ml.tuning import *
from pyspark.ml.feature import Imputer


import numpy as np
import pandas as pd
import scipy as sc

In [1]:

from pyspark import SparkContext
from pyspark.sql.session import SparkSession
try:
    sc = SparkContext()     
except ValueError:
    pass
# spark = SparkSession(sc)


spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
    
    
# from DaeWon
# establish a spark session with 50 executors
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .master("yarn") \
        .appName("testing") \
        .config("spark.executor.instances", "70") \
        .config("spark.executor.memory","4g") \
        .config("spark.driver.memory","30g") \
        .config("spark.executor.cores",'1') \
        .config("spark.scheduler.mode","FIFO") \
        .getOrCreate()

In [13]:
 spark.read.json?

In [37]:
dat = spark.read.json('./dataset/checkin.json').repartition(150)
dat.printSchema()

bus = spark.read.json('./dataset/business.json').repartition(150)
bus.printSchema()

phot = spark.read.json('./dataset/photos.json').repartition(150)
phot.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- time: struct (nullable = true)
 |    |-- Friday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Monday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Saturday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Sunday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Thursday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Tuesday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Wednesday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: boolean (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: struct (nullable = true)
 |    |    |-- casual: boolean (nullable = true)
 |    |    |-- classy: boolean (nullable = true)
 |    |    |-- divey: boolean (nullable = true)
 |    |    |-- hipster: boolean (nullable = true)
 |    |    |-- intimate: boolean (nullable = true)
 |    |    |-- romantic: boolean (nullable = true)
 |    |    |-- touristy: boolean (nullable = true)
 |    |    |-- trendy: boolean (nullable = true)
 |    |    |-- upscale: boolean (nullable = true)
 |    |-- BYOB: boolean (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: struct (nullable = true)
 |    |    |-- friday: boolean (nullable = true)
 |    |    |-- monday: boolean (nullable = true)
 |    |    |-- saturday: boolean (nullable = true)
 |    |    |-- sunday: boolean (nullable = true)
 |    |    |-- thursday: boolean (nullable = true)
 |    |    |-- tuesday: boolean (nullable = true)
 |    |    |-- wednesday: boolean (nullable = true)
 |    |-- BikeParking: boolean (nullable = true)
 |    |-- BusinessAcceptsBitcoin: boolean (nullable = true)
 |    |-- BusinessAcceptsCreditCards: boolean (nullable = true)
 |    |-- BusinessParking: struct (nullable = true)
 |    |    |-- garage: boolean (nullable = true)
 |    |    |-- lot: boolean (nullable = true)
 |    |    |-- street: boolean (nullable = true)
 |    |    |-- valet: boolean (nullable = true)
 |    |    |-- validated: boolean (nullable = true)
 |    |-- ByAppointmentOnly: boolean (nullable = true)
 |    |-- Caters: boolean (nullable = true)
 |    |-- CoatCheck: boolean (nullable = true)
 |    |-- Corkage: boolean (nullable = true)
 |    |-- DietaryRestrictions: struct (nullable = true)
 |    |    |-- dairy-free: boolean (nullable = true)
 |    |    |-- gluten-free: boolean (nullable = true)
 |    |    |-- halal: boolean (nullable = true)
 |    |    |-- kosher: boolean (nullable = true)
 |    |    |-- soy-free: boolean (nullable = true)
 |    |    |-- vegan: boolean (nullable = true)
 |    |    |-- vegetarian: boolean (nullable = true)
 |    |-- DogsAllowed: boolean (nullable = true)
 |    |-- DriveThru: boolean (nullable = true)
 |    |-- GoodForDancing: boolean (nullable = true)
 |    |-- GoodForKids: boolean (nullable = true)
 |    |-- GoodForMeal: struct (nullable = true)
 |    |    |-- breakfast: boolean (nullable = true)
 |    |    |-- brunch: boolean (nullable = true)
 |    |    |-- dessert: boolean (nullable = true)
 |    |    |-- dinner: boolean (nullable = true)
 |    |    |-- latenight: boolean (nullable = true)
 |    |    |-- lunch: boolean (nullable = true)
 |    |-- HairSpecializesIn: struct (nullable = true)
 |    |    |-- africanamerican: boolean (nullable = true)
 |    |    |-- asian: boolean (nullable = true)
 |    |    |-- coloring: boolean (nullable = true)
 |    |    |-- curly: boolean (nullable = true)
 |    |    |-- extensions: boolean (nullable = true)
 |    |    |-- kids: boolean (nullable = true)
 |    |    |-- perms: boolean (nullable = true)
 |    |    |-- straightperms: boolean (nullable = true)
 |    |-- HappyHour: boolean (nullable = true)
 |    |-- HasTV: boolean (nullable = true)
 |    |-- Music: struct (nullable = true)
 |    |    |-- background_music: boolean (nullable = true)
 |    |    |-- dj: boolean (nullable = true)
 |    |    |-- jukebox: boolean (nullable = true)
 |    |    |-- karaoke: boolean (nullable = true)
 |    |    |-- live: boolean (nullable = true)
 |    |    |-- no_music: boolean (nullable = true)
 |    |    |-- video: boolean (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: boolean (nullable = true)
 |    |-- OutdoorSeating: boolean (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: boolean (nullable = true)
 |    |-- RestaurantsDelivery: boolean (nullable = true)
 |    |-- RestaurantsGoodForGroups: boolean (nullable = true)
 |    |-- RestaurantsPriceRange2: long (nullable = true)
 |    |-- RestaurantsReservations: boolean (nullable = true)
 |    |-- RestaurantsTableService: boolean (nullable = true)
 |    |-- RestaurantsTakeOut: boolean (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: boolean (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

root
 |-- business_id: string (nullable = true)
 |-- caption: string (nullable = true)
 |-- label: string (nullable = true)
 |-- photo_id: string (nullable = true)

In [74]:
print dat.count()
print bus.count()
print phot.count()

135148
156639
196278

In [22]:
dat.rdd.getNumPartitions()

150

In [52]:
dat.show()

+--------------------+--------------------+
|         business_id|                time|
+--------------------+--------------------+
|b2596IQibXyco49ct...|[[1,null,null,nul...|
|1njD5p7-FvV8uoHzw...|[[null,null,null,...|
|gE80aKaybUL4SZZE4...|[[null,null,null,...|
|2tMuTCM-UxbCjyxTL...|[null,null,[null,...|
|mzGrMnuHJpPJEF7E4...|[null,null,[1,nul...|
|w9nB3j5ElUThCkgXQ...|[null,null,null,n...|
|Nwd3NkLVZD85zAV_n...|[[1,null,null,nul...|
|ZjwBMsW0tmS7sAYnM...|[null,[null,null,...|
|TzRK4L5ZpZv71cArM...|[[1,null,null,nul...|
|uLdJrH2rJwULKLopi...|[[null,null,null,...|
|d0_yLkH7u16tlcvvU...|[[null,null,null,...|
|DqNpyLa9CWN3YKaIG...|[[null,1,null,nul...|
|k0pZyGb_oBdFpcekM...|[null,[null,null,...|
|oH3V-79Cldz_6sWXi...|[[null,null,1,nul...|
|1y64UsTx6ikxoaCAY...|[[null,null,null,...|
|X209KCF2ex6VvNJcb...|[[1,1,1,null,3,nu...|
|0mj6WOkZnwrdcWYlG...|[[null,null,2,nul...|
|XG0twdTiMzUS3v3p9...|[[1,null,null,nul...|
|85ot7LGtfcr8pj5yK...|[null,[null,null,...|
|YhLrPdDWKd26l-fIG...|[[1,null,null,nul...|
+--------------------+--------------------+
only showing top 20 rows

In [70]:
dat.columns

['business_id', 'time']

In [71]:
phot.columns

['business_id', 'caption', 'label', 'photo_id']

In [72]:
bus.columns

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [53]:
bus.show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [54]:
bus.dtypes

[('address', 'string'),
 ('attributes',
  'struct<AcceptsInsurance:boolean,AgesAllowed:string,Alcohol:string,Ambience:struct<casual:boolean,classy:boolean,divey:boolean,hipster:boolean,intimate:boolean,romantic:boolean,touristy:boolean,trendy:boolean,upscale:boolean>,BYOB:boolean,BYOBCorkage:string,BestNights:struct<friday:boolean,monday:boolean,saturday:boolean,sunday:boolean,thursday:boolean,tuesday:boolean,wednesday:boolean>,BikeParking:boolean,BusinessAcceptsBitcoin:boolean,BusinessAcceptsCreditCards:boolean,BusinessParking:struct<garage:boolean,lot:boolean,street:boolean,valet:boolean,validated:boolean>,ByAppointmentOnly:boolean,Caters:boolean,CoatCheck:boolean,Corkage:boolean,DietaryRestrictions:struct<dairy-free:boolean,gluten-free:boolean,halal:boolean,kosher:boolean,soy-free:boolean,vegan:boolean,vegetarian:boolean>,DogsAllowed:boolean,DriveThru:boolean,GoodForDancing:boolean,GoodForKids:boolean,GoodForMeal:struct<breakfast:boolean,brunch:boolean,dessert:boolean,dinner:boolean,latenight:boolean,lunch:boolean>,HairSpecializesIn:struct<africanamerican:boolean,asian:boolean,coloring:boolean,curly:boolean,extensions:boolean,kids:boolean,perms:boolean,straightperms:boolean>,HappyHour:boolean,HasTV:boolean,Music:struct<background_music:boolean,dj:boolean,jukebox:boolean,karaoke:boolean,live:boolean,no_music:boolean,video:boolean>,NoiseLevel:string,Open24Hours:boolean,OutdoorSeating:boolean,RestaurantsAttire:string,RestaurantsCounterService:boolean,RestaurantsDelivery:boolean,RestaurantsGoodForGroups:boolean,RestaurantsPriceRange2:bigint,RestaurantsReservations:boolean,RestaurantsTableService:boolean,RestaurantsTakeOut:boolean,Smoking:string,WheelchairAccessible:boolean,WiFi:string>'),
 ('business_id', 'string'),
 ('categories', 'array<string>'),
 ('city', 'string'),
 ('hours',
  'struct<Friday:string,Monday:string,Saturday:string,Sunday:string,Thursday:string,Tuesday:string,Wednesday:string>'),
 ('is_open', 'bigint'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('name', 'string'),
 ('neighborhood', 'string'),
 ('postal_code', 'string'),
 ('review_count', 'bigint'),
 ('stars', 'double'),
 ('state', 'string')]

In [46]:
dat = dat.select('business_id','time')
print type(dat)

<class 'pyspark.sql.dataframe.DataFrame'>

In [47]:
print type(bus)

<class 'pyspark.sql.dataframe.DataFrame'>

In [56]:
# Comput summary stats
bus.describe().show()

+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+
|summary|             address|         business_id|          city|           is_open|         latitude|         longitude|              name|neighborhood|      postal_code|     review_count|             stars|             state|
+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+
|  count|              156639|              156639|        156639|            156639|           156638|            156638|            156639|      156639|           156639|           156639|            156639|            156639|
|   mean|               100.0|                null|          null|0.8443746448840965|38.58503346156786|-92.85648501648475|1640.7142857142858|        null|69597.35170000169|30.23815907915653|3.6471536462822156|              10.5|
| stddev|                 NaN|                null|          null|0.3625009556909082|5.399870713096596|  26.5577409022683|2436.5837821574137|        null|25802.54978851018|96.48663109958207|0.9776404753139669|26.071330723886835|
|    min|                    |--6MefnULPED_I942...|              |                 0|       -36.086009|    -142.466649843|  "T"s Hair Affair|            |                 |                3|               1.0|                01|
|    max|​2051 Rue de la M...|zzzaIBwimxVej4tY6...|Île-des-Soeurs|                 1|    89.9993137156|        115.086769|  ​Century Library|   Yorkville|         YO22 5LY|             6979|               5.0|               ZET|
+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+

In [20]:
dat

DataFrame[business_id: string, time: struct<Friday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Monday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Saturday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Sunday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Thursday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Tuesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Wednesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>>]

In [24]:
# count num of unique classes (rows) in a column
dat.select(col("time")).distinct().count()

120782

In [48]:
# we can do an aggregate count to see the distribution of the classes
dat.groupBy(col("business_id")).count().collect()

[Row(business_id=u'y8e07i7HPWuYVQzg_2RbxA', count=1),
 Row(business_id=u'68htH_xVthYKRxvpTpu2ew', count=1),
 Row(business_id=u'yuBzzarZ13pt8UpspSxOBg', count=1),
 Row(business_id=u'CqTPLUHBM9AM3TEqPn0krg', count=1),
 Row(business_id=u'0859wfd1BQHG46Zpwhc0ZQ', count=1),
 Row(business_id=u'G-AW1PNolA2XnADKqqJO_A', count=1),
 Row(business_id=u'VmSrPPO2WXmOKjUW7pDGsQ', count=1),
 Row(business_id=u'FVgHb9w4pnkRBV5bZYJaZA', count=1),
 Row(business_id=u'xZpZvAqZSla5c72CuNKnJA', count=1),
 Row(business_id=u'zhBkNLn2KPnh5-NIueXVHA', count=1),
 Row(business_id=u'ARkNkb3EJzA42PqMC5VMbA', count=1),
 Row(business_id=u'OZJniEO9I-PqavZYuyNjng', count=1),
 Row(business_id=u'oF054vcRTDNx88qxBGzhFw', count=1),
 Row(business_id=u'4XMhO5LyfFHq5rdFHkXfXQ', count=1),
 Row(business_id=u'Cl-xl1vTUwHeaGgBxzdTRA', count=1),
 Row(business_id=u'XIAbir-WvErgW6xjB6YRlA', count=1),
 Row(business_id=u'rWxAgLSI0Sk1MCpQGd5HDQ', count=1),
 Row(business_id=u'SubDWJhpXWLs-TMNQxE67Q', count=1),
 Row(business_id=u'KkyOeKAro4Dp3q685kDwzw', count=1),
 Row(business_id=u'r-W1HPIZ3V6S2DaXhs9EbQ', count=1),
 Row(business_id=u'h5SORyAizX0G7PDDifdxaw', count=1),
 Row(business_id=u'VHsNB3pdGVcRgs6C3jt6Zg', count=1),
 Row(business_id=u'G58YATMKnn-M-RUDWg3lxw', count=1),
 Row(business_id=u'vnNRBq0zVIH-k1BA91mw5w', count=1),
 Row(business_id=u'RsREl3LkFGiwbt3kGIX4Eg', count=1),
 Row(business_id=u'eQtt74yBLdDSBm0fin-LxQ', count=1),
 Row(business_id=u'5ZBaDWQD5nAw0j1XwOvf3w', count=1),
 Row(business_id=u'bLdvAHB3y55gHGoRGD6MJw', count=1),
 Row(business_id=u'zVc-yrDA3O38Kw8ldqbykg', count=1),
 Row(business_id=u'DzKvbqD1JQPOr5pti35tfQ', count=1),
 Row(business_id=u'lX2N9IYRSi03dgzb6cRW6g', count=1),
 Row(business_id=u'GKXkf6oCvw3KsVtBHis93g', count=1),
 Row(business_id=u'7coCBjZNMJ48BD2taPKgHQ', count=1),
 Row(business_id=u'pFV2dafAgiZrPUNAAoMxMQ', count=1),
 Row(business_id=u'd3ejBz2NzRmEldiD2bBOwg', count=1),
 Row(business_id=u'Wz1GoNeOL0ZBr1aGoUOkBg', count=1),
 Row(business_id=u'Fk9QfjQUN1GUB3dyoVOomg', count=1),
 Row(business_id=u'T-Q3XeK2A3L8dY5zC2R-YA', count=1),
 Row(business_id=u'RtUvSWO_UZ8V3Wpj0n077w', count=1),
 Row(business_id=u'5NMeRaauKmR2jX46X9hIzw', count=1),
 Row(business_id=u'aiAYA0SKz-wRDj04gaqVxQ', count=1),
 Row(business_id=u'RjBvXOV2PX2-_TyKSD52Fw', count=1),
 Row(business_id=u'vN6cLw7KKw62vbwOV6XrZw', count=1),
 Row(business_id=u'x8MADR52s3fkToFHrsAHaQ', count=1),
 Row(business_id=u'JZwfJArd9KSaLPPDLoWp-A', count=1),
 Row(business_id=u'shkzhsxFgCvJhcAaLcKMfw', count=1),
 Row(business_id=u'0yCm3iMvH5q5H3o0Wdi0yA', count=1),
 Row(business_id=u'On-pcs9mLEUSb0Lx_7eDBw', count=1),
 Row(business_id=u'4i9oHhKotVFRzSSuwQ0qAA', count=1),
 Row(business_id=u'09p3b5BCSz2FPvgR-8xz3A', count=1),
 Row(business_id=u'VIK_VpbjDHn4w9jSVZYOPA', count=1),
 Row(business_id=u'HSQcxCrtiTPNIX5XGZaJcQ', count=1),
 Row(business_id=u'zyJDdgxhBNBeKaTCcNMFlQ', count=1),
 Row(business_id=u'CrxbmDpzNmyTHfhLJSa6mQ', count=1),
 Row(business_id=u'FY60hIUaAKTzNwTwy5SpcA', count=1),
 Row(business_id=u'Xz26ZNV3z3x3Lb5LzhjPjQ', count=1),
 Row(business_id=u'EgNqQM_pzECJVJk1h08bGA', count=1),
 Row(business_id=u'FpFIAW_IEvASZBbusABbkA', count=1),
 Row(business_id=u't09gdNBVocRd30ZAU2MM_Q', count=1),
 Row(business_id=u'SZtQTQDYIx3eL4GmQ7wfiQ', count=1),
 Row(business_id=u'ZX-saj5bd5am4MUts7kuHQ', count=1),
 Row(business_id=u'SQUfO3XMRsN1_j5M6864fA', count=1),
 Row(business_id=u'KfD74RGocsp9vakR67mILQ', count=1),
 Row(business_id=u'oZnXZHrRAOzVfdopPp8KCQ', count=1),
 Row(business_id=u'9Vf__OXZkR7pyp0CbMN0Nw', count=1),
 Row(business_id=u'UdMrPZIXPTZfKhHBw_toKg', count=1),
 Row(business_id=u'_Z3uT_S66jD9Pr9jFVEZmw', count=1),
 Row(business_id=u'479J96u8SAhM8yTiwo0yrQ', count=1),
 Row(business_id=u'UQW34W90XPb5nCGBDVQPVA', count=1),
 Row(business_id=u'i0E1Kl7m_s5rv6c2wyDVAQ', count=1),
 Row(business_id=u'juNKWhkMynLaIHK4Yipxjw', count=1),
 Row(business_id=u'P-GCaDF4i1w9YkUM6YSK9g', count=1),
 Row(business_id=u'wTKMQD3nOwEKGZmtiiiGXA', count=1),
 Row(business_id=u'wwiLGg0Un113ezT75A8DCw', count=1),
 Row(business_id=u'5c7Eu7Kb8XrYRqwEz0E5ow', count=1),
 Row(business_id=u'RdpKADRzPOPQZ7QDTHqcTw', count=1),
 Row(business_id=u'CY0OhpyT8SL7Wsn1ar9dxA', count=1),
 Row(business_id=u'0XF5tnQeSZO8BG6OErfK3Q', count=1),
 Row(business_id=u'sHnN3JliwVWvGX76Odmlbw', count=1),
 Row(business_id=u'ObaUu9g-ZKprCl2XmYL5iQ', count=1),
 Row(business_id=u'gMWmx_0qH5JWqDVPhPMs3A', count=1),
 Row(business_id=u'rt8yYbavl6IAUjwh66YeNQ', count=1),
 Row(business_id=u'kbSSGo6zRPSdBT-CwG2cNg', count=1),
 Row(business_id=u'4x8W4quFhhuTZlsoUHzVeA', count=1),
 Row(business_id=u'_UyDQw4PItyBV-C_x06jgg', count=1),
 Row(business_id=u'Jr0-xuQYSKzfjn6B0O-3hg', count=1),
 Row(business_id=u'tuikCn2ljRGN5QHZBnjoqA', count=1),
 Row(business_id=u'IdGtbpp-l1aDhwnKK580lw', count=1),
 Row(business_id=u'5RKam4Nu_DVxchvvX5Nnfw', count=1),
 Row(business_id=u'yJw-oz84KB70YoxRFMYBkQ', count=1),
 Row(business_id=u'Ef0G8SVxUOE8sXjNTb0zHQ', count=1),
 Row(business_id=u'RMjCnixEY5i12CiqnskiVw', count=1),
 Row(business_id=u'k5ufD47Z0t3rkyIYpXoT5Q', count=1),
 Row(business_id=u'6taPX2aLuzMK_aOO5rQ8ww', count=1),
 Row(business_id=u'R1ZZk5dR-INpaHw7imNLHg', count=1),
 Row(business_id=u'Lb17BCffIA3kLXMjA9UlgQ', count=1),
 Row(business_id=u'Gj7Hq19LbFputStAl4Jtyg', count=1),
 Row(business_id=u'IUrtJeDhJOvdBJXt--mHXg', count=1),
 Row(business_id=u'X2K-6-Aw6_7sQew9lPTB2A', count=1),
 Row(business_id=u'FRTT9VTGNgT65BgVuUHa7A', count=1),
 Row(business_id=u'aIt1_i09_gEw2XUEhkWGDA', count=1),
 Row(business_id=u'8d16ZFfXliQlVgQw7K70Cw', count=1),
 Row(business_id=u'E9QTQ4DOKo1UsGNmMX8sGQ', count=1),
 Row(business_id=u'4iY_gyKX2ogbem7ra8Ln6Q', count=1),
 Row(business_id=u'COL0SAJf-k7jVd2hLGM5Fg', count=1),
 Row(business_id=u'XErOb3obTwM_Kby23AIYfg', count=1),
 Row(business_id=u'Q7oKidQDV52LEPfiwizSNQ', count=1),
 Row(business_id=u'S91O3KYPlqqpCurYMKyREQ', count=1),
 Row(business_id=u'mOFCSkPUPKjISMDhvz02HQ', count=1),
 Row(business_id=u'_C8_oZAqeAtkqvpdXcz0XQ', count=1),
 Row(business_id=u'Vf2ncpEy2aY_OMUj020w2w', count=1),
 Row(business_id=u'74QS_MlNR1eKf6fhLxkflg', count=1),
 Row(business_id=u'MAXMZMUEprc7rUMeoXrarw', count=1),
 Row(business_id=u'Lb_1Mmoig1qGE2z8U4lXPw', count=1),
 Row(business_id=u'5aE6Ph2-IkRNzR4T559rCA', count=1),
 Row(business_id=u'X6jKCn5FoRiJ1t7y4CWc7Q', count=1),
 Row(business_id=u'D3O7tgtvP0CC9c8NQ2LERQ', count=1),
 Row(business_id=u'KU74tO1KWfoQMh_WxxRX9w', count=1),
 Row(business_id=u'wbtyPzzDbzy5t0-lVn6HYA', count=1),
 Row(business_id=u'OJAGq2tKzlwNuWmUX00I5g', count=1),
 Row(business_id=u'1pSnogYq1-nuDlZJ1_XWqw', count=1),
 Row(business_id=u'_crm3cMcEe1PX4H1Uap_AQ', count=1),
 Row(business_id=u'fYqr99HXATERIGXQmjSgmw', count=1),
 Row(business_id=u'5HeI2iev-JWFI-S8CWmK6w', count=1),
 Row(business_id=u'WYCDOWMIS348c8GkFT7QtQ', count=1),
 Row(business_id=u'9hBjuOMiCGIbB7T-xwy96A', count=1),
 Row(business_id=u'M7dW8WCWN7KlcdA2NxaYvg', count=1),
 Row(business_id=u'Ty4YiSPq6lhdzXUNCWHNZw', count=1),
 Row(business_id=u'GJ2TXArxyuF8f79WbHIdUg', count=1),
 Row(business_id=u'x1fAxB2NjqMErz-tqestEQ', count=1),
 Row(business_id=u'Xz5PO5UllsZfYn6jqb3c7g', count=1),
 Row(business_id=u'7u8PwKlfk7rKIPfe7nRt7A', count=1),
 Row(business_id=u'KARmKZSvsT2oxXrhi_5zJA', count=1),
 Row(business_id=u'lscr437pQNiDcw591FGWmw', count=1),
 Row(business_id=u'lt8IW9Bpy9GMeKGxytefVA', count=1),
 Row(business_id=u'vZyF3o30_m_-Pp5u0DkLoQ', count=1),
 Row(business_id=u'YYztMMdcudL4xuSF29yelQ', count=1),
 Row(business_id=u'ZUf-zw_tS6uhoRy3UBXv5g', count=1),
 Row(business_id=u'yaHyPn3zfLPK46NpvtqlPw', count=1),
 Row(business_id=u'NDZAQuVpv_KZuSjKYpXf5Q', count=1),
 Row(business_id=u'Cml4Yt5cTx64cOManHe-Gw', count=1),
 Row(business_id=u'oIEmXWLtoh5blz-iwI8MZQ', count=1),
 Row(business_id=u'mI17MpWybqUw2_6WZ0stgg', count=1),
 Row(business_id=u'QMIw7yNXbREJUD_tiMWmNQ', count=1),
 Row(business_id=u'KfY3avdRgbKFdRSC1kGBsA', count=1),
 Row(business_id=u'5TXQxcwEfqzBDbMq2zmBPQ', count=1),
 Row(business_id=u'h1-4nshFVK7GlOOmSQNN4Q', count=1),
 Row(business_id=u'5Rduolg9SjUpg39hTm9M6g', count=1),
 Row(business_id=u'fpHDA-5doPR-XyBhEEwVkw', count=1),
 Row(business_id=u'5LZhDRyz3q_UNZ29c8uScQ', count=1),
 Row(business_id=u'Us67uenyjsmaqqgZ61x8Ug', count=1),
 Row(business_id=u'yGjuMgFdYML350jYX42qvg', count=1),
 Row(business_id=u'eHgxuooEDnjsmmckxPcKHQ', count=1),
 Row(business_id=u'vpMA2fxVshItiNM9sx2PQA', count=1),
 Row(business_id=u'thB9W0l0He6w1TCl3cZkzA', count=1),
 Row(business_id=u'8TmfNRccItILB8XMI7pnbw', count=1),
 Row(business_id=u'2gOMg3fgm0gfXVuMaPLwdA', count=1),
 Row(business_id=u'mSvSGWI8rQN05fj7rezh7Q', count=1),
 Row(business_id=u'EDX7fE_a9k6f6gku_Xj58g', count=1),
 Row(business_id=u'XgX0JhqleOnH-ezSe5rBfg', count=1),
 Row(business_id=u'SLk2g7Lem-szfRAV5b2hoQ', count=1),
 Row(business_id=u'IJUCRd5v-XLkcGrKjb8IfA', count=1),
 Row(business_id=u'KuDmCggBq6zwxc8CSJxLdQ', count=1),
 Row(business_id=u'nTy5IQrxSCtuMhmMML5R-Q', count=1),
 Row(business_id=u'j2bx_ctb_ED3zbfSaqhQmQ', count=1),
 Row(business_id=u'rB3ekMqnE8gf9bQDfa3ocw', count=1),
 Row(business_id=u'ofQjrbfKDm1clYI3y8Tx5w', count=1),
 Row(business_id=u'dk1MV0MP32Xq-iBxzewl0A', count=1),
 Row(business_id=u'8aJVSZl1kxBZEHVKq_tG9w', count=1),
 Row(business_id=u'QHQtTHZ1K1yPhjYJ1PMhxA', count=1),
 Row(business_id=u'2zmKeAu1mSyT9gnFxdmQGw', count=1),
 Row(business_id=u'Yb_vynxYrpw-QM3cXPx0hQ', count=1),
 Row(business_id=u'2BbFeotL85cIaBjSq1SWiA', count=1),
 Row(business_id=u'BEeGpvyh4Ufdkmf4JGItyw', count=1),
 Row(business_id=u'cvtRsytNv8EKxoKRUwZxNQ', count=1),
 Row(business_id=u'orvDK3kwkIZ7iS0UTnYo2w', count=1),
 Row(business_id=u'M9N2eaO8PkT7MHGLLA6V3Q', count=1),
 Row(business_id=u'UVP89cBCQiu0CHolVy2-_w', count=1),
 Row(business_id=u'FQ9Q_WmEcAjHeyLzGq86mg', count=1),
 Row(business_id=u'qtsrM6Xxh1LqxG0X6K6tuQ', count=1),
 Row(business_id=u'-TGwtTiieh_JLml5_VRMQA', count=1),
 Row(business_id=u'NLNYfvnhQt-cG5ryXuV0Iw', count=1),
 Row(business_id=u'mHb5PqEb2qETQEPQXVVR-Q', count=1),
 Row(business_id=u'1LoUdXkiRjio2LnVIkK0lg', count=1),
 Row(business_id=u'ZNgtvtGm3geLUEiLsWR9NQ', count=1),
 Row(business_id=u'mWmGtC5J9nxXo7wPCipZ6g', count=1),
 Row(business_id=u'nfSCAPBh1IoEznoJZrprWA', count=1),
 Row(business_id=u'rNKaormrHcdJhA_HDmUe6A', count=1),
 Row(business_id=u'vXyK9-N8U7LI1iHmX25icg', count=1),
 Row(business_id=u'hMh9XOwNQcu31NAOCqhAEw', count=1),
 Row(business_id=u'dYZqJ2S1ND9KghLIKJg71g', count=1),
 Row(business_id=u'm3ENrv6bKW8h44bMyBAOOQ', count=1),
 Row(business_id=u'TCJoCBGnR_mrVBNRUKv-RQ', count=1),
 Row(business_id=u'DEBqmgxv2yhJ93LqGpKltg', count=1),
 Row(business_id=u'Gmm9E09XDh8CxdFwYsoZRg', count=1),
 Row(business_id=u'fQGKkwj1FNpjUsDSqmUP_w', count=1),
 Row(business_id=u'yEtGKrzpREur6uYFQP2OHA', count=1),
 Row(business_id=u'GfkFg7W6zYpUXixAPYamJg', count=1),
 Row(business_id=u'oMt3FrXtmYiP2ayn46PHtQ', count=1),
 Row(business_id=u'cz5vz-893D3LNH3TMQYR1w', count=1),
 Row(business_id=u'686oeWNsbc-aczplCFa_0g', count=1),
 Row(business_id=u'B1Zv1S14pIN3Lojio-4HQw', count=1),
 Row(business_id=u'j-6MgWWlotFZAQ23LZrTPQ', count=1),
 Row(business_id=u'E47l-PZHwHDrlQGbYS--Yw', count=1),
 Row(business_id=u'mtTxLi9CZNOsDqOTJH3pQw', count=1),
 Row(business_id=u'L7iOEZLuvd3vHoX8Efi_hw', count=1),
 Row(business_id=u'iOhHDavGdswJQlPW5luGaw', count=1),
 Row(business_id=u'd1uVP41UPeLP_l_5NLjbaw', count=1),
 Row(business_id=u'6endExgPSftR-SUu1oSfkA', count=1),
 Row(business_id=u'9_6tbOz5x9qvQEPcl4itPw', count=1),
 Row(business_id=u'ASXvXm-_-Tm37diPmEZpLg', count=1),
 Row(business_id=u'fCKp6U0QFHOdpud7QDf3cA', count=1),
 Row(business_id=u'EBFFqA01zsV6vUKCYgq00Q', count=1),
 Row(business_id=u'DhOvRBU3IXi_vClfRWz4KA', count=1),
 Row(business_id=u'nYdBAqjpGuAYOtxSsWaiQQ', count=1),
 Row(business_id=u'sFJXHisNIoWF5Upmi5BbRw', count=1),
 Row(business_id=u'_ixV2SWDy7w8jzEAHp85qA', count=1),
 Row(business_id=u'HIown76a97kw1VlfMrPn9g', count=1),
 Row(business_id=u'-VAsjhmAbKF3Pb_-8rh3xg', count=1),
 Row(business_id=u'x1fx7C_tc064cFATjl4fmQ', count=1),
 Row(business_id=u'aJK0cFYpf0TlxDMRVxk89w', count=1),
 Row(business_id=u'eN1ndiARt7f957PkA8LBZg', count=1),
 Row(business_id=u'qcP9AhS2tAM_oAjZ_o7U4g', count=1),
 Row(business_id=u'oTO_xSzIzmcudG9Xp_HPog', count=1),
 Row(business_id=u'JQK98PnxzgjFQUF6X07LOg', count=1),
 Row(business_id=u'FcRf8dciFsQ9ZUj0B7yiOg', count=1),
 Row(business_id=u'TnKw2vPa-C1NyHBPAbGOTg', count=1),
 Row(business_id=u'nfGqXh8NKVYD6z26ZTXbMA', count=1),
 Row(business_id=u'HlYzk84INQaNslFT-lyBFw', count=1),
 Row(business_id=u'rtwojGcYuhbLbQ9D1Z2gSg', count=1),
 Row(business_id=u'7EnzO970Zdrd_gjIJJLfrQ', count=1),
 Row(business_id=u'-DgHX-Kzq8UX8yf6oFOMIw', count=1),
 Row(business_id=u'UhEhLSJrPRoiYWdHfJQxfw', count=1),
 Row(business_id=u'4yYzxusSRcW85e2SBo0W4g', count=1),
 Row(business_id=u'JMkBrqzBKFtVgmpyAy3jKQ', count=1),
 Row(business_id=u'-qL-wX-UuMaHDBA2X5G4kw', count=1),
 Row(business_id=u'gn5Zl9_lufmQOVH_zC7SKw', count=1),
 Row(business_id=u'6yq3tBebgs1AY5u-AZqr2A', count=1),
 Row(business_id=u'sOs9goJyHT5Ggu1hTsp3kg', count=1),
 Row(business_id=u'zhT6PXyerupZzXL-smu-ZQ', count=1),
 Row(business_id=u'IO0r61EIoVjzqkUrJMegRA', count=1),
 Row(business_id=u'uXGX-eUxcPH0--Uk1mGQkw', count=1),
 Row(business_id=u'Zo3fwmOUaDpKvUhLNp9erA', count=1),
 Row(business_id=u'9ypHY6MNp3CDDdQJ_d817A', count=1),
 Row(business_id=u'7hfii7_xS4zoM-nVpOHqJw', count=1),
 Row(business_id=u'56HZLqQOcS1FSXqYG-3vLg', count=1),
 Row(business_id=u'zv9qQFsaV8llwyIZKHHhcA', count=1),
 Row(business_id=u'swjtngLqgwiYbxAiPDrzBg', count=1),
 Row(business_id=u's5345m9QBKwZrliFQ9FcfA', count=1),
 Row(business_id=u'fidJNpp51eCf5bAMPRlKBg', count=1),
 Row(business_id=u'M4D-cZ9_9Bw-gMi0dlrAyQ', count=1),
 Row(business_id=u'YjPWt-V5oMkakdRWrALb8g', count=1),
 Row(business_id=u'tXqRz6yiR_GjZr_-wO9nng', count=1),
 Row(business_id=u'MGPdqitucDiq3T3gQWUXXA', count=1),
 Row(business_id=u'TdefcbsFAj6WXHwlGQHIbA', count=1),
 Row(business_id=u'sGyBe14qNT96qycXdo78bQ', count=1),
 Row(business_id=u'dpe7iL_qDhp-Y-xNGJTSyg', count=1),
 Row(business_id=u'9MnaCeQNhCoELDkpHYKDqQ', count=1),
 Row(business_id=u'i69tc6p5oH5dF2WZYueebQ', count=1),
 Row(business_id=u'wZd5qM_ofX2nGqWSzNQVGw', count=1),
 Row(business_id=u'yB5FMuc9Y3oyhsOmuIZSpQ', count=1),
 Row(business_id=u'12ZCvo5eJShrpxwzvxAVxQ', count=1),
 Row(business_id=u'ltFKG-ax36W_B9mUR4IrQQ', count=1),
 Row(business_id=u'U2SepNV2djq1hgk4WxL1mQ', count=1),
 Row(business_id=u'QECbD4PR3vnhodR13QTokA', count=1),
 Row(business_id=u'6QRY4tMQdHFOe2-_CUHMdA', count=1),
 Row(business_id=u'RdOz1AUEYmt_2hJm4A_YFQ', count=1),
 Row(business_id=u'UXSEnQKbKTu3Ku0U3V6kYw', count=1),
 Row(business_id=u'6fxKszI1miBwVnVMcXYTMg', count=1),
 Row(business_id=u'Ch7NAhB_MWSDwcNbcptEKg', count=1),
 Row(business_id=u'aNOZxz80w0fv4mYLB2VXfA', count=1),
 Row(business_id=u'_c3nvLf3MH785o86xX0zdw', count=1),
 Row(business_id=u'yrpFPFl8qr1zIQnlCG6YWw', count=1),
 Row(business_id=u'zSFutuGG7NcL60-N9g-EUw', count=1),
 Row(business_id=u'_9u7I2RN0NEJnWaP2zhWsQ', count=1),
 Row(business_id=u'o8uCIT_YDDDr9KExfSjsUw', count=1),
 Row(business_id=u'A7wGJiqqTnaFpsKLsmkFww', count=1),
 Row(business_id=u'aZbbt_RPKV8vUY7GWiEEyw', count=1),
 Row(business_id=u'BQMVcJQV70gUQjwi7-MrSg', count=1),
 Row(business_id=u'OcGtUr_TsmYdJ0jqwP6TCw', count=1),
 Row(business_id=u'19m3NtbbP2VX-tDFJB1lKQ', count=1),
 Row(business_id=u'TptdGz1YIQby7uvvAYYk7g', count=1),
 Row(business_id=u'kVqddTBFpDVU-5NWpxh95g', count=1),
 Row(business_id=u'iLTwwBRj8qMRaecv2R3Zwg', count=1),
 Row(business_id=u'fNMVV_ZX7CJSDWQGdOM8Nw', count=1),
 Row(business_id=u'eIMgmdrHuVJDbxqfXmixIw', count=1),
 Row(business_id=u'D-CykxLr_NJe1fI4e93hLg', count=1),
 Row(business_id=u'Yemfgx9S_UzK9Rbqpbl6nA', count=1),
 Row(business_id=u'74LU6K2ro5AQXKT0Jf0SPw', count=1),
 Row(business_id=u'7_1W86xkmLyBtyEdppLcmA', count=1),
 Row(business_id=u'h8eDSoKHpp-4l5G5_JPtFA', count=1),
 Row(business_id=u'4lpsDd9CuMxRX50Sj7qpcA', count=1),
 Row(business_id=u'rbH0HuTcBvZBbiAnqufRqQ', count=1),
 Row(business_id=u'dMuwrXqkNMJKx7JbbETTHQ', count=1),
 Row(business_id=u'MEoDTsA3Af6TLzB7Z_7oDw', count=1),
 Row(business_id=u'eX0gxf7XCvemFDxhiuoqVg', count=1),
 Row(business_id=u'Ipkl7KtlqxCe8bMMkwHwPQ', count=1),
 Row(business_id=u'oVTvVdJiaRAwBLy6HUxE8A', count=1),
 Row(business_id=u'LRutQ1JxycXkjKeYot5fRQ', count=1),
 Row(business_id=u'XvEvKbOIqbRgpjSFvB_89g', count=1),
 Row(business_id=u'nrBnY5Ii7hS2npGSuEwETA', count=1),
 Row(business_id=u'9plsFe_gSy-sgURNSBPITQ', count=1),
 Row(business_id=u'jXjglUcr2bDKdoV4lxnJ8A', count=1),
 Row(business_id=u'utlpwpi27nKQ6TyWHdCFMQ', count=1),
 Row(business_id=u'qg51yyLlAy-iVYs2lZ1MZA', count=1),
 Row(business_id=u'TTVwcuc1Nz4ZSZH4wnbxKQ', count=1),
 Row(business_id=u'nt2-Zk4FmGY2SYSDBI0gHw', count=1),
 Row(business_id=u'X26lmoKvv_KvW6WcAvWvrA', count=1),
 Row(business_id=u'4gjJWk8iGIcYb3yFJY_4DQ', count=1),
 Row(business_id=u'D1NNYrjfr6LwlIvrQVWPdg', count=1),
 Row(business_id=u'N3J76CRP2H52NUo4VFuS3A', count=1),
 Row(business_id=u'FXOcK7TQ-2KzDeI1wL3Xqg', count=1),
 Row(business_id=u'1NmGVWYlF4iMngM6arKJTQ', count=1),
 Row(business_id=u'kpbhERZoj1eTDRnMVU2BKA', count=1),
 Row(business_id=u'nNroLnN_dD5qc8hKJE-_Ag', count=1),
 Row(business_id=u'GHcaPJTiD9e9ylLl1itE0g', count=1),
 Row(business_id=u'cdkzUI1tXc8rUMF33iKMlg', count=1),
 Row(business_id=u'pCl4AY8gdqiKqUswxALKGQ', count=1),
 Row(business_id=u'gjQ20S96ScTc7LR_DY8SQQ', count=1),
 Row(business_id=u'4lCTd6-EzOuKl4YbH9gnxw', count=1),
 Row(business_id=u'mlc5N9qL6UYbtcwzVqgmzw', count=1),
 Row(business_id=u'bMOWg5Y6q9Cal6gWcoWEWw', count=1),
 Row(business_id=u'bDnaX6jPdunz3GK63n3T8Q', count=1),
 Row(business_id=u'GWL4lTetNBu5GVtIYUvKnQ', count=1),
 Row(business_id=u'fX0cAzTEhVD7nMYalgiGyQ', count=1),
 Row(business_id=u'2nnMxmgnYj0_WAG2GHwnhA', count=1),
 Row(business_id=u'jOqh0eVjqtUOpZ9AZgSazA', count=1),
 Row(business_id=u'H-Z3wjYrlRQ6Dw827ev3wg', count=1),
 Row(business_id=u'CHd3f2PONQqKhLcVw2hQTg', count=1),
 Row(business_id=u'Jr9A-8VLAn_fDuOtSXt92A', count=1),
 Row(business_id=u'2UgRg5a6KmpbD_SZfhNrKg', count=1),
 Row(business_id=u'DgCAM01n2Qo5DsoKj_zkug', count=1),
 Row(business_id=u'Va-2xSF5L1x5SYeXLK_eCQ', count=1),
 Row(business_id=u'6v44nmxUeIKqecQsZXgBYg', count=1),
 Row(business_id=u'93yfzr8B1s-mhan2WQf0KQ', count=1),
 Row(business_id=u'rBB5xNN0n5k29Pqq4mvNRw', count=1),
 Row(business_id=u'wwdQinGyTWueJiPtWWS3Gw', count=1),
 Row(business_id=u'hf_6wAfO9h7HN-P3bUr2MA', count=1),
 Row(business_id=u'-cxD1NimFldATDUsN-oa3A', count=1),
 Row(business_id=u'8xRBpeEcnLSIRaqYbF-JWg', count=1),
 Row(business_id=u'kQIFaTQW1Q4Lc8ksvyT9QQ', count=1),
 Row(business_id=u'l3V86Z6oAzpnwe1VYM4VPg', count=1),
 Row(business_id=u'gOCizq2d2ku1LKKX-byeDw', count=1),
 Row(business_id=u'kr5JmGtVl0pUq9-KB_91QA', count=1),
 Row(business_id=u'PBVjimhaGmeMC4sYIEiqQw', count=1),
 Row(business_id=u'tyAzb3qkrqT8QLdATbtFIQ', count=1),
 Row(business_id=u'hq2ODL1TUtotMoXsTyNQFQ', count=1),
 Row(business_id=u'Ehx9naw01nvjAGRsnUH4lA', count=1),
 Row(business_id=u'j0_CApMCHDJBYJg1XvUKnw', count=1),
 Row(business_id=u'SjgeuBlgKER9yegpoxT99w', count=1),
 Row(business_id=u'9dP5WPlF2pfjMOx2UeUFnA', count=1),
 Row(business_id=u'T4Zt2fVNGMyBMevAUOr3Wg', count=1),
 Row(business_id=u'gVnd11BK1KLJyX2ckTv0ow', count=1),
 Row(business_id=u'MLwEqYIQtbwHAZwgKTtP1w', count=1),
 Row(business_id=u'_Wyo52ijeq3QgcmkIrhmAQ', count=1),
 Row(business_id=u'JsUytp_MuZ4AX5JWfi2eLw', count=1),
 Row(business_id=u'5mLnpk7lJuZ8baMGZhwa5g', count=1),
 Row(business_id=u'GyxsS1eB1KacYn3fXBDkkg', count=1),
 Row(business_id=u'q1EeYFpt_E9tVo8_oBDgaA', count=1),
 Row(business_id=u'BMAflH82OUIMl2mHtP0MNQ', count=1),
 Row(business_id=u'lanV02KSZJve3G6iUGmaNQ', count=1),
 Row(business_id=u'YYWkJwfO1HApuHiW-8eq7Q', count=1),
 Row(business_id=u'ZW01IFHfXe_gwC9J8jyFEA', count=1),
 Row(business_id=u'dSkbWNyIVdrmzs-VZEiSbQ', count=1),
 Row(business_id=u'359ufd9xilrYy4tA67Io9g', count=1),
 Row(business_id=u'WGmeYEd6Kd3rHWVMO2IM6A', count=1),
 Row(business_id=u'tzrfPGnzyosishCk0Ww9aw', count=1),
 Row(business_id=u'yMKisHBS_Ia8Dr27ACErkA', count=1),
 Row(business_id=u'clXf1Kkl5ynDMBhKS9a_Vw', count=1),
 Row(business_id=u'DQ9FQQMN1aqrURn-NW4rEQ', count=1),

In [57]:
bus.filter(bus["longitude"]>24).show()

+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|     city|               hours|is_open| latitude| longitude|       name|neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+
|Green Valley Ranc...|[null,null,full_b...|Zmp2_b2gpSloz4Dv2...|[Italian, Restaur...|Henderson|[17:00-23:00,17:0...|      0|36.019323|115.086769|Terra Verde|            |      89052|          70|  3.5|   NV|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+

In [60]:
import pyspark.sql.functions as func
xx = bus.groupBy("postal_code").agg(func.max("stars"), func.sum("review_count"))

In [61]:
xx

DataFrame[postal_code: string, max(stars): double, sum(review_count): bigint]

In [62]:
#we can do the same thing in sql code
# we must first create a "view" of the data in order to execute SQL functions
bus.createOrReplaceTempView("bus")
spark.sql("SELECT COUNT(*) FROM bus GROUP BY neighborhood").collect()

[Row(count(1)=70),
 Row(count(1)=5),
 Row(count(1)=51),
 Row(count(1)=239),
 Row(count(1)=122),
 Row(count(1)=5),
 Row(count(1)=81),
 Row(count(1)=4),
 Row(count(1)=2),
 Row(count(1)=3),
 Row(count(1)=3237),
 Row(count(1)=12),
 Row(count(1)=8),
 Row(count(1)=4),
 Row(count(1)=3),
 Row(count(1)=100),
 Row(count(1)=58),
 Row(count(1)=7),
 Row(count(1)=234),
 Row(count(1)=6),
 Row(count(1)=13),
 Row(count(1)=99),
 Row(count(1)=531),
 Row(count(1)=13),
 Row(count(1)=1),
 Row(count(1)=110),
 Row(count(1)=254),
 Row(count(1)=63),
 Row(count(1)=367),
 Row(count(1)=1),
 Row(count(1)=2),
 Row(count(1)=2),
 Row(count(1)=10),
 Row(count(1)=4),
 Row(count(1)=133),
 Row(count(1)=5),
 Row(count(1)=14),
 Row(count(1)=314),
 Row(count(1)=42),
 Row(count(1)=18),
 Row(count(1)=1751),
 Row(count(1)=269),
 Row(count(1)=149),
 Row(count(1)=18),
 Row(count(1)=23),
 Row(count(1)=8),
 Row(count(1)=20),
 Row(count(1)=276),
 Row(count(1)=24),
 Row(count(1)=34),
 Row(count(1)=118),
 Row(count(1)=5),
 Row(count(1)=381),
 Row(count(1)=112),
 Row(count(1)=53),
 Row(count(1)=103),
 Row(count(1)=171),
 Row(count(1)=2),
 Row(count(1)=54),
 Row(count(1)=1),
 Row(count(1)=102),
 Row(count(1)=8),
 Row(count(1)=2),
 Row(count(1)=72),
 Row(count(1)=187),
 Row(count(1)=121),
 Row(count(1)=1),
 Row(count(1)=25),
 Row(count(1)=13),
 Row(count(1)=3),
 Row(count(1)=5),
 Row(count(1)=43),
 Row(count(1)=38),
 Row(count(1)=9),
 Row(count(1)=460),
 Row(count(1)=294),
 Row(count(1)=33),
 Row(count(1)=18),
 Row(count(1)=6),
 Row(count(1)=62),
 Row(count(1)=170),
 Row(count(1)=25),
 Row(count(1)=27),
 Row(count(1)=24),
 Row(count(1)=68),
 Row(count(1)=330),
 Row(count(1)=11),
 Row(count(1)=24),
 Row(count(1)=24),
 Row(count(1)=914),
 Row(count(1)=184),
 Row(count(1)=27),
 Row(count(1)=18),
 Row(count(1)=63),
 Row(count(1)=54),
 Row(count(1)=14),
 Row(count(1)=69),
 Row(count(1)=207),
 Row(count(1)=487),
 Row(count(1)=224),
 Row(count(1)=11),
 Row(count(1)=232),
 Row(count(1)=9),
 Row(count(1)=7),
 Row(count(1)=50),
 Row(count(1)=13),
 Row(count(1)=2),
 Row(count(1)=653),
 Row(count(1)=77),
 Row(count(1)=34),
 Row(count(1)=21),
 Row(count(1)=2),
 Row(count(1)=60),
 Row(count(1)=9),
 Row(count(1)=6),
 Row(count(1)=11),
 Row(count(1)=177),
 Row(count(1)=1160),
 Row(count(1)=69),
 Row(count(1)=22),
 Row(count(1)=15),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=164),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=313),
 Row(count(1)=41),
 Row(count(1)=2),
 Row(count(1)=148),
 Row(count(1)=49),
 Row(count(1)=213),
 Row(count(1)=1),
 Row(count(1)=167),
 Row(count(1)=8),
 Row(count(1)=19),
 Row(count(1)=95),
 Row(count(1)=18),
 Row(count(1)=92),
 Row(count(1)=34),
 Row(count(1)=1),
 Row(count(1)=73),
 Row(count(1)=260),
 Row(count(1)=16),
 Row(count(1)=3),
 Row(count(1)=41),
 Row(count(1)=6),
 Row(count(1)=62),
 Row(count(1)=4),
 Row(count(1)=354),
 Row(count(1)=127),
 Row(count(1)=48),
 Row(count(1)=84),
 Row(count(1)=67),
 Row(count(1)=5),
 Row(count(1)=4),
 Row(count(1)=1031),
 Row(count(1)=75),
 Row(count(1)=33),
 Row(count(1)=790),
 Row(count(1)=25),
 Row(count(1)=7),
 Row(count(1)=9),
 Row(count(1)=3),
 Row(count(1)=58),
 Row(count(1)=135),
 Row(count(1)=57),
 Row(count(1)=17),
 Row(count(1)=3082),
 Row(count(1)=101),
 Row(count(1)=193),
 Row(count(1)=2),
 Row(count(1)=1),
 Row(count(1)=2405),
 Row(count(1)=1433),
 Row(count(1)=100),
 Row(count(1)=10),
 Row(count(1)=132),
 Row(count(1)=309),
 Row(count(1)=147),
 Row(count(1)=36),
 Row(count(1)=494),
 Row(count(1)=223),
 Row(count(1)=36),
 Row(count(1)=30),
 Row(count(1)=3),
 Row(count(1)=43),
 Row(count(1)=12),
 Row(count(1)=47),
 Row(count(1)=43),
 Row(count(1)=7),
 Row(count(1)=71),
 Row(count(1)=234),
 Row(count(1)=47),
 Row(count(1)=37),
 Row(count(1)=8),
 Row(count(1)=6),
 Row(count(1)=10),
 Row(count(1)=2173),
 Row(count(1)=440),
 Row(count(1)=139),
 Row(count(1)=17),
 Row(count(1)=25),
 Row(count(1)=9),
 Row(count(1)=2),
 Row(count(1)=9),
 Row(count(1)=118),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=2),
 Row(count(1)=137),
 Row(count(1)=16),
 Row(count(1)=7),
 Row(count(1)=8),
 Row(count(1)=1),
 Row(count(1)=25),
 Row(count(1)=1),
 Row(count(1)=387),
 Row(count(1)=29),
 Row(count(1)=102),
 Row(count(1)=12),
 Row(count(1)=3),
 Row(count(1)=304),
 Row(count(1)=156),
 Row(count(1)=755),
 Row(count(1)=56),
 Row(count(1)=7),
 Row(count(1)=183),
 Row(count(1)=1381),
 Row(count(1)=607),
 Row(count(1)=168),
 Row(count(1)=217),
 Row(count(1)=42),
 Row(count(1)=4),
 Row(count(1)=197),
 Row(count(1)=267),
 Row(count(1)=112),
 Row(count(1)=121),
 Row(count(1)=251),
 Row(count(1)=201),
 Row(count(1)=1),
 Row(count(1)=81),
 Row(count(1)=3),
 Row(count(1)=20),
 Row(count(1)=4),
 Row(count(1)=43),
 Row(count(1)=16),
 Row(count(1)=2),
 Row(count(1)=155),
 Row(count(1)=81),
 Row(count(1)=74),
 Row(count(1)=10),
 Row(count(1)=19),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=153),
 Row(count(1)=355),
 Row(count(1)=185),
 Row(count(1)=2223),
 Row(count(1)=49),
 Row(count(1)=269),
 Row(count(1)=18),
 Row(count(1)=79),
 Row(count(1)=16),
 Row(count(1)=415),
 Row(count(1)=308),
 Row(count(1)=1),
 Row(count(1)=59),
 Row(count(1)=93),
 Row(count(1)=7),
 Row(count(1)=30),
 Row(count(1)=1),
 Row(count(1)=32),
 Row(count(1)=12),
 Row(count(1)=6),
 Row(count(1)=13),
 Row(count(1)=333),
 Row(count(1)=155),
 Row(count(1)=28),
 Row(count(1)=235),
 Row(count(1)=56),
 Row(count(1)=3),
 Row(count(1)=162),
 Row(count(1)=3),
 Row(count(1)=25),
 Row(count(1)=31),
 Row(count(1)=203),
 Row(count(1)=19),
 Row(count(1)=78),
 Row(count(1)=89),
 Row(count(1)=108),
 Row(count(1)=29),
 Row(count(1)=2),
 Row(count(1)=3),
 Row(count(1)=1187),
 Row(count(1)=8),
 Row(count(1)=588),
 Row(count(1)=13),
 Row(count(1)=6),
 Row(count(1)=63),
 Row(count(1)=33),
 Row(count(1)=47),
 Row(count(1)=151),
 Row(count(1)=23),
 Row(count(1)=2),
 Row(count(1)=171),
 Row(count(1)=53),
 Row(count(1)=433),
 Row(count(1)=8),
 Row(count(1)=94),
 Row(count(1)=83),
 Row(count(1)=42),
 Row(count(1)=402),
 Row(count(1)=68),
 Row(count(1)=6),
 Row(count(1)=2627),
 Row(count(1)=42),
 Row(count(1)=31),
 Row(count(1)=63),
 Row(count(1)=1714),
 Row(count(1)=61),
 Row(count(1)=92),
 Row(count(1)=94403),
 Row(count(1)=12),
 Row(count(1)=12),
 Row(count(1)=16),
 Row(count(1)=15),
 Row(count(1)=78),
 Row(count(1)=48),
 Row(count(1)=48),
 Row(count(1)=37),
 Row(count(1)=4),
 Row(count(1)=378),
 Row(count(1)=6),
 Row(count(1)=79),
 Row(count(1)=189),
 Row(count(1)=7),
 Row(count(1)=138),
 Row(count(1)=872),
 Row(count(1)=215),
 Row(count(1)=5),
 Row(count(1)=729),
 Row(count(1)=135),
 Row(count(1)=44),
 Row(count(1)=27),
 Row(count(1)=5),
 Row(count(1)=49),
 Row(count(1)=10),
 Row(count(1)=47),
 Row(count(1)=19),
 Row(count(1)=77),
 Row(count(1)=212),
 Row(count(1)=29),
 Row(count(1)=1),
 Row(count(1)=279),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=430),
 Row(count(1)=10),
 Row(count(1)=449),
 Row(count(1)=291),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=282),
 Row(count(1)=89),
 Row(count(1)=110),
 Row(count(1)=12),
 Row(count(1)=61),
 Row(count(1)=316),
 Row(count(1)=11),
 Row(count(1)=374),
 Row(count(1)=18),
 Row(count(1)=3),
 Row(count(1)=992),
 Row(count(1)=120),
 Row(count(1)=23),
 Row(count(1)=39),
 Row(count(1)=13),
 Row(count(1)=134),
 Row(count(1)=27),
 Row(count(1)=262),
 Row(count(1)=84),
 Row(count(1)=27)]

In [64]:
spark.sql("SELECT * FROM bus").show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [28]:
#Convert string types(categorical) to integerTypes
types = [str(f.dataType) for f in dat.schema.fields]
ind_str = [i for i in range(len(types)) if types[i] is 'StringType']
ind_int = [i for i in range(len(types)) if types[i] is 'IntegerType']
stringcol= [dat.columns[i] for i in ind_str]
intcol = [dat.columns[i] for i in ind_int]
print(stringcol)
print(intcol)
del ind_str, ind_int, types

['business_id']
[]

In [33]:
dat = dat.drop('ID')
dat.drop?

In [34]:
# remove all string columns
for colname in stringcol:
    dat = dat.drop(colname)
    
# remove 'business_id' from inttype list
intcol = intcol[1:]

In [35]:
intcol

[]

In [69]:
print type('s')

<type 'str'>

In [80]:
# apply a user defined function (UDF)
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

taste_udf = udf(lambda stars: "haeven" if stars == 5 else "mediocore", StringType())

In [85]:
print bus['stars']

Column<stars>

In [86]:
print bus.select('stars').show()

+-----+
|stars|
+-----+
|  4.5|
|  3.5|
|  2.0|
|  3.5|
|  3.5|
|  5.0|
|  2.5|
|  3.0|
|  4.0|
|  4.5|
|  5.0|
|  4.5|
|  3.0|
|  3.5|
|  4.5|
|  2.5|
|  4.0|
|  3.5|
|  4.0|
|  4.0|
+-----+
only showing top 20 rows

None

In [90]:
# Add new column
print taste_udf(bus.stars)
# Add new column
buste = bus.withColumn('tastebud', taste_udf(bus.stars))

Column<<lambda>(stars)>

In [91]:
print buste.show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state| tastebud|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|mediocore|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|mediocore|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|mediocore|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|mediocore|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|mediocore|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|   haeven|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|mediocore|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|mediocore|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|mediocore|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|mediocore|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|   haeven|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|mediocore|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|mediocore|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|mediocore|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|mediocore|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|mediocore|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|mediocore|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|mediocore|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|mediocore|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|mediocore|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
only showing top 20 rows

None

In [93]:
#  Implement an ML model
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = bus['categories']

In [94]:
print categoricalColumns

Column<categories>

In [ ]:
# https://docs.databricks.com/spark/latest/mllib/binary-classification-mllib-pipelines.html
# (Optional) Implement Cross validations
# (Optional) identify a problem and fill out a diagnostics form

In [95]:
spark.stop()