## Goals for this deliverable:
- Do data transformation
- Subset columns and filter rows by using .select() or .where()
- use a groupby() operation and an aggregate function .agg() ( sum by group, average by group etc)
- use distinct(), count() operation
- For those of you who know sql, do a sql operation on a table
    - Register the table view
    - run sql query using spark.sql("SELECT....")
- Create a new column using .withColumnNamed()
- Apply a user defined function (UDF)

### Do a bit more exploration after we have gotten the syntax. 

Think of what one might do with these data:
- What are properties of average Yelp users?
- Age, gender distribution, average number of checkin,â€¦?
- What types of food restaurants are rated higher?
- vegetarian restaurant, pub, steak restaurant, family restaurant, etc?
- New Yorkers are more likely to give higher review scores than people in other states?
- Female users tends to give higher review scores (and / or) more review counts than male users?
- More restaurants with high review scores in New York than other states?

In [6]:

import findspark  # this needs to be the first import                                                                        
findspark.init()

# jupyter notebook &

from pyspark.sql import DataFrame
from pyspark.sql import *
from pyspark.ml import Pipeline
from pyspark.ml.classification import *
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.ml.tuning import *
from pyspark.ml.feature import Imputer


import numpy as np
import pandas as pd
import scipy as sc

In [7]:

from pyspark import SparkContext
from pyspark.sql.session import SparkSession
try:
    sc = SparkContext()     
except ValueError:
    pass
# spark = SparkSession(sc)


spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
    
    
# from DaeWon
# establish a spark session with 50 executors
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .master("yarn") \
        .appName("testing") \
        .config("spark.executor.instances", "70") \
        .config("spark.executor.memory","4g") \
        .config("spark.driver.memory","30g") \
        .config("spark.executor.cores",'1') \
        .config("spark.scheduler.mode","FIFO") \
        .getOrCreate()

In [8]:
#  spark.read.json?

In [9]:
# dat = spark.read.json('./dataset/checkin.json').repartition(150)     # from local machine
dat = spark.read.json('hdfs://localhost:9000/yelp/checkin.json').repartition(150)    # from hadoop; for port, see etc/hadoop/core-site.xml 
dat.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- time: struct (nullable = true)
 |    |-- Friday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Monday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Saturday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Sunday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Thursday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Tuesday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)
 |    |-- Wednesday: struct (nullable = true)
 |    |    |-- 0:00: long (nullable = true)
 |    |    |-- 10:00: long (nullable = true)
 |    |    |-- 11:00: long (nullable = true)
 |    |    |-- 12:00: long (nullable = true)
 |    |    |-- 13:00: long (nullable = true)
 |    |    |-- 14:00: long (nullable = true)
 |    |    |-- 15:00: long (nullable = true)
 |    |    |-- 16:00: long (nullable = true)
 |    |    |-- 17:00: long (nullable = true)
 |    |    |-- 18:00: long (nullable = true)
 |    |    |-- 19:00: long (nullable = true)
 |    |    |-- 1:00: long (nullable = true)
 |    |    |-- 20:00: long (nullable = true)
 |    |    |-- 21:00: long (nullable = true)
 |    |    |-- 22:00: long (nullable = true)
 |    |    |-- 23:00: long (nullable = true)
 |    |    |-- 2:00: long (nullable = true)
 |    |    |-- 3:00: long (nullable = true)
 |    |    |-- 4:00: long (nullable = true)
 |    |    |-- 5:00: long (nullable = true)
 |    |    |-- 6:00: long (nullable = true)
 |    |    |-- 7:00: long (nullable = true)
 |    |    |-- 8:00: long (nullable = true)
 |    |    |-- 9:00: long (nullable = true)

In [10]:
# _dum = spark.read.json('yelp/checkin.json').respartition(150)

In [11]:
# bus = spark.read.json('./dataset/business.json').repartition(150)
# bus.printSchema()

# phot = spark.read.json('./dataset/photos.json').repartition(150)
# phot.printSchema()

bus = spark.read.json('hdfs://localhost:9000/yelp/business.json').repartition(150)
# bus.printSchema()

phot = spark.read.json('hdfs://localhost:9000/yelp/photos.json').repartition(150)
# phot.printScheme()

review= spark.read.json('hdfs://localhost:9000/yelp/review.json').repartition(150)
# phot.printScheme()

In [12]:
print dat.count()
print bus.count()
print phot.count()
print review.count()

135148
156639
196278
4736897

In [13]:
dat.rdd.getNumPartitions()

150

In [14]:
dat.show()

+--------------------+--------------------+
|         business_id|                time|
+--------------------+--------------------+
|b2596IQibXyco49ct...|[[1,null,null,nul...|
|1njD5p7-FvV8uoHzw...|[[null,null,null,...|
|gE80aKaybUL4SZZE4...|[[null,null,null,...|
|2tMuTCM-UxbCjyxTL...|[null,null,[null,...|
|mzGrMnuHJpPJEF7E4...|[null,null,[1,nul...|
|w9nB3j5ElUThCkgXQ...|[null,null,null,n...|
|Nwd3NkLVZD85zAV_n...|[[1,null,null,nul...|
|ZjwBMsW0tmS7sAYnM...|[null,[null,null,...|
|TzRK4L5ZpZv71cArM...|[[1,null,null,nul...|
|uLdJrH2rJwULKLopi...|[[null,null,null,...|
|d0_yLkH7u16tlcvvU...|[[null,null,null,...|
|DqNpyLa9CWN3YKaIG...|[[null,1,null,nul...|
|k0pZyGb_oBdFpcekM...|[null,[null,null,...|
|oH3V-79Cldz_6sWXi...|[[null,null,1,nul...|
|1y64UsTx6ikxoaCAY...|[[null,null,null,...|
|X209KCF2ex6VvNJcb...|[[1,1,1,null,3,nu...|
|0mj6WOkZnwrdcWYlG...|[[null,null,2,nul...|
|XG0twdTiMzUS3v3p9...|[[1,null,null,nul...|
|85ot7LGtfcr8pj5yK...|[null,[null,null,...|
|YhLrPdDWKd26l-fIG...|[[1,null,null,nul...|
+--------------------+--------------------+
only showing top 20 rows

In [15]:
dat.columns

['business_id', 'time']

In [16]:
phot.columns

['business_id', 'caption', 'label', 'photo_id']

In [17]:
bus.columns

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [18]:
review.columns

['business_id',
 'cool',
 'date',
 'funny',
 'review_id',
 'stars',
 'text',
 'useful',
 'user_id']

In [19]:
bus.show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [20]:
bus.dtypes

[('address', 'string'),
 ('attributes',
  'struct<AcceptsInsurance:boolean,AgesAllowed:string,Alcohol:string,Ambience:struct<casual:boolean,classy:boolean,divey:boolean,hipster:boolean,intimate:boolean,romantic:boolean,touristy:boolean,trendy:boolean,upscale:boolean>,BYOB:boolean,BYOBCorkage:string,BestNights:struct<friday:boolean,monday:boolean,saturday:boolean,sunday:boolean,thursday:boolean,tuesday:boolean,wednesday:boolean>,BikeParking:boolean,BusinessAcceptsBitcoin:boolean,BusinessAcceptsCreditCards:boolean,BusinessParking:struct<garage:boolean,lot:boolean,street:boolean,valet:boolean,validated:boolean>,ByAppointmentOnly:boolean,Caters:boolean,CoatCheck:boolean,Corkage:boolean,DietaryRestrictions:struct<dairy-free:boolean,gluten-free:boolean,halal:boolean,kosher:boolean,soy-free:boolean,vegan:boolean,vegetarian:boolean>,DogsAllowed:boolean,DriveThru:boolean,GoodForDancing:boolean,GoodForKids:boolean,GoodForMeal:struct<breakfast:boolean,brunch:boolean,dessert:boolean,dinner:boolean,latenight:boolean,lunch:boolean>,HairSpecializesIn:struct<africanamerican:boolean,asian:boolean,coloring:boolean,curly:boolean,extensions:boolean,kids:boolean,perms:boolean,straightperms:boolean>,HappyHour:boolean,HasTV:boolean,Music:struct<background_music:boolean,dj:boolean,jukebox:boolean,karaoke:boolean,live:boolean,no_music:boolean,video:boolean>,NoiseLevel:string,Open24Hours:boolean,OutdoorSeating:boolean,RestaurantsAttire:string,RestaurantsCounterService:boolean,RestaurantsDelivery:boolean,RestaurantsGoodForGroups:boolean,RestaurantsPriceRange2:bigint,RestaurantsReservations:boolean,RestaurantsTableService:boolean,RestaurantsTakeOut:boolean,Smoking:string,WheelchairAccessible:boolean,WiFi:string>'),
 ('business_id', 'string'),
 ('categories', 'array<string>'),
 ('city', 'string'),
 ('hours',
  'struct<Friday:string,Monday:string,Saturday:string,Sunday:string,Thursday:string,Tuesday:string,Wednesday:string>'),
 ('is_open', 'bigint'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('name', 'string'),
 ('neighborhood', 'string'),
 ('postal_code', 'string'),
 ('review_count', 'bigint'),
 ('stars', 'double'),
 ('state', 'string')]

In [21]:
dat = dat.select('business_id','time')
print type(dat)

<class 'pyspark.sql.dataframe.DataFrame'>

In [22]:
print type(bus)

<class 'pyspark.sql.dataframe.DataFrame'>

In [23]:
# Comput summary stats
bus.describe().show()

+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+
|summary|             address|         business_id|          city|           is_open|         latitude|         longitude|              name|neighborhood|      postal_code|     review_count|             stars|             state|
+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+
|  count|              156639|              156639|        156639|            156639|           156638|            156638|            156639|      156639|           156639|           156639|            156639|            156639|
|   mean|               100.0|                null|          null|0.8443746448840965|38.58503346156786|-92.85648501648475|1640.7142857142858|        null|69597.35170000169|30.23815907915653|3.6471536462822156|              10.5|
| stddev|                 NaN|                null|          null|0.3625009556909082|5.399870713096596|  26.5577409022683|2436.5837821574137|        null|25802.54978851018|96.48663109958207|0.9776404753139669|26.071330723886835|
|    min|                    |--6MefnULPED_I942...|              |                 0|       -36.086009|    -142.466649843|  "T"s Hair Affair|            |                 |                3|               1.0|                01|
|    max|â€‹2051 Rue de la M...|zzzaIBwimxVej4tY6...|ÃŽle-des-Soeurs|                 1|    89.9993137156|        115.086769|  â€‹Century Library|   Yorkville|         YO22 5LY|             6979|               5.0|               ZET|
+-------+--------------------+--------------------+--------------+------------------+-----------------+------------------+------------------+------------+-----------------+-----------------+------------------+------------------+

In [24]:
dat

DataFrame[business_id: string, time: struct<Friday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Monday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Saturday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Sunday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Thursday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Tuesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Wednesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>>]

In [25]:
# count num of unique classes (rows) in a column
dat.select(col("time")).distinct().count()

120782

In [26]:
# we can do an aggregate count to see the distribution of the classes
dat.groupBy(col("business_id")).count().collect()

[Row(business_id=u'y8e07i7HPWuYVQzg_2RbxA', count=1),
 Row(business_id=u'68htH_xVthYKRxvpTpu2ew', count=1),
 Row(business_id=u'yuBzzarZ13pt8UpspSxOBg', count=1),
 Row(business_id=u'CqTPLUHBM9AM3TEqPn0krg', count=1),
 Row(business_id=u'0859wfd1BQHG46Zpwhc0ZQ', count=1),
 Row(business_id=u'G-AW1PNolA2XnADKqqJO_A', count=1),
 Row(business_id=u'VmSrPPO2WXmOKjUW7pDGsQ', count=1),
 Row(business_id=u'FVgHb9w4pnkRBV5bZYJaZA', count=1),
 Row(business_id=u'xZpZvAqZSla5c72CuNKnJA', count=1),
 Row(business_id=u'zhBkNLn2KPnh5-NIueXVHA', count=1),
 Row(business_id=u'ARkNkb3EJzA42PqMC5VMbA', count=1),
 Row(business_id=u'OZJniEO9I-PqavZYuyNjng', count=1),
 Row(business_id=u'oF054vcRTDNx88qxBGzhFw', count=1),
 Row(business_id=u'4XMhO5LyfFHq5rdFHkXfXQ', count=1),
 Row(business_id=u'Cl-xl1vTUwHeaGgBxzdTRA', count=1),
 Row(business_id=u'XIAbir-WvErgW6xjB6YRlA', count=1),
 Row(business_id=u'rWxAgLSI0Sk1MCpQGd5HDQ', count=1),
 Row(business_id=u'SubDWJhpXWLs-TMNQxE67Q', count=1),
 Row(business_id=u'KkyOeKAro4Dp3q685kDwzw', count=1),
 Row(business_id=u'r-W1HPIZ3V6S2DaXhs9EbQ', count=1),
 Row(business_id=u'h5SORyAizX0G7PDDifdxaw', count=1),
 Row(business_id=u'VHsNB3pdGVcRgs6C3jt6Zg', count=1),
 Row(business_id=u'G58YATMKnn-M-RUDWg3lxw', count=1),
 Row(business_id=u'vnNRBq0zVIH-k1BA91mw5w', count=1),
 Row(business_id=u'RsREl3LkFGiwbt3kGIX4Eg', count=1),
 Row(business_id=u'eQtt74yBLdDSBm0fin-LxQ', count=1),
 Row(business_id=u'5ZBaDWQD5nAw0j1XwOvf3w', count=1),
 Row(business_id=u'bLdvAHB3y55gHGoRGD6MJw', count=1),
 Row(business_id=u'zVc-yrDA3O38Kw8ldqbykg', count=1),
 Row(business_id=u'DzKvbqD1JQPOr5pti35tfQ', count=1),
 Row(business_id=u'lX2N9IYRSi03dgzb6cRW6g', count=1),
 Row(business_id=u'GKXkf6oCvw3KsVtBHis93g', count=1),
 Row(business_id=u'7coCBjZNMJ48BD2taPKgHQ', count=1),
 Row(business_id=u'pFV2dafAgiZrPUNAAoMxMQ', count=1),
 Row(business_id=u'd3ejBz2NzRmEldiD2bBOwg', count=1),
 Row(business_id=u'Wz1GoNeOL0ZBr1aGoUOkBg', count=1),
 Row(business_id=u'Fk9QfjQUN1GUB3dyoVOomg', count=1),
 Row(business_id=u'T-Q3XeK2A3L8dY5zC2R-YA', count=1),
 Row(business_id=u'RtUvSWO_UZ8V3Wpj0n077w', count=1),
 Row(business_id=u'5NMeRaauKmR2jX46X9hIzw', count=1),
 Row(business_id=u'aiAYA0SKz-wRDj04gaqVxQ', count=1),
 Row(business_id=u'RjBvXOV2PX2-_TyKSD52Fw', count=1),
 Row(business_id=u'vN6cLw7KKw62vbwOV6XrZw', count=1),
 Row(business_id=u'x8MADR52s3fkToFHrsAHaQ', count=1),
 Row(business_id=u'JZwfJArd9KSaLPPDLoWp-A', count=1),
 Row(business_id=u'shkzhsxFgCvJhcAaLcKMfw', count=1),
 Row(business_id=u'0yCm3iMvH5q5H3o0Wdi0yA', count=1),
 Row(business_id=u'On-pcs9mLEUSb0Lx_7eDBw', count=1),
 Row(business_id=u'4i9oHhKotVFRzSSuwQ0qAA', count=1),
 Row(business_id=u'09p3b5BCSz2FPvgR-8xz3A', count=1),
 Row(business_id=u'VIK_VpbjDHn4w9jSVZYOPA', count=1),
 Row(business_id=u'HSQcxCrtiTPNIX5XGZaJcQ', count=1),
 Row(business_id=u'zyJDdgxhBNBeKaTCcNMFlQ', count=1),
 Row(business_id=u'CrxbmDpzNmyTHfhLJSa6mQ', count=1),
 Row(business_id=u'FY60hIUaAKTzNwTwy5SpcA', count=1),
 Row(business_id=u'Xz26ZNV3z3x3Lb5LzhjPjQ', count=1),
 Row(business_id=u'EgNqQM_pzECJVJk1h08bGA', count=1),
 Row(business_id=u'FpFIAW_IEvASZBbusABbkA', count=1),
 Row(business_id=u't09gdNBVocRd30ZAU2MM_Q', count=1),
 Row(business_id=u'SZtQTQDYIx3eL4GmQ7wfiQ', count=1),
 Row(business_id=u'ZX-saj5bd5am4MUts7kuHQ', count=1),
 Row(business_id=u'SQUfO3XMRsN1_j5M6864fA', count=1),
 Row(business_id=u'KfD74RGocsp9vakR67mILQ', count=1),
 Row(business_id=u'oZnXZHrRAOzVfdopPp8KCQ', count=1),
 Row(business_id=u'9Vf__OXZkR7pyp0CbMN0Nw', count=1),
 Row(business_id=u'UdMrPZIXPTZfKhHBw_toKg', count=1),
 Row(business_id=u'_Z3uT_S66jD9Pr9jFVEZmw', count=1),
 Row(business_id=u'479J96u8SAhM8yTiwo0yrQ', count=1),
 Row(business_id=u'UQW34W90XPb5nCGBDVQPVA', count=1),
 Row(business_id=u'i0E1Kl7m_s5rv6c2wyDVAQ', count=1),
 Row(business_id=u'juNKWhkMynLaIHK4Yipxjw', count=1),
 Row(business_id=u'P-GCaDF4i1w9YkUM6YSK9g', count=1),
 Row(business_id=u'wTKMQD3nOwEKGZmtiiiGXA', count=1),
 Row(business_id=u'wwiLGg0Un113ezT75A8DCw', count=1),
 Row(business_id=u'5c7Eu7Kb8XrYRqwEz0E5ow', count=1),
 Row(business_id=u'RdpKADRzPOPQZ7QDTHqcTw', count=1),
 Row(business_id=u'CY0OhpyT8SL7Wsn1ar9dxA', count=1),
 Row(business_id=u'0XF5tnQeSZO8BG6OErfK3Q', count=1),
 Row(business_id=u'sHnN3JliwVWvGX76Odmlbw', count=1),
 Row(business_id=u'ObaUu9g-ZKprCl2XmYL5iQ', count=1),
 Row(business_id=u'gMWmx_0qH5JWqDVPhPMs3A', count=1),
 Row(business_id=u'rt8yYbavl6IAUjwh66YeNQ', count=1),
 Row(business_id=u'kbSSGo6zRPSdBT-CwG2cNg', count=1),
 Row(business_id=u'4x8W4quFhhuTZlsoUHzVeA', count=1),
 Row(business_id=u'_UyDQw4PItyBV-C_x06jgg', count=1),
 Row(business_id=u'Jr0-xuQYSKzfjn6B0O-3hg', count=1),
 Row(business_id=u'tuikCn2ljRGN5QHZBnjoqA', count=1),
 Row(business_id=u'IdGtbpp-l1aDhwnKK580lw', count=1),
 Row(business_id=u'5RKam4Nu_DVxchvvX5Nnfw', count=1),
 Row(business_id=u'yJw-oz84KB70YoxRFMYBkQ', count=1),
 Row(business_id=u'Ef0G8SVxUOE8sXjNTb0zHQ', count=1),
 Row(business_id=u'RMjCnixEY5i12CiqnskiVw', count=1),
 Row(business_id=u'k5ufD47Z0t3rkyIYpXoT5Q', count=1),
 Row(business_id=u'6taPX2aLuzMK_aOO5rQ8ww', count=1),
 Row(business_id=u'R1ZZk5dR-INpaHw7imNLHg', count=1),
 Row(business_id=u'Lb17BCffIA3kLXMjA9UlgQ', count=1),
 Row(business_id=u'Gj7Hq19LbFputStAl4Jtyg', count=1),
 Row(business_id=u'IUrtJeDhJOvdBJXt--mHXg', count=1),
 Row(business_id=u'X2K-6-Aw6_7sQew9lPTB2A', count=1),
 Row(business_id=u'FRTT9VTGNgT65BgVuUHa7A', count=1),
 Row(business_id=u'aIt1_i09_gEw2XUEhkWGDA', count=1),
 Row(business_id=u'8d16ZFfXliQlVgQw7K70Cw', count=1),
 Row(business_id=u'E9QTQ4DOKo1UsGNmMX8sGQ', count=1),
 Row(business_id=u'4iY_gyKX2ogbem7ra8Ln6Q', count=1),
 Row(business_id=u'COL0SAJf-k7jVd2hLGM5Fg', count=1),
 Row(business_id=u'XErOb3obTwM_Kby23AIYfg', count=1),
 Row(business_id=u'Q7oKidQDV52LEPfiwizSNQ', count=1),
 Row(business_id=u'S91O3KYPlqqpCurYMKyREQ', count=1),
 Row(business_id=u'mOFCSkPUPKjISMDhvz02HQ', count=1),
 Row(business_id=u'_C8_oZAqeAtkqvpdXcz0XQ', count=1),
 Row(business_id=u'Vf2ncpEy2aY_OMUj020w2w', count=1),
 Row(business_id=u'74QS_MlNR1eKf6fhLxkflg', count=1),
 Row(business_id=u'MAXMZMUEprc7rUMeoXrarw', count=1),
 Row(business_id=u'Lb_1Mmoig1qGE2z8U4lXPw', count=1),
 Row(business_id=u'5aE6Ph2-IkRNzR4T559rCA', count=1),
 Row(business_id=u'X6jKCn5FoRiJ1t7y4CWc7Q', count=1),
 Row(business_id=u'D3O7tgtvP0CC9c8NQ2LERQ', count=1),
 Row(business_id=u'KU74tO1KWfoQMh_WxxRX9w', count=1),
 Row(business_id=u'wbtyPzzDbzy5t0-lVn6HYA', count=1),
 Row(business_id=u'OJAGq2tKzlwNuWmUX00I5g', count=1),
 Row(business_id=u'1pSnogYq1-nuDlZJ1_XWqw', count=1),
 Row(business_id=u'_crm3cMcEe1PX4H1Uap_AQ', count=1),
 Row(business_id=u'fYqr99HXATERIGXQmjSgmw', count=1),
 Row(business_id=u'5HeI2iev-JWFI-S8CWmK6w', count=1),
 Row(business_id=u'WYCDOWMIS348c8GkFT7QtQ', count=1),
 Row(business_id=u'9hBjuOMiCGIbB7T-xwy96A', count=1),
 Row(business_id=u'M7dW8WCWN7KlcdA2NxaYvg', count=1),
 Row(business_id=u'Ty4YiSPq6lhdzXUNCWHNZw', count=1),
 Row(business_id=u'GJ2TXArxyuF8f79WbHIdUg', count=1),
 Row(business_id=u'x1fAxB2NjqMErz-tqestEQ', count=1),
 Row(business_id=u'Xz5PO5UllsZfYn6jqb3c7g', count=1),
 Row(business_id=u'7u8PwKlfk7rKIPfe7nRt7A', count=1),
 Row(business_id=u'KARmKZSvsT2oxXrhi_5zJA', count=1),
 Row(business_id=u'lscr437pQNiDcw591FGWmw', count=1),
 Row(business_id=u'lt8IW9Bpy9GMeKGxytefVA', count=1),
 Row(business_id=u'vZyF3o30_m_-Pp5u0DkLoQ', count=1),
 Row(business_id=u'YYztMMdcudL4xuSF29yelQ', count=1),
 Row(business_id=u'ZUf-zw_tS6uhoRy3UBXv5g', count=1),
 Row(business_id=u'yaHyPn3zfLPK46NpvtqlPw', count=1),
 Row(business_id=u'NDZAQuVpv_KZuSjKYpXf5Q', count=1),
 Row(business_id=u'Cml4Yt5cTx64cOManHe-Gw', count=1),
 Row(business_id=u'oIEmXWLtoh5blz-iwI8MZQ', count=1),
 Row(business_id=u'mI17MpWybqUw2_6WZ0stgg', count=1),
 Row(business_id=u'QMIw7yNXbREJUD_tiMWmNQ', count=1),
 Row(business_id=u'KfY3avdRgbKFdRSC1kGBsA', count=1),
 Row(business_id=u'5TXQxcwEfqzBDbMq2zmBPQ', count=1),
 Row(business_id=u'h1-4nshFVK7GlOOmSQNN4Q', count=1),
 Row(business_id=u'5Rduolg9SjUpg39hTm9M6g', count=1),
 Row(business_id=u'fpHDA-5doPR-XyBhEEwVkw', count=1),
 Row(business_id=u'5LZhDRyz3q_UNZ29c8uScQ', count=1),
 Row(business_id=u'Us67uenyjsmaqqgZ61x8Ug', count=1),
 Row(business_id=u'yGjuMgFdYML350jYX42qvg', count=1),
 Row(business_id=u'eHgxuooEDnjsmmckxPcKHQ', count=1),
 Row(business_id=u'vpMA2fxVshItiNM9sx2PQA', count=1),
 Row(business_id=u'thB9W0l0He6w1TCl3cZkzA', count=1),
 Row(business_id=u'8TmfNRccItILB8XMI7pnbw', count=1),
 Row(business_id=u'2gOMg3fgm0gfXVuMaPLwdA', count=1),
 Row(business_id=u'mSvSGWI8rQN05fj7rezh7Q', count=1),
 Row(business_id=u'EDX7fE_a9k6f6gku_Xj58g', count=1),
 Row(business_id=u'XgX0JhqleOnH-ezSe5rBfg', count=1),
 Row(business_id=u'SLk2g7Lem-szfRAV5b2hoQ', count=1),
 Row(business_id=u'IJUCRd5v-XLkcGrKjb8IfA', count=1),
 Row(business_id=u'KuDmCggBq6zwxc8CSJxLdQ', count=1),
 Row(business_id=u'nTy5IQrxSCtuMhmMML5R-Q', count=1),
 Row(business_id=u'j2bx_ctb_ED3zbfSaqhQmQ', count=1),
 Row(business_id=u'rB3ekMqnE8gf9bQDfa3ocw', count=1),
 Row(business_id=u'ofQjrbfKDm1clYI3y8Tx5w', count=1),
 Row(business_id=u'dk1MV0MP32Xq-iBxzewl0A', count=1),
 Row(business_id=u'8aJVSZl1kxBZEHVKq_tG9w', count=1),
 Row(business_id=u'QHQtTHZ1K1yPhjYJ1PMhxA', count=1),
 Row(business_id=u'2zmKeAu1mSyT9gnFxdmQGw', count=1),
 Row(business_id=u'Yb_vynxYrpw-QM3cXPx0hQ', count=1),
 Row(business_id=u'2BbFeotL85cIaBjSq1SWiA', count=1),
 Row(business_id=u'BEeGpvyh4Ufdkmf4JGItyw', count=1),
 Row(business_id=u'cvtRsytNv8EKxoKRUwZxNQ', count=1),
 Row(business_id=u'orvDK3kwkIZ7iS0UTnYo2w', count=1),
 Row(business_id=u'M9N2eaO8PkT7MHGLLA6V3Q', count=1),
 Row(business_id=u'UVP89cBCQiu0CHolVy2-_w', count=1),
 Row(business_id=u'FQ9Q_WmEcAjHeyLzGq86mg', count=1),
 Row(business_id=u'qtsrM6Xxh1LqxG0X6K6tuQ', count=1),
 Row(business_id=u'-TGwtTiieh_JLml5_VRMQA', count=1),
 Row(business_id=u'NLNYfvnhQt-cG5ryXuV0Iw', count=1),
 Row(business_id=u'mHb5PqEb2qETQEPQXVVR-Q', count=1),
 Row(business_id=u'1LoUdXkiRjio2LnVIkK0lg', count=1),
 Row(business_id=u'ZNgtvtGm3geLUEiLsWR9NQ', count=1),
 Row(business_id=u'mWmGtC5J9nxXo7wPCipZ6g', count=1),
 Row(business_id=u'nfSCAPBh1IoEznoJZrprWA', count=1),
 Row(business_id=u'rNKaormrHcdJhA_HDmUe6A', count=1),
 Row(business_id=u'vXyK9-N8U7LI1iHmX25icg', count=1),
 Row(business_id=u'hMh9XOwNQcu31NAOCqhAEw', count=1),
 Row(business_id=u'dYZqJ2S1ND9KghLIKJg71g', count=1),
 Row(business_id=u'm3ENrv6bKW8h44bMyBAOOQ', count=1),
 Row(business_id=u'TCJoCBGnR_mrVBNRUKv-RQ', count=1),
 Row(business_id=u'DEBqmgxv2yhJ93LqGpKltg', count=1),
 Row(business_id=u'Gmm9E09XDh8CxdFwYsoZRg', count=1),
 Row(business_id=u'fQGKkwj1FNpjUsDSqmUP_w', count=1),
 Row(business_id=u'yEtGKrzpREur6uYFQP2OHA', count=1),
 Row(business_id=u'GfkFg7W6zYpUXixAPYamJg', count=1),
 Row(business_id=u'oMt3FrXtmYiP2ayn46PHtQ', count=1),
 Row(business_id=u'cz5vz-893D3LNH3TMQYR1w', count=1),
 Row(business_id=u'686oeWNsbc-aczplCFa_0g', count=1),
 Row(business_id=u'B1Zv1S14pIN3Lojio-4HQw', count=1),
 Row(business_id=u'j-6MgWWlotFZAQ23LZrTPQ', count=1),
 Row(business_id=u'E47l-PZHwHDrlQGbYS--Yw', count=1),
 Row(business_id=u'mtTxLi9CZNOsDqOTJH3pQw', count=1),
 Row(business_id=u'L7iOEZLuvd3vHoX8Efi_hw', count=1),
 Row(business_id=u'iOhHDavGdswJQlPW5luGaw', count=1),
 Row(business_id=u'd1uVP41UPeLP_l_5NLjbaw', count=1),
 Row(business_id=u'6endExgPSftR-SUu1oSfkA', count=1),
 Row(business_id=u'9_6tbOz5x9qvQEPcl4itPw', count=1),
 Row(business_id=u'ASXvXm-_-Tm37diPmEZpLg', count=1),
 Row(business_id=u'fCKp6U0QFHOdpud7QDf3cA', count=1),
 Row(business_id=u'EBFFqA01zsV6vUKCYgq00Q', count=1),
 Row(business_id=u'DhOvRBU3IXi_vClfRWz4KA', count=1),
 Row(business_id=u'nYdBAqjpGuAYOtxSsWaiQQ', count=1),
 Row(business_id=u'sFJXHisNIoWF5Upmi5BbRw', count=1),
 Row(business_id=u'_ixV2SWDy7w8jzEAHp85qA', count=1),
 Row(business_id=u'HIown76a97kw1VlfMrPn9g', count=1),
 Row(business_id=u'-VAsjhmAbKF3Pb_-8rh3xg', count=1),
 Row(business_id=u'x1fx7C_tc064cFATjl4fmQ', count=1),
 Row(business_id=u'aJK0cFYpf0TlxDMRVxk89w', count=1),
 Row(business_id=u'eN1ndiARt7f957PkA8LBZg', count=1),
 Row(business_id=u'qcP9AhS2tAM_oAjZ_o7U4g', count=1),
 Row(business_id=u'oTO_xSzIzmcudG9Xp_HPog', count=1),
 Row(business_id=u'JQK98PnxzgjFQUF6X07LOg', count=1),
 Row(business_id=u'FcRf8dciFsQ9ZUj0B7yiOg', count=1),
 Row(business_id=u'TnKw2vPa-C1NyHBPAbGOTg', count=1),
 Row(business_id=u'nfGqXh8NKVYD6z26ZTXbMA', count=1),
 Row(business_id=u'HlYzk84INQaNslFT-lyBFw', count=1),
 Row(business_id=u'rtwojGcYuhbLbQ9D1Z2gSg', count=1),
 Row(business_id=u'7EnzO970Zdrd_gjIJJLfrQ', count=1),
 Row(business_id=u'-DgHX-Kzq8UX8yf6oFOMIw', count=1),
 Row(business_id=u'UhEhLSJrPRoiYWdHfJQxfw', count=1),
 Row(business_id=u'4yYzxusSRcW85e2SBo0W4g', count=1),
 Row(business_id=u'JMkBrqzBKFtVgmpyAy3jKQ', count=1),
 Row(business_id=u'-qL-wX-UuMaHDBA2X5G4kw', count=1),
 Row(business_id=u'gn5Zl9_lufmQOVH_zC7SKw', count=1),
 Row(business_id=u'6yq3tBebgs1AY5u-AZqr2A', count=1),
 Row(business_id=u'sOs9goJyHT5Ggu1hTsp3kg', count=1),
 Row(business_id=u'zhT6PXyerupZzXL-smu-ZQ', count=1),
 Row(business_id=u'IO0r61EIoVjzqkUrJMegRA', count=1),
 Row(business_id=u'uXGX-eUxcPH0--Uk1mGQkw', count=1),
 Row(business_id=u'Zo3fwmOUaDpKvUhLNp9erA', count=1),
 Row(business_id=u'9ypHY6MNp3CDDdQJ_d817A', count=1),
 Row(business_id=u'7hfii7_xS4zoM-nVpOHqJw', count=1),
 Row(business_id=u'56HZLqQOcS1FSXqYG-3vLg', count=1),
 Row(business_id=u'zv9qQFsaV8llwyIZKHHhcA', count=1),
 Row(business_id=u'swjtngLqgwiYbxAiPDrzBg', count=1),
 Row(business_id=u's5345m9QBKwZrliFQ9FcfA', count=1),
 Row(business_id=u'fidJNpp51eCf5bAMPRlKBg', count=1),
 Row(business_id=u'M4D-cZ9_9Bw-gMi0dlrAyQ', count=1),
 Row(business_id=u'YjPWt-V5oMkakdRWrALb8g', count=1),
 Row(business_id=u'tXqRz6yiR_GjZr_-wO9nng', count=1),
 Row(business_id=u'MGPdqitucDiq3T3gQWUXXA', count=1),
 Row(business_id=u'TdefcbsFAj6WXHwlGQHIbA', count=1),
 Row(business_id=u'sGyBe14qNT96qycXdo78bQ', count=1),
 Row(business_id=u'dpe7iL_qDhp-Y-xNGJTSyg', count=1),
 Row(business_id=u'9MnaCeQNhCoELDkpHYKDqQ', count=1),
 Row(business_id=u'i69tc6p5oH5dF2WZYueebQ', count=1),
 Row(business_id=u'wZd5qM_ofX2nGqWSzNQVGw', count=1),
 Row(business_id=u'yB5FMuc9Y3oyhsOmuIZSpQ', count=1),
 Row(business_id=u'12ZCvo5eJShrpxwzvxAVxQ', count=1),
 Row(business_id=u'ltFKG-ax36W_B9mUR4IrQQ', count=1),
 Row(business_id=u'U2SepNV2djq1hgk4WxL1mQ', count=1),
 Row(business_id=u'QECbD4PR3vnhodR13QTokA', count=1),
 Row(business_id=u'6QRY4tMQdHFOe2-_CUHMdA', count=1),
 Row(business_id=u'RdOz1AUEYmt_2hJm4A_YFQ', count=1),
 Row(business_id=u'UXSEnQKbKTu3Ku0U3V6kYw', count=1),
 Row(business_id=u'6fxKszI1miBwVnVMcXYTMg', count=1),
 Row(business_id=u'Ch7NAhB_MWSDwcNbcptEKg', count=1),
 Row(business_id=u'aNOZxz80w0fv4mYLB2VXfA', count=1),
 Row(business_id=u'_c3nvLf3MH785o86xX0zdw', count=1),
 Row(business_id=u'yrpFPFl8qr1zIQnlCG6YWw', count=1),
 Row(business_id=u'zSFutuGG7NcL60-N9g-EUw', count=1),
 Row(business_id=u'_9u7I2RN0NEJnWaP2zhWsQ', count=1),
 Row(business_id=u'o8uCIT_YDDDr9KExfSjsUw', count=1),
 Row(business_id=u'A7wGJiqqTnaFpsKLsmkFww', count=1),
 Row(business_id=u'aZbbt_RPKV8vUY7GWiEEyw', count=1),
 Row(business_id=u'BQMVcJQV70gUQjwi7-MrSg', count=1),
 Row(business_id=u'OcGtUr_TsmYdJ0jqwP6TCw', count=1),
 Row(business_id=u'19m3NtbbP2VX-tDFJB1lKQ', count=1),
 Row(business_id=u'TptdGz1YIQby7uvvAYYk7g', count=1),
 Row(business_id=u'kVqddTBFpDVU-5NWpxh95g', count=1),
 Row(business_id=u'iLTwwBRj8qMRaecv2R3Zwg', count=1),
 Row(business_id=u'fNMVV_ZX7CJSDWQGdOM8Nw', count=1),
 Row(business_id=u'eIMgmdrHuVJDbxqfXmixIw', count=1),
 Row(business_id=u'D-CykxLr_NJe1fI4e93hLg', count=1),
 Row(business_id=u'Yemfgx9S_UzK9Rbqpbl6nA', count=1),
 Row(business_id=u'74LU6K2ro5AQXKT0Jf0SPw', count=1),
 Row(business_id=u'7_1W86xkmLyBtyEdppLcmA', count=1),
 Row(business_id=u'h8eDSoKHpp-4l5G5_JPtFA', count=1),
 Row(business_id=u'4lpsDd9CuMxRX50Sj7qpcA', count=1),
 Row(business_id=u'rbH0HuTcBvZBbiAnqufRqQ', count=1),
 Row(business_id=u'dMuwrXqkNMJKx7JbbETTHQ', count=1),
 Row(business_id=u'MEoDTsA3Af6TLzB7Z_7oDw', count=1),
 Row(business_id=u'eX0gxf7XCvemFDxhiuoqVg', count=1),
 Row(business_id=u'Ipkl7KtlqxCe8bMMkwHwPQ', count=1),
 Row(business_id=u'oVTvVdJiaRAwBLy6HUxE8A', count=1),
 Row(business_id=u'LRutQ1JxycXkjKeYot5fRQ', count=1),
 Row(business_id=u'XvEvKbOIqbRgpjSFvB_89g', count=1),
 Row(business_id=u'nrBnY5Ii7hS2npGSuEwETA', count=1),
 Row(business_id=u'9plsFe_gSy-sgURNSBPITQ', count=1),
 Row(business_id=u'jXjglUcr2bDKdoV4lxnJ8A', count=1),
 Row(business_id=u'utlpwpi27nKQ6TyWHdCFMQ', count=1),
 Row(business_id=u'qg51yyLlAy-iVYs2lZ1MZA', count=1),
 Row(business_id=u'TTVwcuc1Nz4ZSZH4wnbxKQ', count=1),
 Row(business_id=u'nt2-Zk4FmGY2SYSDBI0gHw', count=1),
 Row(business_id=u'X26lmoKvv_KvW6WcAvWvrA', count=1),
 Row(business_id=u'4gjJWk8iGIcYb3yFJY_4DQ', count=1),
 Row(business_id=u'D1NNYrjfr6LwlIvrQVWPdg', count=1),
 Row(business_id=u'N3J76CRP2H52NUo4VFuS3A', count=1),
 Row(business_id=u'FXOcK7TQ-2KzDeI1wL3Xqg', count=1),
 Row(business_id=u'1NmGVWYlF4iMngM6arKJTQ', count=1),
 Row(business_id=u'kpbhERZoj1eTDRnMVU2BKA', count=1),
 Row(business_id=u'nNroLnN_dD5qc8hKJE-_Ag', count=1),
 Row(business_id=u'GHcaPJTiD9e9ylLl1itE0g', count=1),
 Row(business_id=u'cdkzUI1tXc8rUMF33iKMlg', count=1),
 Row(business_id=u'pCl4AY8gdqiKqUswxALKGQ', count=1),
 Row(business_id=u'gjQ20S96ScTc7LR_DY8SQQ', count=1),
 Row(business_id=u'4lCTd6-EzOuKl4YbH9gnxw', count=1),
 Row(business_id=u'mlc5N9qL6UYbtcwzVqgmzw', count=1),
 Row(business_id=u'bMOWg5Y6q9Cal6gWcoWEWw', count=1),
 Row(business_id=u'bDnaX6jPdunz3GK63n3T8Q', count=1),
 Row(business_id=u'GWL4lTetNBu5GVtIYUvKnQ', count=1),
 Row(business_id=u'fX0cAzTEhVD7nMYalgiGyQ', count=1),
 Row(business_id=u'2nnMxmgnYj0_WAG2GHwnhA', count=1),
 Row(business_id=u'jOqh0eVjqtUOpZ9AZgSazA', count=1),
 Row(business_id=u'H-Z3wjYrlRQ6Dw827ev3wg', count=1),
 Row(business_id=u'CHd3f2PONQqKhLcVw2hQTg', count=1),
 Row(business_id=u'Jr9A-8VLAn_fDuOtSXt92A', count=1),
 Row(business_id=u'2UgRg5a6KmpbD_SZfhNrKg', count=1),
 Row(business_id=u'DgCAM01n2Qo5DsoKj_zkug', count=1),
 Row(business_id=u'Va-2xSF5L1x5SYeXLK_eCQ', count=1),
 Row(business_id=u'6v44nmxUeIKqecQsZXgBYg', count=1),
 Row(business_id=u'93yfzr8B1s-mhan2WQf0KQ', count=1),
 Row(business_id=u'rBB5xNN0n5k29Pqq4mvNRw', count=1),
 Row(business_id=u'wwdQinGyTWueJiPtWWS3Gw', count=1),
 Row(business_id=u'hf_6wAfO9h7HN-P3bUr2MA', count=1),
 Row(business_id=u'-cxD1NimFldATDUsN-oa3A', count=1),
 Row(business_id=u'8xRBpeEcnLSIRaqYbF-JWg', count=1),
 Row(business_id=u'kQIFaTQW1Q4Lc8ksvyT9QQ', count=1),
 Row(business_id=u'l3V86Z6oAzpnwe1VYM4VPg', count=1),
 Row(business_id=u'gOCizq2d2ku1LKKX-byeDw', count=1),
 Row(business_id=u'kr5JmGtVl0pUq9-KB_91QA', count=1),
 Row(business_id=u'PBVjimhaGmeMC4sYIEiqQw', count=1),
 Row(business_id=u'tyAzb3qkrqT8QLdATbtFIQ', count=1),
 Row(business_id=u'hq2ODL1TUtotMoXsTyNQFQ', count=1),
 Row(business_id=u'Ehx9naw01nvjAGRsnUH4lA', count=1),
 Row(business_id=u'j0_CApMCHDJBYJg1XvUKnw', count=1),
 Row(business_id=u'SjgeuBlgKER9yegpoxT99w', count=1),
 Row(business_id=u'9dP5WPlF2pfjMOx2UeUFnA', count=1),
 Row(business_id=u'T4Zt2fVNGMyBMevAUOr3Wg', count=1),
 Row(business_id=u'gVnd11BK1KLJyX2ckTv0ow', count=1),
 Row(business_id=u'MLwEqYIQtbwHAZwgKTtP1w', count=1),
 Row(business_id=u'_Wyo52ijeq3QgcmkIrhmAQ', count=1),
 Row(business_id=u'JsUytp_MuZ4AX5JWfi2eLw', count=1),
 Row(business_id=u'5mLnpk7lJuZ8baMGZhwa5g', count=1),
 Row(business_id=u'GyxsS1eB1KacYn3fXBDkkg', count=1),
 Row(business_id=u'q1EeYFpt_E9tVo8_oBDgaA', count=1),
 Row(business_id=u'BMAflH82OUIMl2mHtP0MNQ', count=1),
 Row(business_id=u'lanV02KSZJve3G6iUGmaNQ', count=1),
 Row(business_id=u'YYWkJwfO1HApuHiW-8eq7Q', count=1),
 Row(business_id=u'ZW01IFHfXe_gwC9J8jyFEA', count=1),
 Row(business_id=u'dSkbWNyIVdrmzs-VZEiSbQ', count=1),
 Row(business_id=u'359ufd9xilrYy4tA67Io9g', count=1),
 Row(business_id=u'WGmeYEd6Kd3rHWVMO2IM6A', count=1),
 Row(business_id=u'tzrfPGnzyosishCk0Ww9aw', count=1),
 Row(business_id=u'yMKisHBS_Ia8Dr27ACErkA', count=1),
 Row(business_id=u'clXf1Kkl5ynDMBhKS9a_Vw', count=1),
 Row(business_id=u'DQ9FQQMN1aqrURn-NW4rEQ', count=1),

In [27]:
bus.filter(bus["longitude"]>24).show()

+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|     city|               hours|is_open| latitude| longitude|       name|neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+
|Green Valley Ranc...|[null,null,full_b...|Zmp2_b2gpSloz4Dv2...|[Italian, Restaur...|Henderson|[17:00-23:00,17:0...|      0|36.019323|115.086769|Terra Verde|            |      89052|          70|  3.5|   NV|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+-----------+------------+-----------+------------+-----+-----+

In [28]:
# find mean of "cool" col
review.select("cool").agg({"cool": "avg"}).collect()

[Row(avg(cool)=0.5096600158289277)]

In [29]:
# find mean of "cool", but this time only consider those with # of reviews $gtreq$ 10
review_rect = bus.filter("review_count >= 10")

In [30]:
review_rect.columns

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [31]:
review_rect_stars4 = review_rect.filter("stars = 4")

In [32]:
review_rect_stars4.select("cool").agg({"cool": "avg"}).collect()
# --> Ok, need to join review and business table together..

AnalysisException: u"cannot resolve '`cool`' given input columns: [address, stars, neighborhood, hours, city, review_count, attributes, business_id, state, latitude, longitude, postal_code, is_open, name, categories];;\n'Project ['cool]\n+- Filter (stars#35 = cast(4 as double))\n   +- Filter (review_count#34L >= cast(10 as bigint))\n      +- Repartition 150, true\n         +- Relation[address#22,attributes#23,business_id#24,categories#25,city#26,hours#27,is_open#28L,latitude#29,longitude#30,name#31,neighborhood#32,postal_code#33,review_count#34L,stars#35,state#36] json\n"

## Play with join, inner, outer, cross, etc

In [ ]:
bus.crossJoin?

In [ ]:
func.col?
func.when?

In [38]:
review.join?

In [40]:
_xxx = review.join(bus, review.business_id == bus.business_id, 'inner')

In [44]:
_xxx.columns

['business_id',
 'cool',
 'date',
 'funny',
 'review_id',
 'stars',
 'text',
 'useful',
 'user_id',
 'address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [43]:
print review.columns, bus.columns

['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text', 'useful', 'user_id'] ['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 'stars', 'state']

In [42]:
print _xxx.show()

+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+------------+-----------+------------+-----+-----+
|         business_id|cool|      date|funny|           review_id|stars|                text|useful|             user_id|             address|          attributes|         business_id|          categories|     city|               hours|is_open| latitude| longitude|                name|neighborhood|postal_code|review_count|stars|state|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+------------+-----------+------------+-----+-----+
|--9e1ONYQuAa-CB_R...|   0|2009-12-13|    0|JUiz5fSxFqAfpGZ7r...|    4|wonderful decor a...|     0|qVWA653mQL6J1tesh...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2014-11-13|    0|2Wb4cfC4ULT427OBu...|    5|Dinner with my wi...|     0|SyFtPGQsX4QOx07fL...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2013-01-07|    0|IemzSG7LXGW5NT7Ib...|    2|The best part of ...|     0|VHXpyrKm85DoUzGlX...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2011-12-03|    0|Z2XhriaGHGdgDB9D3...|    5|One of the best r...|     0|rOfIWyE1NuZwztDTY...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2010-12-01|    0|TwwymGytPW1QaI8F9...|    4|Came here for tha...|     0|EUyKk8kEs9-aJuc8n...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2014-03-13|    0|ltsMMlligBzvLMdwP...|    5|Excellent steakho...|     0|QSJzPqDnGtx0vKwSZ...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2015-08-04|    0|8crW7fdhj7k4_fX-G...|    4|The food was amaz...|     0|D5kPiUrHeQiDqEbm6...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2011-10-25|    0|pirE2Ee114n27g6KM...|    4|This is a steak h...|     0|hwpNEwi5hWlu1XU07...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2012-03-29|    0|OJTjgyV6HYRPo7ZO1...|    5|For me the bar ha...|     0|poUDFITGDHUoaiAvw...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2013-12-30|    0|DEuf8OY5hQX-xugpb...|    5|I am in love. In ...|     0|-XzAzGKAGCLn-sxy0...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2010-05-03|    0|vd7bfgXvrdi8wUsQY...|    2|Service was prett...|     0|hO_bX_k5t8pZhZTzV...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2014-05-15|    0|jc0AI7qWPTD4qWLEG...|    5|AOL Keyword: Bone...|     0|x67wE68CK-Lhx5UU1...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2014-11-13|    0|zJyuQJSdB70pZ6hZg...|    5|I'm still dreamin...|     1|MR5HwOyJ-WdTXbQ8w...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   2|2012-07-24|    1|Neno9CBtwZWJKP92O...|    4|Every Vegas trip ...|     2|enNgSlVFfjDtegqVs...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2010-12-22|    0|3HjlXkG4WA8YpMFeD...|    4|Definitely a fan ...|     0|NKgUbFFUAaN-B87vC...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2017-07-09|    0|bPV5ArkAOS106QrvR...|    4|Went for restaura...|     0|_7PfR6Tvh2xTbiVi1...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2011-05-13|    0|0Th5G-uyjyQqonBJk...|    4|Soo pricey but wh...|     0|Zsfc3e_arKRDQuYuQ...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2014-03-04|    0|mHyiP1KnX3I7qvr3f...|    3|Food was excellen...|     0|stojK2o4vUFMmvMdr...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   0|2013-09-14|    0|Hrds2vlr8BT0grcD5...|    4|i stumbled apon t...|     0|im7nmkSTFzvBOQXAG...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
|--9e1ONYQuAa-CB_R...|   2|2009-03-18|    2|CgAMejWWefRGG2LxK...|    4|I came here for m...|     2|1dV5ct9dz1gYeOOgX...|3355 Las Vegas Bl...|[null,null,full_b...|--9e1ONYQuAa-CB_R...|[Steakhouses, Caj...|Las Vegas|[11:30-14:00,11:3...|      1|36.123183|-115.16919|Delmonico Steakhouse|   The Strip|      89109|        1389|  4.0|   NV|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+------------+-----------+------------+-----+-----+
only showing top 20 rows

None

 So it "mergerd" fine but this is inner join, and therefore "business_id" (primary key) appear twice -- join duplicates the field. Bigger problem is we no longer easily call "business_id" because it will throw an error saying it doesn't know which field ("business_id") you are calling...

In [45]:
_xxx.select("business_id")

AnalysisException: u"Reference 'business_id' is ambiguous, could be: business_id#80, business_id#24.;"

### Let's experiment with other kinds of join
First, we will make business_id unique.

In [117]:
_test = review.join(bus, how='inner', on='business_id')

In [119]:
print _test.columns

['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text', 'useful', 'user_id', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 'stars', 'state']

In [62]:
_yyy = review.join(bus, review.business_id == bus.business_id, 'inner').drop(bus.business_id).drop(bus.stars)

In [63]:
print _yyy.columns

['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text', 'useful', 'user_id', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 'state']

In [50]:
# to test the syntax
_zzz = review.join(bus, 'business_id', 'inner')
print _zzz.columns

['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text', 'useful', 'user_id', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 'stars', 'state']

In [53]:
%matplotlib inline
from IPython.display import display
display(phot)

DataFrame[business_id: string, caption: string, label: string, photo_id: string]

In [56]:
_zzz.take?

In [55]:
_zzz.take(5)

[Row(business_id=u'--9e1ONYQuAa-CB_Rrw7Tw', cool=0, date=u'2009-12-13', funny=0, review_id=u'JUiz5fSxFqAfpGZ7rAJPxg', stars=4, text=u"wonderful decor and ambiance.  simple, modern and elegant.  comfy chairs too.   as others have stated the restaurant is a little loud (which I liked) but the tables are spaced comfortably apart so you can still enjoy an intimate dinner.  \n\nstellar service.  John and his group were attentive without being snooty and overbearing.  we felt comfortable.  i don't think there was ever a moment when our glasses reached half empty glass before they addressed it.  any little crumbs on the table were quickly taken care of.  definitely the service I was expecting from a top notch Vegas establishment.\n\nexpect to spend about $100 / person.  everything is a la carte.  entrees were about $50, sides about $10, cocktails about $15 and wine $$$$.\n\nhuge portions.  if you had any food earlier in the day,  don't expect to finish your entree, especially if you order the bone rib steak. \n\nenjoyed a delicious meal:\n- crabcake topped with fennel and tomatoes (very good!)\n- bone rib steak (lots of marbleization, good, but was not wowed)\n- parmesan fillet medallion (very good!)\n- parmesan truffle potato chips (soo bad, but ooh soo tasty)\n- asparagus (gotta have a veggie)", useful=0, user_id=u'qVWA653mQL6J1teshUljMQ', address=u'3355 Las Vegas Blvd S', attributes=Row(AcceptsInsurance=None, AgesAllowed=None, Alcohol=u'full_bar', Ambience=Row(casual=False, classy=True, divey=False, hipster=False, intimate=False, romantic=False, touristy=False, trendy=False, upscale=True), BYOB=False, BYOBCorkage=u'yes_corkage', BestNights=None, BikeParking=False, BusinessAcceptsBitcoin=None, BusinessAcceptsCreditCards=True, BusinessParking=Row(garage=True, lot=False, street=False, valet=True, validated=False), ByAppointmentOnly=None, Caters=False, CoatCheck=None, Corkage=True, DietaryRestrictions=None, DogsAllowed=None, DriveThru=None, GoodForDancing=None, GoodForKids=False, GoodForMeal=Row(breakfast=False, brunch=False, dessert=False, dinner=True, latenight=False, lunch=False), HairSpecializesIn=None, HappyHour=None, HasTV=False, Music=None, NoiseLevel=u'average', Open24Hours=False, OutdoorSeating=False, RestaurantsAttire=u'dressy', RestaurantsCounterService=None, RestaurantsDelivery=False, RestaurantsGoodForGroups=True, RestaurantsPriceRange2=4, RestaurantsReservations=True, RestaurantsTableService=True, RestaurantsTakeOut=False, Smoking=None, WheelchairAccessible=True, WiFi=u'no'), categories=[u'Steakhouses', u'Cajun/Creole', u'Restaurants'], city=u'Las Vegas', hours=Row(Friday=u'11:30-14:00', Monday=u'11:30-14:00', Saturday=u'11:30-14:00', Sunday=u'11:30-14:00', Thursday=u'11:30-14:00', Tuesday=u'11:30-14:00', Wednesday=u'11:30-14:00'), is_open=1, latitude=36.123183, longitude=-115.16919, name=u'Delmonico Steakhouse', neighborhood=u'The Strip', postal_code=u'89109', review_count=1389, stars=4.0, state=u'NV'),
 Row(business_id=u'--9e1ONYQuAa-CB_Rrw7Tw', cool=0, date=u'2014-11-13', funny=0, review_id=u'2Wb4cfC4ULT427OBupnP0Q', stars=5, text=u'Dinner with my wife and 6 family members...no problem with reservations for this large part of a party.  Service was outstanding!  We all agreed that the steaks were some of the best we had ever eaten!  Seafood tower was very good!  Sides were very tasty and the creamed corn was SO GOOD!  Not sure how they prepared it, but it was some of the best ever.  Will definitely include this restaurant in our future visits to Las Vegas!', useful=0, user_id=u'SyFtPGQsX4QOx07fLmOL2g', address=u'3355 Las Vegas Blvd S', attributes=Row(AcceptsInsurance=None, AgesAllowed=None, Alcohol=u'full_bar', Ambience=Row(casual=False, classy=True, divey=False, hipster=False, intimate=False, romantic=False, touristy=False, trendy=False, upscale=True), BYOB=False, BYOBCorkage=u'yes_corkage', BestNights=None, BikeParking=False, BusinessAcceptsBitcoin=None, BusinessAcceptsCreditCards=True, BusinessParking=Row(garage=True, lot=False, street=False, valet=True, validated=False), ByAppointmentOnly=None, Caters=False, CoatCheck=None, Corkage=True, DietaryRestrictions=None, DogsAllowed=None, DriveThru=None, GoodForDancing=None, GoodForKids=False, GoodForMeal=Row(breakfast=False, brunch=False, dessert=False, dinner=True, latenight=False, lunch=False), HairSpecializesIn=None, HappyHour=None, HasTV=False, Music=None, NoiseLevel=u'average', Open24Hours=False, OutdoorSeating=False, RestaurantsAttire=u'dressy', RestaurantsCounterService=None, RestaurantsDelivery=False, RestaurantsGoodForGroups=True, RestaurantsPriceRange2=4, RestaurantsReservations=True, RestaurantsTableService=True, RestaurantsTakeOut=False, Smoking=None, WheelchairAccessible=True, WiFi=u'no'), categories=[u'Steakhouses', u'Cajun/Creole', u'Restaurants'], city=u'Las Vegas', hours=Row(Friday=u'11:30-14:00', Monday=u'11:30-14:00', Saturday=u'11:30-14:00', Sunday=u'11:30-14:00', Thursday=u'11:30-14:00', Tuesday=u'11:30-14:00', Wednesday=u'11:30-14:00'), is_open=1, latitude=36.123183, longitude=-115.16919, name=u'Delmonico Steakhouse', neighborhood=u'The Strip', postal_code=u'89109', review_count=1389, stars=4.0, state=u'NV'),
 Row(business_id=u'--9e1ONYQuAa-CB_Rrw7Tw', cool=0, date=u'2013-01-07', funny=0, review_id=u'IemzSG7LXGW5NT7IbVxEXQ', stars=2, text=u'The best part of the whole experience was the service...they paid a lot of attention to our party of four.\n\nThe worst part were the STEAKS!!!!!!! cold....later warmed up and dry with no taste at all. I can make a much better meal at home!!\n\nI would never come back to spend so much money for horrible food.\n\nI had a duck that was decent but not worth writing home about, sadly :( it was quite dry and all it needed was some of the cane sauce to be poured over it. I wonder if they can cook anything right here when it comes to meat.\n\nquite a disappointment, i am never coming back.', useful=0, user_id=u'VHXpyrKm85DoUzGlXhN-dQ', address=u'3355 Las Vegas Blvd S', attributes=Row(AcceptsInsurance=None, AgesAllowed=None, Alcohol=u'full_bar', Ambience=Row(casual=False, classy=True, divey=False, hipster=False, intimate=False, romantic=False, touristy=False, trendy=False, upscale=True), BYOB=False, BYOBCorkage=u'yes_corkage', BestNights=None, BikeParking=False, BusinessAcceptsBitcoin=None, BusinessAcceptsCreditCards=True, BusinessParking=Row(garage=True, lot=False, street=False, valet=True, validated=False), ByAppointmentOnly=None, Caters=False, CoatCheck=None, Corkage=True, DietaryRestrictions=None, DogsAllowed=None, DriveThru=None, GoodForDancing=None, GoodForKids=False, GoodForMeal=Row(breakfast=False, brunch=False, dessert=False, dinner=True, latenight=False, lunch=False), HairSpecializesIn=None, HappyHour=None, HasTV=False, Music=None, NoiseLevel=u'average', Open24Hours=False, OutdoorSeating=False, RestaurantsAttire=u'dressy', RestaurantsCounterService=None, RestaurantsDelivery=False, RestaurantsGoodForGroups=True, RestaurantsPriceRange2=4, RestaurantsReservations=True, RestaurantsTableService=True, RestaurantsTakeOut=False, Smoking=None, WheelchairAccessible=True, WiFi=u'no'), categories=[u'Steakhouses', u'Cajun/Creole', u'Restaurants'], city=u'Las Vegas', hours=Row(Friday=u'11:30-14:00', Monday=u'11:30-14:00', Saturday=u'11:30-14:00', Sunday=u'11:30-14:00', Thursday=u'11:30-14:00', Tuesday=u'11:30-14:00', Wednesday=u'11:30-14:00'), is_open=1, latitude=36.123183, longitude=-115.16919, name=u'Delmonico Steakhouse', neighborhood=u'The Strip', postal_code=u'89109', review_count=1389, stars=4.0, state=u'NV'),
 Row(business_id=u'--9e1ONYQuAa-CB_Rrw7Tw', cool=0, date=u'2011-12-03', funny=0, review_id=u'Z2XhriaGHGdgDB9D3YuexQ', stars=5, text=u'One of the best restaurants from Emeril.  A group of us dined here while in Vegas.  I ordered the ahi tuna/salmon tartare as an appetizer.  It was amazing!  The ahi and salmon tasted very fresh.  The fish is divied by a small amount of seaweed salad.  It\'s served with wonton chips, cucumber/onion "salad", and a trio of wasabi sauces.  For dinner I ordered the ribeye steak.  It was HUGE.  I was expecting small portions since it\'s the case at most fancy restaurants. Unfortunately, I wasn\'t able to finish my steak.  And most hotels in Vegas do not have a fridge or microwave in the room.  So, I couldn\'t take it with me.  For dessert, the group shared the bread pudding with butter pecan ice cream, chocolate cake, and pecan pie.  And these were not your typical "pecan pie" or "chocolate cake".  They were all delicious and decadent! You have to try them to really understand.  Overall, my dining experience was wonderful.  The service is impeccable and the restaurant has a warm ambiance to it.  Yes, it\'s pricey, but you are going to a famous chef\'s restaurant.', useful=0, user_id=u'rOfIWyE1NuZwztDTY3qHog', address=u'3355 Las Vegas Blvd S', attributes=Row(AcceptsInsurance=None, AgesAllowed=None, Alcohol=u'full_bar', Ambience=Row(casual=False, classy=True, divey=False, hipster=False, intimate=False, romantic=False, touristy=False, trendy=False, upscale=True), BYOB=False, BYOBCorkage=u'yes_corkage', BestNights=None, BikeParking=False, BusinessAcceptsBitcoin=None, BusinessAcceptsCreditCards=True, BusinessParking=Row(garage=True, lot=False, street=False, valet=True, validated=False), ByAppointmentOnly=None, Caters=False, CoatCheck=None, Corkage=True, DietaryRestrictions=None, DogsAllowed=None, DriveThru=None, GoodForDancing=None, GoodForKids=False, GoodForMeal=Row(breakfast=False, brunch=False, dessert=False, dinner=True, latenight=False, lunch=False), HairSpecializesIn=None, HappyHour=None, HasTV=False, Music=None, NoiseLevel=u'average', Open24Hours=False, OutdoorSeating=False, RestaurantsAttire=u'dressy', RestaurantsCounterService=None, RestaurantsDelivery=False, RestaurantsGoodForGroups=True, RestaurantsPriceRange2=4, RestaurantsReservations=True, RestaurantsTableService=True, RestaurantsTakeOut=False, Smoking=None, WheelchairAccessible=True, WiFi=u'no'), categories=[u'Steakhouses', u'Cajun/Creole', u'Restaurants'], city=u'Las Vegas', hours=Row(Friday=u'11:30-14:00', Monday=u'11:30-14:00', Saturday=u'11:30-14:00', Sunday=u'11:30-14:00', Thursday=u'11:30-14:00', Tuesday=u'11:30-14:00', Wednesday=u'11:30-14:00'), is_open=1, latitude=36.123183, longitude=-115.16919, name=u'Delmonico Steakhouse', neighborhood=u'The Strip', postal_code=u'89109', review_count=1389, stars=4.0, state=u'NV'),
 Row(business_id=u'--9e1ONYQuAa-CB_Rrw7Tw', cool=0, date=u'2010-12-01', funny=0, review_id=u'TwwymGytPW1QaI8F9YdILQ', stars=4, text=u"Came here for thanksgiving dinner. The place is nice, spacious, classy, definitely serve the older crowd/family scene. Food was good, nothing to complain about but nothing that WOW-ed us. Although i must say the steak tartare was awesome!\n\nOne thing to note, i didn't like the fact that the servers/hostess looked at my bf and i like we can't afford this or something, not sure if it's because we are young couple. It just have that weird/uncomfortable feelings. We were well-dressed and have the proper table ,manners etc. Weird feelings. (i still give it 4 star for the service and food though)", useful=0, user_id=u'EUyKk8kEs9-aJuc8nmm9MQ', address=u'3355 Las Vegas Blvd S', attributes=Row(AcceptsInsurance=None, AgesAllowed=None, Alcohol=u'full_bar', Ambience=Row(casual=False, classy=True, divey=False, hipster=False, intimate=False, romantic=False, touristy=False, trendy=False, upscale=True), BYOB=False, BYOBCorkage=u'yes_corkage', BestNights=None, BikeParking=False, BusinessAcceptsBitcoin=None, BusinessAcceptsCreditCards=True, BusinessParking=Row(garage=True, lot=False, street=False, valet=True, validated=False), ByAppointmentOnly=None, Caters=False, CoatCheck=None, Corkage=True, DietaryRestrictions=None, DogsAllowed=None, DriveThru=None, GoodForDancing=None, GoodForKids=False, GoodForMeal=Row(breakfast=False, brunch=False, dessert=False, dinner=True, latenight=False, lunch=False), HairSpecializesIn=None, HappyHour=None, HasTV=False, Music=None, NoiseLevel=u'average', Open24Hours=False, OutdoorSeating=False, RestaurantsAttire=u'dressy', RestaurantsCounterService=None, RestaurantsDelivery=False, RestaurantsGoodForGroups=True, RestaurantsPriceRange2=4, RestaurantsReservations=True, RestaurantsTableService=True, RestaurantsTakeOut=False, Smoking=None, WheelchairAccessible=True, WiFi=u'no'), categories=[u'Steakhouses', u'Cajun/Creole', u'Restaurants'], city=u'Las Vegas', hours=Row(Friday=u'11:30-14:00', Monday=u'11:30-14:00', Saturday=u'11:30-14:00', Sunday=u'11:30-14:00', Thursday=u'11:30-14:00', Tuesday=u'11:30-14:00', Wednesday=u'11:30-14:00'), is_open=1, latitude=36.123183, longitude=-115.16919, name=u'Delmonico Steakhouse', neighborhood=u'The Strip', postal_code=u'89109', review_count=1389, stars=4.0, state=u'NV')]

In [57]:
newbus_rev = _zzz
print newbus_rev.select("cool").show()

+----+
|cool|
+----+
|   0|
|   0|
|   0|
|   0|
|   0|
|   0|
|   0|
|   1|
|   0|
|   0|
|   0|
|   0|
|   0|
|   0|
|   0|
|   0|
|   1|
|   1|
|   1|
|   0|
+----+
only showing top 20 rows

None

In [59]:
# mean val of "cool"
newbus_rev.select("cool").agg({"cool": "avg"}).collect()

[Row(avg(cool)=0.5096600158289277)]

In [64]:
# cal mean val of "cool" again, after filter the good restaurants with >= 10 reviews
slim = _yyy.filter("review_count >= 10")
slim2 = slim.filter("stars = 4")
slim2.select("cool").agg({"cool": "avg"}).collect()

[Row(avg(cool)=0.7317252216817208)]

In [69]:
# cal again, but for different criteria
slim2 = slim.filter('is_open="\True\"')
slim3 = slim2.filter('stars >= 3')
slim3.select("cool").agg({"cool": "avg"}).collect()

[Row(avg(cool)=None)]

In [70]:
# something must be wrong here...
slim3.count()

0

In [71]:
slim2.count()

0

In [72]:
slim.count()

4324067

In [73]:
# ok, should be 1 and not True
slim2 = slim.filter('is_open = 1')
slim2.count()

3847676

In [74]:
slim3 = slim2.filter('stars >= 3')
slim3.select("cool").agg({"cool": "avg"}).collect()

[Row(avg(cool)=0.5738976337462125)]

In [76]:
# find which state has the most reviews 
slimstate = slim.groupBy("state")
slim_ct = slimstate.agg({"review_count": "sum"}).orderBy(desc("SUM(review_count)")).collect()

In [81]:
print slim_ct[:3]

[Row(state=u'NV', sum(review_count)=1112608328), Row(state=u'AZ', sum(review_count)=298839665), Row(state=u'ON', sum(review_count)=60893394)]

#### keep playing

In [82]:
_yyy.filter("useful >= 1").count()

1981990

In [83]:
_yyy.select("useful").agg({"useful": "max"}).collect()

[Row(max(useful)=1125)]

In [87]:
_dum = _yyy.select("useful")

In [90]:
_dum.count()

4736897

In [102]:
_dum.take(1125)[-5:]

[Row(useful=0), Row(useful=1), Row(useful=0), Row(useful=11), Row(useful=0)]

In [100]:
_yyy.select("business_id", (_yyy.stars/1*1).cast("int")).show(5)
print _yyy.stars

+--------------------+------------------------------+
|         business_id|CAST(((stars / 1) * 1) AS INT)|
+--------------------+------------------------------+
|dwQEZBFen2GdihLLf...|                             4|
|mr4FiPaXTWlJ3qGzp...|                             5|
|_mqUzNXs_sJ1EJYgY...|                             5|
|nFLjodhGSJ8B-KB_S...|                             5|
|e-hztV3mlfn5z8VmR...|                             5|
+--------------------+------------------------------+
only showing top 5 rows

Column<stars>

In [103]:
_yyy.select("business_id", (_yyy.stars*10).cast("int")).show(5)

+--------------------+-------------------------+
|         business_id|CAST((stars * 10) AS INT)|
+--------------------+-------------------------+
|dwQEZBFen2GdihLLf...|                       40|
|mr4FiPaXTWlJ3qGzp...|                       50|
|_mqUzNXs_sJ1EJYgY...|                       50|
|nFLjodhGSJ8B-KB_S...|                       50|
|e-hztV3mlfn5z8VmR...|                       50|
+--------------------+-------------------------+
only showing top 5 rows

### play with some attributes

In [107]:
import pyspark.sql.functions as func
xx = bus.groupBy("postal_code").agg(func.max("stars"), func.sum("review_count"))

In [108]:
xx

DataFrame[postal_code: string, max(stars): double, sum(review_count): bigint]

In [109]:
print xx.columns

['postal_code', 'max(stars)', 'sum(review_count)']

In [110]:
xx.select('postal_code').describe().show()

+-------+------------------+
|summary|       postal_code|
+-------+------------------+
|  count|             14508|
|   mean|58285.150715071504|
| stddev| 39517.14357170148|
|    min|                  |
|    max|          YO22 5LY|
+-------+------------------+

### Play with spark.sql

In [62]:
#we can do the same thing in sql code
# we must first create a "view" of the data in order to execute SQL functions
bus.createOrReplaceTempView("bus")
spark.sql("SELECT COUNT(*) FROM bus GROUP BY neighborhood").collect()

[Row(count(1)=70),
 Row(count(1)=5),
 Row(count(1)=51),
 Row(count(1)=239),
 Row(count(1)=122),
 Row(count(1)=5),
 Row(count(1)=81),
 Row(count(1)=4),
 Row(count(1)=2),
 Row(count(1)=3),
 Row(count(1)=3237),
 Row(count(1)=12),
 Row(count(1)=8),
 Row(count(1)=4),
 Row(count(1)=3),
 Row(count(1)=100),
 Row(count(1)=58),
 Row(count(1)=7),
 Row(count(1)=234),
 Row(count(1)=6),
 Row(count(1)=13),
 Row(count(1)=99),
 Row(count(1)=531),
 Row(count(1)=13),
 Row(count(1)=1),
 Row(count(1)=110),
 Row(count(1)=254),
 Row(count(1)=63),
 Row(count(1)=367),
 Row(count(1)=1),
 Row(count(1)=2),
 Row(count(1)=2),
 Row(count(1)=10),
 Row(count(1)=4),
 Row(count(1)=133),
 Row(count(1)=5),
 Row(count(1)=14),
 Row(count(1)=314),
 Row(count(1)=42),
 Row(count(1)=18),
 Row(count(1)=1751),
 Row(count(1)=269),
 Row(count(1)=149),
 Row(count(1)=18),
 Row(count(1)=23),
 Row(count(1)=8),
 Row(count(1)=20),
 Row(count(1)=276),
 Row(count(1)=24),
 Row(count(1)=34),
 Row(count(1)=118),
 Row(count(1)=5),
 Row(count(1)=381),
 Row(count(1)=112),
 Row(count(1)=53),
 Row(count(1)=103),
 Row(count(1)=171),
 Row(count(1)=2),
 Row(count(1)=54),
 Row(count(1)=1),
 Row(count(1)=102),
 Row(count(1)=8),
 Row(count(1)=2),
 Row(count(1)=72),
 Row(count(1)=187),
 Row(count(1)=121),
 Row(count(1)=1),
 Row(count(1)=25),
 Row(count(1)=13),
 Row(count(1)=3),
 Row(count(1)=5),
 Row(count(1)=43),
 Row(count(1)=38),
 Row(count(1)=9),
 Row(count(1)=460),
 Row(count(1)=294),
 Row(count(1)=33),
 Row(count(1)=18),
 Row(count(1)=6),
 Row(count(1)=62),
 Row(count(1)=170),
 Row(count(1)=25),
 Row(count(1)=27),
 Row(count(1)=24),
 Row(count(1)=68),
 Row(count(1)=330),
 Row(count(1)=11),
 Row(count(1)=24),
 Row(count(1)=24),
 Row(count(1)=914),
 Row(count(1)=184),
 Row(count(1)=27),
 Row(count(1)=18),
 Row(count(1)=63),
 Row(count(1)=54),
 Row(count(1)=14),
 Row(count(1)=69),
 Row(count(1)=207),
 Row(count(1)=487),
 Row(count(1)=224),
 Row(count(1)=11),
 Row(count(1)=232),
 Row(count(1)=9),
 Row(count(1)=7),
 Row(count(1)=50),
 Row(count(1)=13),
 Row(count(1)=2),
 Row(count(1)=653),
 Row(count(1)=77),
 Row(count(1)=34),
 Row(count(1)=21),
 Row(count(1)=2),
 Row(count(1)=60),
 Row(count(1)=9),
 Row(count(1)=6),
 Row(count(1)=11),
 Row(count(1)=177),
 Row(count(1)=1160),
 Row(count(1)=69),
 Row(count(1)=22),
 Row(count(1)=15),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=164),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=313),
 Row(count(1)=41),
 Row(count(1)=2),
 Row(count(1)=148),
 Row(count(1)=49),
 Row(count(1)=213),
 Row(count(1)=1),
 Row(count(1)=167),
 Row(count(1)=8),
 Row(count(1)=19),
 Row(count(1)=95),
 Row(count(1)=18),
 Row(count(1)=92),
 Row(count(1)=34),
 Row(count(1)=1),
 Row(count(1)=73),
 Row(count(1)=260),
 Row(count(1)=16),
 Row(count(1)=3),
 Row(count(1)=41),
 Row(count(1)=6),
 Row(count(1)=62),
 Row(count(1)=4),
 Row(count(1)=354),
 Row(count(1)=127),
 Row(count(1)=48),
 Row(count(1)=84),
 Row(count(1)=67),
 Row(count(1)=5),
 Row(count(1)=4),
 Row(count(1)=1031),
 Row(count(1)=75),
 Row(count(1)=33),
 Row(count(1)=790),
 Row(count(1)=25),
 Row(count(1)=7),
 Row(count(1)=9),
 Row(count(1)=3),
 Row(count(1)=58),
 Row(count(1)=135),
 Row(count(1)=57),
 Row(count(1)=17),
 Row(count(1)=3082),
 Row(count(1)=101),
 Row(count(1)=193),
 Row(count(1)=2),
 Row(count(1)=1),
 Row(count(1)=2405),
 Row(count(1)=1433),
 Row(count(1)=100),
 Row(count(1)=10),
 Row(count(1)=132),
 Row(count(1)=309),
 Row(count(1)=147),
 Row(count(1)=36),
 Row(count(1)=494),
 Row(count(1)=223),
 Row(count(1)=36),
 Row(count(1)=30),
 Row(count(1)=3),
 Row(count(1)=43),
 Row(count(1)=12),
 Row(count(1)=47),
 Row(count(1)=43),
 Row(count(1)=7),
 Row(count(1)=71),
 Row(count(1)=234),
 Row(count(1)=47),
 Row(count(1)=37),
 Row(count(1)=8),
 Row(count(1)=6),
 Row(count(1)=10),
 Row(count(1)=2173),
 Row(count(1)=440),
 Row(count(1)=139),
 Row(count(1)=17),
 Row(count(1)=25),
 Row(count(1)=9),
 Row(count(1)=2),
 Row(count(1)=9),
 Row(count(1)=118),
 Row(count(1)=9),
 Row(count(1)=1),
 Row(count(1)=2),
 Row(count(1)=137),
 Row(count(1)=16),
 Row(count(1)=7),
 Row(count(1)=8),
 Row(count(1)=1),
 Row(count(1)=25),
 Row(count(1)=1),
 Row(count(1)=387),
 Row(count(1)=29),
 Row(count(1)=102),
 Row(count(1)=12),
 Row(count(1)=3),
 Row(count(1)=304),
 Row(count(1)=156),
 Row(count(1)=755),
 Row(count(1)=56),
 Row(count(1)=7),
 Row(count(1)=183),
 Row(count(1)=1381),
 Row(count(1)=607),
 Row(count(1)=168),
 Row(count(1)=217),
 Row(count(1)=42),
 Row(count(1)=4),
 Row(count(1)=197),
 Row(count(1)=267),
 Row(count(1)=112),
 Row(count(1)=121),
 Row(count(1)=251),
 Row(count(1)=201),
 Row(count(1)=1),
 Row(count(1)=81),
 Row(count(1)=3),
 Row(count(1)=20),
 Row(count(1)=4),
 Row(count(1)=43),
 Row(count(1)=16),
 Row(count(1)=2),
 Row(count(1)=155),
 Row(count(1)=81),
 Row(count(1)=74),
 Row(count(1)=10),
 Row(count(1)=19),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=153),
 Row(count(1)=355),
 Row(count(1)=185),
 Row(count(1)=2223),
 Row(count(1)=49),
 Row(count(1)=269),
 Row(count(1)=18),
 Row(count(1)=79),
 Row(count(1)=16),
 Row(count(1)=415),
 Row(count(1)=308),
 Row(count(1)=1),
 Row(count(1)=59),
 Row(count(1)=93),
 Row(count(1)=7),
 Row(count(1)=30),
 Row(count(1)=1),
 Row(count(1)=32),
 Row(count(1)=12),
 Row(count(1)=6),
 Row(count(1)=13),
 Row(count(1)=333),
 Row(count(1)=155),
 Row(count(1)=28),
 Row(count(1)=235),
 Row(count(1)=56),
 Row(count(1)=3),
 Row(count(1)=162),
 Row(count(1)=3),
 Row(count(1)=25),
 Row(count(1)=31),
 Row(count(1)=203),
 Row(count(1)=19),
 Row(count(1)=78),
 Row(count(1)=89),
 Row(count(1)=108),
 Row(count(1)=29),
 Row(count(1)=2),
 Row(count(1)=3),
 Row(count(1)=1187),
 Row(count(1)=8),
 Row(count(1)=588),
 Row(count(1)=13),
 Row(count(1)=6),
 Row(count(1)=63),
 Row(count(1)=33),
 Row(count(1)=47),
 Row(count(1)=151),
 Row(count(1)=23),
 Row(count(1)=2),
 Row(count(1)=171),
 Row(count(1)=53),
 Row(count(1)=433),
 Row(count(1)=8),
 Row(count(1)=94),
 Row(count(1)=83),
 Row(count(1)=42),
 Row(count(1)=402),
 Row(count(1)=68),
 Row(count(1)=6),
 Row(count(1)=2627),
 Row(count(1)=42),
 Row(count(1)=31),
 Row(count(1)=63),
 Row(count(1)=1714),
 Row(count(1)=61),
 Row(count(1)=92),
 Row(count(1)=94403),
 Row(count(1)=12),
 Row(count(1)=12),
 Row(count(1)=16),
 Row(count(1)=15),
 Row(count(1)=78),
 Row(count(1)=48),
 Row(count(1)=48),
 Row(count(1)=37),
 Row(count(1)=4),
 Row(count(1)=378),
 Row(count(1)=6),
 Row(count(1)=79),
 Row(count(1)=189),
 Row(count(1)=7),
 Row(count(1)=138),
 Row(count(1)=872),
 Row(count(1)=215),
 Row(count(1)=5),
 Row(count(1)=729),
 Row(count(1)=135),
 Row(count(1)=44),
 Row(count(1)=27),
 Row(count(1)=5),
 Row(count(1)=49),
 Row(count(1)=10),
 Row(count(1)=47),
 Row(count(1)=19),
 Row(count(1)=77),
 Row(count(1)=212),
 Row(count(1)=29),
 Row(count(1)=1),
 Row(count(1)=279),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=430),
 Row(count(1)=10),
 Row(count(1)=449),
 Row(count(1)=291),
 Row(count(1)=7),
 Row(count(1)=1),
 Row(count(1)=282),
 Row(count(1)=89),
 Row(count(1)=110),
 Row(count(1)=12),
 Row(count(1)=61),
 Row(count(1)=316),
 Row(count(1)=11),
 Row(count(1)=374),
 Row(count(1)=18),
 Row(count(1)=3),
 Row(count(1)=992),
 Row(count(1)=120),
 Row(count(1)=23),
 Row(count(1)=39),
 Row(count(1)=13),
 Row(count(1)=134),
 Row(count(1)=27),
 Row(count(1)=262),
 Row(count(1)=84),
 Row(count(1)=27)]

In [64]:
spark.sql("SELECT * FROM bus").show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [28]:
#Convert string types(categorical) to integerTypes
types = [str(f.dataType) for f in dat.schema.fields]
ind_str = [i for i in range(len(types)) if types[i] is 'StringType']
ind_int = [i for i in range(len(types)) if types[i] is 'IntegerType']
stringcol= [dat.columns[i] for i in ind_str]
intcol = [dat.columns[i] for i in ind_int]
print(stringcol)
print(intcol)
del ind_str, ind_int, types

['business_id']
[]

In [33]:
dat = dat.drop('ID')
dat.drop?

In [34]:
# remove all string columns
for colname in stringcol:
    dat = dat.drop(colname)
    
# remove 'business_id' from inttype list
intcol = intcol[1:]

In [35]:
intcol

[]

In [69]:
print type('s')

<type 'str'>

In [80]:
# apply a user defined function (UDF)
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

taste_udf = udf(lambda stars: "haeven" if stars == 5 else "mediocore", StringType())

In [85]:
print bus['stars']

Column<stars>

In [86]:
print bus.select('stars').show()

+-----+
|stars|
+-----+
|  4.5|
|  3.5|
|  2.0|
|  3.5|
|  3.5|
|  5.0|
|  2.5|
|  3.0|
|  4.0|
|  4.5|
|  5.0|
|  4.5|
|  3.0|
|  3.5|
|  4.5|
|  2.5|
|  4.0|
|  3.5|
|  4.0|
|  4.0|
+-----+
only showing top 20 rows

None

In [90]:
# Add new column
print taste_udf(bus.stars)
# Add new column
buste = bus.withColumn('tastebud', taste_udf(bus.stars))

Column<<lambda>(stars)>

In [91]:
print buste.show()

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|     latitude|     longitude|                name|        neighborhood|postal_code|review_count|stars|state| tastebud|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
|  Silberburgstr. 171|[null,null,null,n...|IVtp8mznb2vRO0Ocw...|  [Shopping, Bridal]| Stuttgart|[10:00-18:00,10:0...|      1|   48.7714398|      9.168795|   Brautatelier Tara|                    |      70178|           3|  4.5|   BW|mediocore|
|    7000 E Shea Blvd|[null,null,full_b...|XFQbescZxNRAb2U-N...|[American (Tradit...|Scottsdale|[11:00-23:00,11:0...|      0|   33.5826712|   -111.929119|        Claim Jumper|                    |      85254|          22|  3.5|   AZ|mediocore|
|       1850 S 7th St|[null,null,none,[...|1Ds8V2c7LlwSAA3O-...|[Burgers, Restaur...|   Phoenix|[5:00-0:00,5:00-2...|      1|   33.4297449|   -112.065708|          McDonald's|                    |      85004|           8|  2.0|   AZ|mediocore|
|    4455 Paradise Rd|[null,null,null,n...|cNd3G6WB3D8BUp46U...|         [Nightlife]| Las Vegas|[null,null,null,n...|      1|   36.1100828|  -115.1538714|Midway Bar at Har...|            Eastside|      89169|           3|  3.5|   NV|mediocore|
|  4700 N Central Ave|[null,null,null,n...|fGAb16Qaz64tnnqoD...|[Active Life, Fit...|   Phoenix|[null,null,null,n...|      0|   33.5062078|  -112.0739142|Club Fu Wing Chun...|                    |      85013|           3|  3.5|   AZ|mediocore|
|      Brunnenstr. 27|[null,null,null,n...|LM-_1Ye4Ufn9zxEuZ...|[Hotels, Restaura...| Stuttgart|[16:00-23:30,17:0...|      1|     48.80633|        9.2147|Taverna Ouzeri Ko...|                    |      70372|           5|  5.0|   BW|   haeven|
|2095 W Pecos Rd, ...|[true,null,null,n...|v_NBQhFPHDNlEJbdw...|[Laboratory Testi...|  Chandler|[8:00-17:00,8:00-...|      1|33.2905994452|-111.878029928|Sonora Quest Labo...|                    |      85224|           7|  2.5|   AZ|mediocore|
|         7-8 Elm Row|[null,null,null,n...|oXNNwLFJM4PNHOpSb...|[Nightlife, Bars,...| Edinburgh|[11:00-0:00,11:00...|      1|   55.9597985|    -3.1823036|             Elm Bar|               Leith|    EH7 4AA|           7|  3.0|  EDH|mediocore|
|9813 South Blvd, ...|[null,null,null,n...|4ZLwV5HhzBfzYw3Jy...|[Shopping, Kitche...| Charlotte|[10:00-21:00,10:0...|      0|   35.1037057|   -80.8795206|          Kirkland's|                    |      28273|           4|  4.0|   NC|mediocore|
|9651 Brookdale Dr...|[true,null,null,n...|VRjMOWAzUIbM7Yd5Q...|[Optometrists, Ey...| Charlotte|[8:00-17:00,8:00-...|      1|   35.2828178|   -80.6691502|University Eye As...|                    |      28215|          13|  4.5|   NC|mediocore|
|2000 South Blvd, ...|[null,null,null,n...|JGJKGPH5H4k8K02Wv...|[Beauty & Spas, H...| Charlotte|[10:00-18:00,null...|      1|   35.2092456|   -80.8607013|     Studio Ruby Woo|           South End|      28203|           5|  5.0|   NC|   haeven|
|2625 E Tropicana ...|[null,null,null,n...|aEDPioOyd9YjaY8Y-...|[Professional Ser...| Las Vegas|[9:00-19:00,9:00-...|      1|   36.0992547|  -115.1139483|  DM Bros PhoneWorld|           Southeast|      89121|          15|  4.5|   NV|mediocore|
|       39 Leith Walk|[null,null,full_b...|DMrnb11dwFdgbcNYz...|[Pubs, Bars, Nigh...| Edinburgh|[null,null,null,n...|      1|55.9698425511| -3.1721500428|         Spey Lounge|               Leith|    EH6 8LS|           5|  3.0|  EDH|mediocore|
|8445 Davis Lake Pkwy|[null,null,null,n...|oc50MoXt3lg1a4QzC...|     [Grocery, Food]| Charlotte|[null,null,null,n...|      0|   35.3342055|   -80.8142847|         Lowes Foods|                    |      28269|           5|  3.5|   NC|mediocore|
|   23 Bernard Street|[null,null,none,[...|BLEahNnfVfSj6g8ef...|[Cafes, Restaurants]| Edinburgh|[7:00-17:00,7:00-...|      1|   55.9755134|    -3.1674969|      Cafe Marmalade|               Leith|    EH6 6PW|           6|  4.5|  MLN|mediocore|
|    35 Main Street N|[null,null,full_b...|FQ9C3ZF0NOfRyvFdx...|[Italian, Restaur...|  Brampton|[17:00-22:00,null...|      0|   43.6863688|    -79.760614|     Trio Ristorante|                    |    L6X 1M8|           5|  2.5|   ON|mediocore|
|   305 Royal West Dr|[null,null,full_b...|-XNodvHlq9oDu-kQB...|[Restaurants, Ind...|  Brampton|[11:30-23:00,11:3...|      1|    43.659763|    -79.814678|       Patiala House|                    |    L6X 5K8|          10|  4.0|   ON|mediocore|
|2901 Las Vegas Bl...|[null,null,null,n...|Lj6tX9QOf-uxLNOZ8...|[Nightlife, Perfo...| Las Vegas|[null,null,null,n...|      1|   36.1354133|  -115.1600836|Abra-ca-sexy! Sca...|           The Strip|      89109|           3|  3.5|   NV|mediocore|
|  1358 Williamson St|[null,null,none,[...|-rLP6lfoQmOO_5Pf2...|[Bakeries, Restau...|   Madison|[7:00-15:00,7:00-...|      1|   43.0853652|   -89.3617096|         Lazy Jane's|Williamson - Marq...|      53703|         234|  4.0|   WI|mediocore|
|9205 W Russell Rd...|[false,null,null,...|t5vhRhogtC_K7PaMq...|[Cannabis Clinics...| Las Vegas|[9:00-17:00,9:00-...|      1|   36.0845762|  -115.2932145|Karma Holistic He...|       Spring Valley|      89148|          14|  4.0|   NV|mediocore|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+-------------+--------------+--------------------+--------------------+-----------+------------+-----+-----+---------+
only showing top 20 rows

None

In [12]:
review.describe()

DataFrame[summary: string, business_id: string, cool: string, date: string, funny: string, review_id: string, stars: string, text: string, useful: string, user_id: string]

In [29]:
primarykey = bus.select('business_id','state')

In [30]:
print primarykey.show()

+--------------------+-----+
|         business_id|state|
+--------------------+-----+
|IVtp8mznb2vRO0Ocw...|   BW|
|XFQbescZxNRAb2U-N...|   AZ|
|1Ds8V2c7LlwSAA3O-...|   AZ|
|cNd3G6WB3D8BUp46U...|   NV|
|fGAb16Qaz64tnnqoD...|   AZ|
|LM-_1Ye4Ufn9zxEuZ...|   BW|
|v_NBQhFPHDNlEJbdw...|   AZ|
|oXNNwLFJM4PNHOpSb...|  EDH|
|4ZLwV5HhzBfzYw3Jy...|   NC|
|VRjMOWAzUIbM7Yd5Q...|   NC|
|JGJKGPH5H4k8K02Wv...|   NC|
|aEDPioOyd9YjaY8Y-...|   NV|
|DMrnb11dwFdgbcNYz...|  EDH|
|oc50MoXt3lg1a4QzC...|   NC|
|BLEahNnfVfSj6g8ef...|  MLN|
|FQ9C3ZF0NOfRyvFdx...|   ON|
|-XNodvHlq9oDu-kQB...|   ON|
|Lj6tX9QOf-uxLNOZ8...|   NV|
|-rLP6lfoQmOO_5Pf2...|   WI|
|t5vhRhogtC_K7PaMq...|   NV|
+--------------------+-----+
only showing top 20 rows

None

In [32]:
primarykey.describe().show()

+-------+--------------------+------------------+
|summary|         business_id|             state|
+-------+--------------------+------------------+
|  count|              156639|            156639|
|   mean|                null|              10.5|
| stddev|                null|26.071330723886835|
|    min|--6MefnULPED_I942...|                01|
|    max|zzzaIBwimxVej4tY6...|               ZET|
+-------+--------------------+------------------+

In [33]:
primarykey.show()

+--------------------+-----+
|         business_id|state|
+--------------------+-----+
|IVtp8mznb2vRO0Ocw...|   BW|
|XFQbescZxNRAb2U-N...|   AZ|
|1Ds8V2c7LlwSAA3O-...|   AZ|
|cNd3G6WB3D8BUp46U...|   NV|
|fGAb16Qaz64tnnqoD...|   AZ|
|LM-_1Ye4Ufn9zxEuZ...|   BW|
|v_NBQhFPHDNlEJbdw...|   AZ|
|oXNNwLFJM4PNHOpSb...|  EDH|
|4ZLwV5HhzBfzYw3Jy...|   NC|
|VRjMOWAzUIbM7Yd5Q...|   NC|
|JGJKGPH5H4k8K02Wv...|   NC|
|aEDPioOyd9YjaY8Y-...|   NV|
|DMrnb11dwFdgbcNYz...|  EDH|
|oc50MoXt3lg1a4QzC...|   NC|
|BLEahNnfVfSj6g8ef...|  MLN|
|FQ9C3ZF0NOfRyvFdx...|   ON|
|-XNodvHlq9oDu-kQB...|   ON|
|Lj6tX9QOf-uxLNOZ8...|   NV|
|-rLP6lfoQmOO_5Pf2...|   WI|
|t5vhRhogtC_K7PaMq...|   NV|
+--------------------+-----+
only showing top 20 rows

In [35]:
review.groupBy("business_id").count().orderBy("count").collect()

[Row(business_id=u'qj4KHXGgwyutHpvWRLI87g', count=1),
 Row(business_id=u'iK6JSngIDcToad8SBl04Fg', count=1),
 Row(business_id=u'h5csTpDRI7_oo1RUOeHOtQ', count=2),
 Row(business_id=u'BiQGSKfQJgmjx-HSgeO2Mg', count=2),
 Row(business_id=u'Egu3Q_gHX2NmfGMi5voS8A', count=2),
 Row(business_id=u'mhjSXQR9LvL10SSHH6aHIg', count=2),
 Row(business_id=u'JoZjCxjbS-01rjBz3KR8Nw', count=2),
 Row(business_id=u'o5cjHbxPMcfqauzklOyPQw', count=2),
 Row(business_id=u'1z_l90NydQFJp9s5eYWkTw', count=2),
 Row(business_id=u'_iTsyRdHmwDKT2pQLW3LaA', count=2),
 Row(business_id=u'IW1j1wqAdiBcj6fWGkyQCA', count=2),
 Row(business_id=u'Ar7lMMYZIo1ND3AUzhW-Gw', count=2),
 Row(business_id=u'roxnZ0kodKkj5iR72UlQSw', count=2),
 Row(business_id=u'RtlEHMt-96EROQ3du7B8dA', count=2),
 Row(business_id=u'1J3eSZk7SoXef_cbJJ5jHQ', count=2),
 Row(business_id=u'HHgHEtXyIO228Sybr6vdIg', count=2),
 Row(business_id=u'sih1hTxuGP0vtTD3tciKKg', count=2),
 Row(business_id=u'YHX61tYzUKlz9H4gdROlDA', count=2),
 Row(business_id=u'uPOCtXFMpkCjllwAscQBDg', count=2),
 Row(business_id=u'ja1Svo3pX0Z_flliTrukHg', count=2),
 Row(business_id=u'-RYgx5kQ91vsQQ7RNJ1DQQ', count=2),
 Row(business_id=u'6WfesHZWlPY5c6RCadYGsg', count=2),
 Row(business_id=u'Gdbx1UW2Qr53yOanW0O5og', count=2),
 Row(business_id=u'pmyHFrPvE2sPsbPFd4ckyQ', count=2),
 Row(business_id=u'ZS55tkaRnPR-QSi2i_871w', count=2),
 Row(business_id=u'SpJYus_184M2TdT7t52rIA', count=2),
 Row(business_id=u'OpoA5j5ohq8UqXpsyAXxpw', count=2),
 Row(business_id=u'mb6e5-4s6YIaQAlbPHuWyQ', count=2),
 Row(business_id=u'A3H749M1AEggNylDQ5Fr-A', count=2),
 Row(business_id=u'Qb3699Z3jChkSmNhY9oqxg', count=2),
 Row(business_id=u'5a3ZWk3F9JgSPp97McF76Q', count=2),
 Row(business_id=u'cPDWvaxauKlokoV7MEVHxQ', count=2),
 Row(business_id=u'xqWx-D0sT5cevkULWJy6xA', count=2),
 Row(business_id=u'9FSnPeIIKpIxe7EUkd8JnA', count=2),
 Row(business_id=u'bmM39KLhkHfrm1FHTCCZkg', count=2),
 Row(business_id=u'UXJKNmBuo2_0egYuN8KxJg', count=2),
 Row(business_id=u'KGoK1lpKmkTV6uMK2hrzfQ', count=2),
 Row(business_id=u'POcKs2JOkWdq0mm_vtIehw', count=2),
 Row(business_id=u'8gbJ_oKfKzR_GOOFIHIHFQ', count=2),
 Row(business_id=u'dAsnC9InN3ql_niiA6s8Tw', count=2),
 Row(business_id=u'akGAR7Kasfr0AuBBOWYV3g', count=2),
 Row(business_id=u'FRqzMYKxASVDhn0W2limWg', count=2),
 Row(business_id=u'eMlRICB4vFotYzHVgeNjWw', count=2),
 Row(business_id=u'Fs8u8swdxFOmZAZN2Djmag', count=2),
 Row(business_id=u'fCKp6U0QFHOdpud7QDf3cA', count=3),
 Row(business_id=u'2nnMxmgnYj0_WAG2GHwnhA', count=3),
 Row(business_id=u'M9N2eaO8PkT7MHGLLA6V3Q', count=3),
 Row(business_id=u'GnQd57GU7wpCmFI7wPkEJw', count=3),
 Row(business_id=u'O2bEfMdeRhVh30Pub6i74A', count=3),
 Row(business_id=u'Pr3IqTTaeJHPWqFKtt6jSA', count=3),
 Row(business_id=u'U2SepNV2djq1hgk4WxL1mQ', count=3),
 Row(business_id=u'wwdQinGyTWueJiPtWWS3Gw', count=3),
 Row(business_id=u'5mNH-LHqK34tcOsU5IPi5g', count=3),
 Row(business_id=u'ofQjrbfKDm1clYI3y8Tx5w', count=3),
 Row(business_id=u'udE7bXwdBIvnh2Rq5r-IjA', count=3),
 Row(business_id=u'FcRf8dciFsQ9ZUj0B7yiOg', count=3),
 Row(business_id=u'On-pcs9mLEUSb0Lx_7eDBw', count=3),
 Row(business_id=u'aipGVzw4Hmq3sXXce9ZXTA', count=3),
 Row(business_id=u'hq2ODL1TUtotMoXsTyNQFQ', count=3),
 Row(business_id=u'v3FWkmc6MmZ4B-YZ8hjQJw', count=3),
 Row(business_id=u'QECbD4PR3vnhodR13QTokA', count=3),
 Row(business_id=u'UWDeA98ZDxACZbWZhiEt9g', count=3),
 Row(business_id=u'SacY8ELlcKz6ctIjsv4org', count=3),
 Row(business_id=u'SGRYspSYh7PMel7Nx-QU4Q', count=3),
 Row(business_id=u'UVP89cBCQiu0CHolVy2-_w', count=3),
 Row(business_id=u'0zJnUKQEurpIb_l4RDx3rw', count=3),
 Row(business_id=u'19m3NtbbP2VX-tDFJB1lKQ', count=3),
 Row(business_id=u'nTy5IQrxSCtuMhmMML5R-Q', count=3),
 Row(business_id=u'dZ1HqSFqksFbOA6dNw-ewg', count=3),
 Row(business_id=u'ppFCP2Sy7odSmN0i8HX24Q', count=3),
 Row(business_id=u'rwV5AB0JXzNzruVd-a30gg', count=3),
 Row(business_id=u'7hfii7_xS4zoM-nVpOHqJw', count=3),
 Row(business_id=u'Ty4YiSPq6lhdzXUNCWHNZw', count=3),
 Row(business_id=u'SyjlUx5wOdTard4UR5CUCQ', count=3),
 Row(business_id=u'lRPM1UWvqvY4KaS_BHmtSw', count=3),
 Row(business_id=u'OUK0TD3_DQ196kUMvF_PKg', count=3),
 Row(business_id=u'2ZzThh_QS7JnNApvNwOH4w', count=3),
 Row(business_id=u'O8wb0KoFttx9Q7Y7EKMsJA', count=3),
 Row(business_id=u'rt8yYbavl6IAUjwh66YeNQ', count=3),
 Row(business_id=u'1RFIVcZYV77tGIwVVGGClw', count=3),
 Row(business_id=u'gUULppraNRIGl8msEMSoCQ', count=3),
 Row(business_id=u'Gj7Hq19LbFputStAl4Jtyg', count=3),
 Row(business_id=u'5MPMTU0AZY0LuAT3Zt4TkA', count=3),
 Row(business_id=u'TgE4D8gGnQSj0vpf-JEYhQ', count=3),
 Row(business_id=u'zyJDdgxhBNBeKaTCcNMFlQ', count=3),
 Row(business_id=u'qtsrM6Xxh1LqxG0X6K6tuQ', count=3),
 Row(business_id=u'Yemfgx9S_UzK9Rbqpbl6nA', count=3),
 Row(business_id=u'TTVwcuc1Nz4ZSZH4wnbxKQ', count=3),
 Row(business_id=u'VIK_VpbjDHn4w9jSVZYOPA', count=3),
 Row(business_id=u'Va-2xSF5L1x5SYeXLK_eCQ', count=3),
 Row(business_id=u'kA8ee0dh0enl6MU5VBmt4A', count=3),
 Row(business_id=u'MUUQd7Gxql--4hCjKDg1KQ', count=3),
 Row(business_id=u'6vfdZMtcaJa__vcjU2v41Q', count=3),
 Row(business_id=u'61Hyspz5Q1Jlhz7jOmaRmw', count=3),
 Row(business_id=u'veaUBU4pq5dJm6Em6wgEMg', count=3),
 Row(business_id=u'r27rqXEjlRsHVIScTmmGzw', count=3),
 Row(business_id=u'Xl0y5cXEPCi-Kd4Dw_8gng', count=3),
 Row(business_id=u'G5nZ_tBKh8qQ49-iuz9kEw', count=3),
 Row(business_id=u'4yYzxusSRcW85e2SBo0W4g', count=3),
 Row(business_id=u'pTHr6VDpJzLy5d2QgCa6rg', count=3),
 Row(business_id=u'nCFO5Yc2vuJRkyqUKvLaNA', count=3),
 Row(business_id=u'EqVT1DykPiueC-HAZsqk7Q', count=3),
 Row(business_id=u'A5Ogj7Embvhztr5TuAnCaA', count=3),
 Row(business_id=u'hrmNEMGTUVfjenZgVKKsuQ', count=3),
 Row(business_id=u'shkzhsxFgCvJhcAaLcKMfw', count=3),
 Row(business_id=u'FCctb3tW96AkGyl_HE_x5Q', count=3),
 Row(business_id=u'1LoUdXkiRjio2LnVIkK0lg', count=3),
 Row(business_id=u'uBGtWaTX_ErID2bppF2f-g', count=3),
 Row(business_id=u'ZW01IFHfXe_gwC9J8jyFEA', count=3),
 Row(business_id=u'd2fkRF67jiASrXxHfbmJuA', count=3),
 Row(business_id=u'OcGtUr_TsmYdJ0jqwP6TCw', count=3),
 Row(business_id=u'g7hXPt-XEJET7aTJxh_Xew', count=3),
 Row(business_id=u'QJumhskdMZWVwtOm8pjZZA', count=3),
 Row(business_id=u'Xz5PO5UllsZfYn6jqb3c7g', count=3),
 Row(business_id=u'kY32EtZjc3kojY372MTp2Q', count=3),
 Row(business_id=u'yaHyPn3zfLPK46NpvtqlPw', count=3),
 Row(business_id=u'_-Pfev4e1FXfv9pc9im-7Q', count=3),
 Row(business_id=u'5GtfNFhdP-ws1BEDW9VcGQ', count=3),
 Row(business_id=u'5aE6Ph2-IkRNzR4T559rCA', count=3),
 Row(business_id=u'dMuwrXqkNMJKx7JbbETTHQ', count=3),
 Row(business_id=u'-RRnldwSqCZT6OpuWKXolg', count=3),
 Row(business_id=u'6taPX2aLuzMK_aOO5rQ8ww', count=3),
 Row(business_id=u'qg51yyLlAy-iVYs2lZ1MZA', count=3),
 Row(business_id=u'TCJoCBGnR_mrVBNRUKv-RQ', count=3),
 Row(business_id=u'-m8v19CXrGEYr3PALjqVCg', count=3),
 Row(business_id=u'k5ufD47Z0t3rkyIYpXoT5Q', count=3),
 Row(business_id=u'rWtglX0leY_pqi-UD820Ag', count=3),
 Row(business_id=u'EKGUOygWh21MAMdRRrOf8A', count=3),
 Row(business_id=u'FwxLOZ9PMokxlUPV6_JHxA', count=3),
 Row(business_id=u'4XMhO5LyfFHq5rdFHkXfXQ', count=3),
 Row(business_id=u'B1Zv1S14pIN3Lojio-4HQw', count=3),
 Row(business_id=u'pFV2dafAgiZrPUNAAoMxMQ', count=3),
 Row(business_id=u'IyECjqSVYKi-P1ncNd0CMg', count=3),
 Row(business_id=u'iWs7af7ChREgSfvortbHJA', count=3),
 Row(business_id=u'9avChPd7P3i4cJCA-V_kLw', count=3),
 Row(business_id=u'cvt-gFhvW62DBwXX85hjOQ', count=3),
 Row(business_id=u'yJw-oz84KB70YoxRFMYBkQ', count=3),
 Row(business_id=u'LRutQ1JxycXkjKeYot5fRQ', count=3),
 Row(business_id=u'GHcaPJTiD9e9ylLl1itE0g', count=3),
 Row(business_id=u'r3MDQ9NDcrI4M79-aIpD3Q', count=3),
 Row(business_id=u'jNP0hRv0u5JEx61T6WAu2A', count=3),
 Row(business_id=u'KARmKZSvsT2oxXrhi_5zJA', count=3),
 Row(business_id=u'thB9W0l0He6w1TCl3cZkzA', count=3),
 Row(business_id=u'odRLZO2JOkd5-7jPRlKbaw', count=3),
 Row(business_id=u'ZUf-zw_tS6uhoRy3UBXv5g', count=3),
 Row(business_id=u'ei7SYxd07uETpASn1KyY_g', count=3),
 Row(business_id=u'JdqhC0_eU8T-bK7MiPcTGg', count=3),
 Row(business_id=u'PYCD5brPoYaUNCsCoalH2Q', count=3),
 Row(business_id=u'1pSnogYq1-nuDlZJ1_XWqw', count=3),
 Row(business_id=u'NzdtzrrPY83hLE-uERbsTA', count=3),
 Row(business_id=u'9qsERB_uDQD3Myu8buAyfA', count=3),
 Row(business_id=u'QYBq-SrKJEhF_V4Nawn9UQ', count=3),
 Row(business_id=u'ASXvXm-_-Tm37diPmEZpLg', count=3),
 Row(business_id=u'7LqZay-iQadatJHItUEWkg', count=3),
 Row(business_id=u'aAjHCn1tiZR-Nkn2xMiD6A', count=3),
 Row(business_id=u'hYsuiAVxrjyAClc80D2Obw', count=3),
 Row(business_id=u'UQW34W90XPb5nCGBDVQPVA', count=3),
 Row(business_id=u'PLbAslIbIESArCBxOQyr3w', count=3),
 Row(business_id=u'QIQaalfNcEC2cbPlcByk3g', count=3),
 Row(business_id=u'9ogQ8zjbiidGegQg6pe22w', count=3),
 Row(business_id=u'4UpbwaUyyxb9s_GuXXjwCQ', count=3),
 Row(business_id=u'UMQG0T8fpyO8ZERLgrCKkg', count=3),
 Row(business_id=u'TYe7fuJ3DO1MZZyZJOjwZg', count=3),
 Row(business_id=u'Dr-x56k9JsRcgp2g1zvhcw', count=3),
 Row(business_id=u'qlGMBiMSzyA46hKOhSzsrA', count=3),
 Row(business_id=u'RaUoxVUASFimu04vOWVC8A', count=3),
 Row(business_id=u'gwUKjXza3fcdtvBTSXpunQ', count=3),
 Row(business_id=u'uPlTuMTGLotMWVw7jxNmFQ', count=3),
 Row(business_id=u'TqZk5nsqYBOa62XYQ7bXvQ', count=3),
 Row(business_id=u'okx5vEaJuFFTmmLYkymBJQ', count=3),
 Row(business_id=u'AYzSsm3Y_Ckl6C6yrTBCzg', count=3),
 Row(business_id=u'3eEI5NKOlG2YMEHKAPMivw', count=3),
 Row(business_id=u'JF_6yy-82Gsa8havf9v_ww', count=3),
 Row(business_id=u'Pi6qJ0GrIfeeVgLg1iK3PQ', count=3),
 Row(business_id=u'FTmHbSoeeIyeoipQDwo-3A', count=3),
 Row(business_id=u'RNrPLdI7XJFIJqwr3E-6rA', count=3),
 Row(business_id=u'Kpkn3OovApaitRwVH8FSJg', count=3),
 Row(business_id=u'emYhGfn1oIKNdUNHHCvGMg', count=3),
 Row(business_id=u'ttQildkYNCt_9IT6DKJt6Q', count=3),
 Row(business_id=u'vH3U-nP1hg7Wr0A9_i201g', count=3),
 Row(business_id=u'If0qUsgaqCtvAyzUdrKVrw', count=3),
 Row(business_id=u'J2OibefJyBtz6pHDERExng', count=3),
 Row(business_id=u'FzJ7fF7rJvNPYYvpKzeRMg', count=3),
 Row(business_id=u'JdxtlH0C3KYx8JdTvlVO_g', count=3),
 Row(business_id=u'sLTywYkOeVQdCDKsB9a7bg', count=3),
 Row(business_id=u'XuyMQdxYAVHtvg2ZgFgc6w', count=3),
 Row(business_id=u'GBXRbNshYs4QKxAeyXxT4A', count=3),
 Row(business_id=u'uhnwFX0_MBOylni9sPjKvw', count=3),
 Row(business_id=u'Oj3K3trlttwLt8zS0d48oQ', count=3),
 Row(business_id=u'IXTsBHdVTKA52cZx2cVFvA', count=3),
 Row(business_id=u'uhSd71IPRQJCGgGw7obY3Q', count=3),
 Row(business_id=u'sMZDyn2-Rb1VzihW_v6n1w', count=3),
 Row(business_id=u'S9tuZMmKXZQ-o_bXnfCLwQ', count=3),
 Row(business_id=u'tL3WjA2lbXaMaXNF-PHwiA', count=3),
 Row(business_id=u'i5a1YNDw34F7ha7VPuu1tQ', count=3),
 Row(business_id=u'_0kJ2tIP_nfWNar2GaA40w', count=3),
 Row(business_id=u'c2kcpYAqHgK1N0nlG5QxWA', count=3),
 Row(business_id=u'cTTOHnYqvIkldOaNs6v91g', count=3),
 Row(business_id=u'L_DW6naxbYg4b1bF-9aTtQ', count=3),
 Row(business_id=u'2-y2yx0Sq1jtpHsOEngqkA', count=3),
 Row(business_id=u'YWN14dV8sk8klyeMVhu85g', count=3),
 Row(business_id=u'tFDdPju7scd9hiKzMV7fWg', count=3),
 Row(business_id=u'pqIQslkOOF0s7FGYgwnJKA', count=3),
 Row(business_id=u'8wDBrUPxtr94ThJQ6WjD3A', count=3),
 Row(business_id=u'LlLDMhhPeCKs4oyZxFQGaw', count=3),
 Row(business_id=u'rAJv_Y-cVtlpoyRcUTLQYA', count=3),
 Row(business_id=u'FfeuB-BsRTpUNQpvbjQPOA', count=3),
 Row(business_id=u'7JSOssAyZ83aYgohoTUc8w', count=3),
 Row(business_id=u'Lh9g7RbqsoZrpAfWUUon7Q', count=3),
 Row(business_id=u'kzD6FCqGJzk4Lqw9SL71XQ', count=3),
 Row(business_id=u'6eeh0JZKm6MtaebLYmjBeQ', count=3),
 Row(business_id=u'628e-765wk51Q0diAuLbuQ', count=3),
 Row(business_id=u'2159hxdS03Dt1ko_PIhaRQ', count=3),
 Row(business_id=u'x92zW5kEvGajc72sPYEBqg', count=3),
 Row(business_id=u'6CD4bzM2U72hhggKnPj2QA', count=3),
 Row(business_id=u'8JXrVxy-BJjUGIsEa06ETQ', count=3),
 Row(business_id=u'0fEozo1S9hDmANZ0iQfqXA', count=3),
 Row(business_id=u'360utqhvEbclk-ElGPGVOQ', count=3),
 Row(business_id=u'yruFFGf9rWd3v0kyhNjUBA', count=3),
 Row(business_id=u'v5e9Hkp01yIomwg88e210g', count=3),
 Row(business_id=u'WaFTO4zJfL7yLHe4EQmvZA', count=3),
 Row(business_id=u'DId2r0a4C2ixCbuLApxx8g', count=3),
 Row(business_id=u'EktALNXpjRIpaiR-cUJ-_g', count=3),
 Row(business_id=u'nWAN1_uxgCGNhdArngSGfw', count=3),
 Row(business_id=u'S9-S0YgcTGRpaFrANEl6-g', count=3),
 Row(business_id=u'3WpJaCKcgvFbgza7M8Fzgg', count=3),
 Row(business_id=u'NEUIueS9k14w-1GAoBxCHw', count=3),
 Row(business_id=u'egW7O3QKvbcGJF6NkQaR-Q', count=3),
 Row(business_id=u'D7_vL5fhEJLJAFSNKmwiRQ', count=3),
 Row(business_id=u'zHy24rvyrjBmnA6PhcFCdg', count=3),
 Row(business_id=u'HuH02KGPhTrB6hHbraUiuw', count=3),
 Row(business_id=u'C4LfmZsXdBOY0P2-A-z3Hg', count=3),
 Row(business_id=u'ANJmzEe7fNsWjlFDJJ1WWA', count=3),
 Row(business_id=u'pYR9KSNrJMEx8PIjx8rccw', count=3),
 Row(business_id=u'zj6cJuVzXRwjj6rsJLyMoA', count=3),
 Row(business_id=u'Kf6p7BKKe3c26M1fiA7Gsg', count=3),
 Row(business_id=u'sHNIPQEuBNEYIFM85suTgQ', count=3),
 Row(business_id=u'2rhovS8CHOSr8VXPHsJrNA', count=3),
 Row(business_id=u'uDzj47Nk12-tYj4ADDlziA', count=3),
 Row(business_id=u'Rii5mMzYCGH6OMVbf7DFsw', count=3),
 Row(business_id=u'KrfavN71-5TebpCXQnDsZQ', count=3),
 Row(business_id=u'edFXHf-eCLhVA3AHbENOYg', count=3),
 Row(business_id=u'cRcY17bdC8kc4YJMpppDyA', count=3),
 Row(business_id=u'ux76t7v9sG5m4Afhdsyasg', count=3),
 Row(business_id=u'k2WDD-s9V9t1PEjWgDO0ng', count=3),
 Row(business_id=u'36kDbfmyqjcgH7FHdC3cFg', count=3),
 Row(business_id=u'6v27Fok1kKSZmp1Mjz8V3w', count=3),
 Row(business_id=u'sh946XPpQeKJ38ppY--ZTw', count=3),
 Row(business_id=u'Uylbni1gZLU9NYI2gwQKdQ', count=3),
 Row(business_id=u'ejM2Pab-ox8Zk6b42MXcag', count=3),
 Row(business_id=u'a1nHsVk-0dPherQldZCSSQ', count=3),
 Row(business_id=u'_whkAQo7vxs5uSP6bVviRA', count=3),
 Row(business_id=u'DyM3-_Q2AxjX4Nh6_Mc93Q', count=3),
 Row(business_id=u'Na8TXwmGdqR4CaQINi2ogg', count=3),
 Row(business_id=u'YXPSlEHmRTOcjyBz5OYEhw', count=3),
 Row(business_id=u'JhooPRvvIolppVyb9zerAg', count=3),
 Row(business_id=u'et87Vxo32Q_3bb1uqTKYCA', count=3),
 Row(business_id=u'9jcMmwgo20VwQo4dWiZsCg', count=3),
 Row(business_id=u'9AYf9zSNMWxqlixgfqRDig', count=3),
 Row(business_id=u'uEMAAq1O8sV3zPQ0qeYxSQ', count=3),
 Row(business_id=u'y4_VVztbF_5qFh8SqK9NIw', count=3),
 Row(business_id=u'9OMaoLIXhy1OE-SgYEY17A', count=3),
 Row(business_id=u'xwEYTGJ_82ScbpXcheqqQw', count=3),
 Row(business_id=u'KkRG-pPZVhj5m8SQE2caNQ', count=3),
 Row(business_id=u'hM4JdcHrwOAopimL9nBdvg', count=3),
 Row(business_id=u'OKcWglzK8JaFxfNGjq8yGw', count=3),
 Row(business_id=u'tmO_NinTagB2HNGmsdJaTQ', count=3),
 Row(business_id=u'upaJORRmcctUlbwMrQgtSg', count=3),
 Row(business_id=u'qCWkUqA_js03QLefjATmNg', count=3),
 Row(business_id=u'9VlqqdomInXV58FhTyDxSQ', count=3),
 Row(business_id=u'JJRRhMyqbkOs-3q0mRPRKQ', count=3),
 Row(business_id=u'GasfpvcT2jzFr4EPUQQsLQ', count=3),
 Row(business_id=u'QemTyuZdtyf0u1NeNHPK7A', count=3),
 Row(business_id=u'aWryuxbiA1BERZe0FhBvFg', count=3),
 Row(business_id=u'rT8eaLQKtosMtfopF_WTHg', count=3),
 Row(business_id=u'Vdr_Gp6uJnec3GETtjKJlw', count=3),
 Row(business_id=u'a8WBqe4FpzaaeSzpG9sVDw', count=3),
 Row(business_id=u'XetqQFNRm_lqfNZ6Y1lzVQ', count=3),
 Row(business_id=u'9_dcNzHmG2lNZYx1IjrXgg', count=3),
 Row(business_id=u'_PP6KN_u3KseiyS7kFeB6Q', count=3),
 Row(business_id=u'sd7Ci7gTC6Ia1cAIPcmDGw', count=3),
 Row(business_id=u'Qp1yR-BkpsmJZHRVw-2dkg', count=3),
 Row(business_id=u'd5MXSInbPrPGK1lZxA3orQ', count=3),
 Row(business_id=u'pLgfzwwPEiq9leL1u7iNuw', count=3),
 Row(business_id=u'yJm7G83rY2fHse_dbkpbIQ', count=3),
 Row(business_id=u'CcMi0EM4KFqa_4hVe1oN3g', count=3),
 Row(business_id=u'3w4t-3fSIL78a6J7MSnZGA', count=3),
 Row(business_id=u'y1t84MN-hEOunEoiCC5BJA', count=3),
 Row(business_id=u'zVd307vwLzFePRUwve6p2g', count=3),
 Row(business_id=u'7SFbQs3N0AD--j7L-2WBwQ', count=3),
 Row(business_id=u'fmxDVLjSqJs-82YqUCyAew', count=3),
 Row(business_id=u'49YU3rvCpen841tnpsEVqQ', count=3),
 Row(business_id=u'ty5O2cCBhSSwkCDO70DnFw', count=3),
 Row(business_id=u'vaxSPDHaB7eq4T6db6Bcjw', count=3),
 Row(business_id=u'WXDBNw3H66MRhSAuUZtUlg', count=3),
 Row(business_id=u'NzhRebtw2AIxXkVO_BrOOQ', count=3),
 Row(business_id=u'C1RZyLE0d97wRfZoNvWC7g', count=3),
 Row(business_id=u'M4BZ2okdWuc7MqeBjtnDRQ', count=3),
 Row(business_id=u'0_o7OBAmcBS5A352zm8Hxw', count=3),
 Row(business_id=u'WhvRZd09bSJI178QgWxPGw', count=3),
 Row(business_id=u'fny-VfhuKoy2Zw61fv5J3g', count=3),
 Row(business_id=u'_znw6U_gqxlDp8sCMpZNlg', count=3),
 Row(business_id=u'2gxOBbhOuuSKNS6XGkpDUw', count=3),
 Row(business_id=u'S97o0UcKFmWNdIvgsRrhHQ', count=3),
 Row(business_id=u'8MlxoVc-1tNwK3Knixk3qA', count=3),
 Row(business_id=u'TOi12ert6uC6YFbnlkfNAQ', count=3),
 Row(business_id=u'Z54efU4JNaiYGtNzJwzx1A', count=3),
 Row(business_id=u'RHgJlAM0npBH1T3jnH_Q1w', count=3),
 Row(business_id=u'VFZpI9wSaFv5HJ5tjrmkEQ', count=3),
 Row(business_id=u'CfdaFJmHzibWAZ3H36SK4A', count=3),
 Row(business_id=u'PWYs061rzGJ_Jaw9ot40ow', count=3),
 Row(business_id=u'9PXsIauqheXhGSS-pCCHSw', count=3),
 Row(business_id=u'x0PF0MvzyRrKbF00xqlIMw', count=3),
 Row(business_id=u'OE0XMgjdpXbE5VlFXuDu9A', count=3),
 Row(business_id=u'vzpaMWyMMmwwqp1ZCZpcGw', count=3),
 Row(business_id=u'rPSb0hGQ9qMUCARHf-ZYUw', count=3),
 Row(business_id=u'ArcVzFlzAPjzqfRgnIzixg', count=3),
 Row(business_id=u'at6dadnbSspw-Mz9S-7Uvg', count=3),
 Row(business_id=u'nEI0NTXhECljnshC2b7dsg', count=3),
 Row(business_id=u'YiFihBfHKLuwbmParOJ3LA', count=3),
 Row(business_id=u'FIiArCxYXIhKbFvFRP5mvQ', count=3),
 Row(business_id=u'Aw9wMIUkDsBvK_i8uTxBag', count=3),
 Row(business_id=u'zmET1TVVTvVklHGWQJX7yw', count=3),
 Row(business_id=u'mxoHsZ057JeKzht5zukNAg', count=3),
 Row(business_id=u'i3xfmxeEH1xs5YESU2_HCQ', count=3),
 Row(business_id=u'TCaj_fLjmd6ZAfqn4wczlg', count=3),
 Row(business_id=u'A6aktZiodqq8b3Nl_ghZ1w', count=3),
 Row(business_id=u'FCaluJ5MZp4CHePYXjjT7w', count=3),
 Row(business_id=u'0cn4zw0_PFoivCFtvCx6jQ', count=3),
 Row(business_id=u'SS6Ow_wWjP8CbfbKEW4ZEA', count=3),
 Row(business_id=u'zdv667Zq-_PFWtTZsNQ_Vw', count=3),
 Row(business_id=u'rej_cIy0HCHjcnNQcaRFzQ', count=3),
 Row(business_id=u'XDNL2h_nZb5GbGoB0HWmKg', count=3),
 Row(business_id=u'UxFS36x0tLiDELJgdzh1sA', count=3),
 Row(business_id=u'pvfXFmD3NXRvS5fmAB4rWQ', count=3),
 Row(business_id=u'g3q_9vbAc9N3Cu_bjX3DcA', count=3),
 Row(business_id=u'd7AtQMYDUh40DeJinidFNQ', count=3),
 Row(business_id=u'w1FuKhUBhzgui6pj9uF5Gg', count=3),
 Row(business_id=u'uTGV1_Bu-B26_RoHAMi2BQ', count=3),
 Row(business_id=u'VfBdxV_6uFiIE0Zg9nPZzw', count=3),
 Row(business_id=u'8fSAizrTX1Hc0rWw6WLwSg', count=3),
 Row(business_id=u'n3sGL6_mJZQy-cdjx1-Bgw', count=3),
 Row(business_id=u'ZdF_p8ff2pNuZcX_AF-0eQ', count=3),
 Row(business_id=u'bJVnnH5aydAZooxQtgnPwQ', count=3),
 Row(business_id=u'cdH_SqxlEbz4xjtPHlUSPg', count=3),
 Row(business_id=u'_M8YJDCVKGSOVU3GsoTXpA', count=3),
 Row(business_id=u'Zu5cAfSpLOVj8LXCS9xxGw', count=3),
 Row(business_id=u'85rkFL1ke5-BzoFI-cEXag', count=3),
 Row(business_id=u'q27-Sh7VJLPI24tGxE35PQ', count=3),
 Row(business_id=u'3EkVn5_YsP0q6LvMfTsVuQ', count=3),
 Row(business_id=u'T5jrdYhot4yVotoYGRabGw', count=3),
 Row(business_id=u'3U_6CxSFOlTYoUQntPphYg', count=3),
 Row(business_id=u'HrwUUvQDEAXHpUOHv0ftiw', count=3),
 Row(business_id=u'O5WlH5h7LT03iWz6fqUb9A', count=3),
 Row(business_id=u'Qu4PCsCUZm2ov4U5e7JcVA', count=3),
 Row(business_id=u'SJq04RXddX02k6j3f8V22A', count=3),
 Row(business_id=u'YrAUTulMsbzVxd57j8mZPA', count=3),
 Row(business_id=u'D2t3yDnG-HI17YOsiiWIuw', count=3),
 Row(business_id=u'x-_1PEDKD-Gy7dT_5vMtKA', count=3),
 Row(business_id=u'3STgMi8D-cx8LJv3Wr6_OQ', count=3),
 Row(business_id=u'I-sH_vgv5gJ5yLIhVnthPg', count=3),
 Row(business_id=u'FvY_8lI18lgzkajJoWOprg', count=3),
 Row(business_id=u'BXU7nnt13ia7sAJxnQ8CkA', count=3),
 Row(business_id=u'9hnyuencQIbpw8La9Fv0JQ', count=3),
 Row(business_id=u'dIZJSO5Saa0rSE1-2UKCDQ', count=3),
 Row(business_id=u'ZHvfZ0-AeRrKoRwdmN2KPA', count=3),
 Row(business_id=u'moGoEVeHry38sc4NnQemjw', count=3),
 Row(business_id=u'dM8TzN-loTAruGo-pZmweQ', count=3),
 Row(business_id=u'gn-KHNc0TtpmtfftBh2FcA', count=3),
 Row(business_id=u'boqYl-LVs00OHz6_yYN1Rw', count=3),

In [36]:
review.groupBy("business_id").count().orderBy("count")

DataFrame[business_id: string, count: bigint]

In [39]:
# to understand what collect() does
_dummy = review.groupBy("business_id").count().orderBy("count")
_dummy.collect?

In [ ]:
# find the avg ratings by state
review.groupBy(col("state")).agg(func.max("stars"), func.sum("review_count")).collect()
.groupBy("state").agg({"review_count":"sum"}).orderBy(desc("SUM(review_count#16)")).collect()

#  Implement an ML model

In [111]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = bus['categories']

In [112]:
print categoricalColumns

Column<categories>

In [161]:
# join based on user and business keys
# other objects get garbage collected

# _yyy.select("stars")
review_business = _yyy.withColumnRenamed("stars", "business_avg_stars").withColumnRenamed("attributes", "business_type").withColumnRenamed(\
                                         "review_count", "business_review_count")

In [152]:
del user
user = spark.read.json('hdfs://localhost:9000/yelp/user.json').repartition(150)

In [162]:
review_business.columns

['business_id',
 'cool',
 'date',
 'funny',
 'review_id',
 'business_avg_stars',
 'text',
 'useful',
 'user_id',
 'address',
 'business_type',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'business_review_count',
 'state']

In [154]:
_yyy.columns

['business_id',
 'cool',
 'date',
 'funny',
 'review_id',
 'stars',
 'text',
 'useful',
 'user_id',
 'address',
 'attributes',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'state']

In [156]:
# To avoid clashing ... beforer merging with review_business
user = user.withColumnRenamed("review_count", "user_review_count")

In [157]:
user.columns

['average_stars',
 'compliment_cool',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'elite',
 'fans',
 'friends',
 'funny',
 'name',
 'user_review_count',
 'useful',
 'user_id',
 'yelping_since']

In [158]:
user_review = _yyy.join(user, how=None, on='user_id').drop(user.name)

In [141]:
user_review.columns, user.columns

(['user_id',
  'business_id',
  'cool',
  'date',
  'funny',
  'review_id',
  'stars',
  'text',
  'useful',
  'address',
  'attributes',
  'categories',
  'city',
  'hours',
  'is_open',
  'latitude',
  'longitude',
  'name',
  'neighborhood',
  'postal_code',
  'review_count',
  'state',
  'average_stars',
  'compliment_cool',
  'compliment_cute',
  'compliment_funny',
  'compliment_hot',
  'compliment_list',
  'compliment_more',
  'compliment_note',
  'compliment_photos',
  'compliment_plain',
  'compliment_profile',
  'compliment_writer',
  'cool',
  'elite',
  'fans',
  'friends',
  'funny',
  'review_count',
  'useful',
  'yelping_since'],
 ['average_stars',
  'compliment_cool',
  'compliment_cute',
  'compliment_funny',
  'compliment_hot',
  'compliment_list',
  'compliment_more',
  'compliment_note',
  'compliment_photos',
  'compliment_plain',
  'compliment_profile',
  'compliment_writer',
  'cool',
  'elite',
  'fans',
  'friends',
  'funny',
  'name',
  'review_count',
  'useful',
  'user_id',
  'yelping_since'])

In [160]:
user_review = user_review.withColumnRenamed("name", "user_name").withColumnRenamed("elite", "user_type").withColumnRenamed(\
                                "average_stars", "user_avg_stars").withColumnRenamed("review_count", "user_review_count")

In [179]:
yelp_review = user_review.join(review_business, on='review_id').drop(review_business.user_id).drop(review_business.business_id)

In [180]:
yelp_review.columns

['review_id',
 'cool',
 'date',
 'funny',
 'stars',
 'text',
 'useful',
 'address',
 'attributes',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'user_name',
 'neighborhood',
 'postal_code',
 'user_review_count',
 'state',
 'user_avg_stars',
 'compliment_cool',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'user_type',
 'fans',
 'friends',
 'funny',
 'user_review_count',
 'useful',
 'yelping_since',
 'business_id',
 'cool',
 'date',
 'funny',
 'business_avg_stars',
 'text',
 'useful',
 'user_id',
 'address',
 'business_type',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'business_review_count',
 'state']

### Linear Regression w/o cross-val

In [188]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

In [189]:
yelp_review.columns

['review_id',
 'cool',
 'date',
 'funny',
 'stars',
 'text',
 'useful',
 'address',
 'attributes',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'user_name',
 'neighborhood',
 'postal_code',
 'user_review_count',
 'state',
 'user_avg_stars',
 'compliment_cool',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'user_type',
 'fans',
 'friends',
 'funny',
 'user_review_count',
 'useful',
 'yelping_since',
 'business_id',
 'cool',
 'date',
 'funny',
 'business_avg_stars',
 'text',
 'useful',
 'user_id',
 'address',
 'business_type',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'business_review_count',
 'state']

In [ ]:
# transform data structure
from pyspark.ml.linalg import Vectors
yelp_df = yelp_review.rdd.map(lambda x: [Vector.dense(x[20],x[18],x[-10],x[-2],x[-17]), x[4]]).toDF(['features', 'label'])
yelp_df.show(3)

In [ ]:
from pyspark.ml.regression import LinearRegression

### Linear regression + cross-val (k-fold)

In [171]:
train, test = yelp_review.randomSplit?

In [181]:
train, test = yelp_review.randomSplit([0.8, 0.2], seed=1123123)

In [175]:
train.count()

3790727

In [182]:
test.select("business_id").count()

KeyboardInterrupt:

In [183]:
train.take(3)

KeyboardInterrupt:

In [ ]:
train.select('city').show()

In [ ]:
from sklearn.model_selection import cross_val_predict
from sklearn import linear_model
from sklearni mport preprocessing

lr = linear_model.LinearRegression()
# how to proceed with dataFrame???

# yp = cross_val_predic(lr, x, y, cv=10)

In [ ]:

from pyspark.mllib.regression import LabeledPoint
from pyspark.mllib.util import MLUtils

train = train.toDF()
lr = LinearRegression(maxIter=10, regParam=0.3, eleasticNetParam=0.8)

# fit
lrModel = lr.fit(train)

print("Weights: " + str(lrModel.weights)) 
print("Intercept: " + str(lrModel.intercept)) 

evaluator = RegressionEvaluator(predictionCol='prediction', labelCol='label')
evaluator.evaluate(pred, {evaluator.metricName: "r2"})

In [ ]:
train.columns

In [ ]:
lr = LinearRegression(featuresCol=['user_avg_stars', 'business_avg_stars', 'city', 'business_review_count', \
                                    'user_review_count'], labelCol='stars')
lrmode = lr.fit(train)

## system stuff

In [115]:
locals()

{'ArrayType': pyspark.sql.types.ArrayType,
 'BinaryClassificationEvaluator': pyspark.ml.evaluation.BinaryClassificationEvaluator,
 'BinaryLogisticRegressionSummary': pyspark.ml.classification.BinaryLogisticRegressionSummary,
 'BinaryLogisticRegressionTrainingSummary': pyspark.ml.classification.BinaryLogisticRegressionTrainingSummary,
 'BinaryType': pyspark.sql.types.BinaryType,
 'BooleanType': pyspark.sql.types.BooleanType,
 'ByteType': pyspark.sql.types.ByteType,
 'Column': pyspark.sql.column.Column,
 'CrossValidator': pyspark.ml.tuning.CrossValidator,
 'CrossValidatorModel': pyspark.ml.tuning.CrossValidatorModel,
 'DataFrame': pyspark.sql.dataframe.DataFrame,
 'DataFrameNaFunctions': pyspark.sql.dataframe.DataFrameNaFunctions,
 'DataFrameReader': pyspark.sql.readwriter.DataFrameReader,
 'DataFrameStatFunctions': pyspark.sql.dataframe.DataFrameStatFunctions,
 'DataFrameWriter': pyspark.sql.readwriter.DataFrameWriter,
 'DataType': pyspark.sql.types.DataType,
 'DateType': pyspark.sql.types.DateType,
 'DecimalType': pyspark.sql.types.DecimalType,
 'DecisionTreeClassificationModel': pyspark.ml.classification.DecisionTreeClassificationModel,
 'DecisionTreeClassifier': pyspark.ml.classification.DecisionTreeClassifier,
 'DoubleType': pyspark.sql.types.DoubleType,
 'ExtraTreesClassifier': sklearn.ensemble.forest.ExtraTreesClassifier,
 'FloatType': pyspark.sql.types.FloatType,
 'GBTClassificationModel': pyspark.ml.classification.GBTClassificationModel,
 'GBTClassifier': pyspark.ml.classification.GBTClassifier,
 'GroupedData': pyspark.sql.group.GroupedData,
 'HiveContext': pyspark.sql.context.HiveContext,
 'Imputer': pyspark.ml.feature.Imputer,
 'In': ['',
  u'\nimport findspark  # this needs to be the first import                                                                        \nfindspark.init()\n\n# jupyter notebook &\n\nfrom pyspark.sql import DataFrame\nfrom pyspark.sql import *\nfrom pyspark.ml import Pipeline\nfrom pyspark.ml.classification import *\nfrom pyspark.ml.feature import VectorAssembler\nfrom pyspark.ml.feature import Normalizer\nfrom pyspark.ml.evaluation import BinaryClassificationEvaluator\nfrom pyspark.sql.functions import *\nfrom pyspark.sql.types import *\nfrom pyspark.ml.tuning import *\nfrom pyspark.ml.feature import Imputer\n\n\nimport numpy as np\nimport pandas as pd\nimport scipy as sc',
  u'\nfrom pyspark import SparkContext\nfrom pyspark.sql.session import SparkSession\ntry:\n    sc = SparkContext()     \nexcept ValueError:\n    pass\n# spark = SparkSession(sc)\n\n\nspark = SparkSession     .builder     .appName("Python Spark SQL basic example")     .config("spark.some.config.option", "some-value")     .getOrCreate()\n    \n    \n# from DaeWon\n# establish a spark session with 50 executors\nfrom pyspark.sql import SparkSession\nspark = SparkSession         .builder         .master("yarn")         .appName("testing")         .config("spark.executor.instances", "70")         .config("spark.executor.memory","4g")         .config("spark.driver.memory","30g")         .config("spark.executor.cores",\'1\')         .config("spark.scheduler.mode","FIFO")         .getOrCreate()',
  u'#  spark.read.json?',
  u"# dat = spark.read.json('./dataset/checkin.json').repartition(150)     # from local machine\ndat = spark.read.json('hdfs://localhost:9000/yelp/checkin.json').repartition(150)    # from hadoop; for port, see etc/hadoop/core-site.xml \ndat.printSchema()",
  u'dat.show()',
  u'\nimport findspark  # this needs to be the first import                                                                        \nfindspark.init()\n\n# jupyter notebook &\n\nfrom pyspark.sql import DataFrame\nfrom pyspark.sql import *\nfrom pyspark.ml import Pipeline\nfrom pyspark.ml.classification import *\nfrom pyspark.ml.feature import VectorAssembler\nfrom pyspark.ml.feature import Normalizer\nfrom pyspark.ml.evaluation import BinaryClassificationEvaluator\nfrom pyspark.sql.functions import *\nfrom pyspark.sql.types import *\nfrom pyspark.ml.tuning import *\nfrom pyspark.ml.feature import Imputer\n\n\nimport numpy as np\nimport pandas as pd\nimport scipy as sc',
  u'\nfrom pyspark import SparkContext\nfrom pyspark.sql.session import SparkSession\ntry:\n    sc = SparkContext()     \nexcept ValueError:\n    pass\n# spark = SparkSession(sc)\n\n\nspark = SparkSession     .builder     .appName("Python Spark SQL basic example")     .config("spark.some.config.option", "some-value")     .getOrCreate()\n    \n    \n# from DaeWon\n# establish a spark session with 50 executors\nfrom pyspark.sql import SparkSession\nspark = SparkSession         .builder         .master("yarn")         .appName("testing")         .config("spark.executor.instances", "70")         .config("spark.executor.memory","4g")         .config("spark.driver.memory","30g")         .config("spark.executor.cores",\'1\')         .config("spark.scheduler.mode","FIFO")         .getOrCreate()',
  u'#  spark.read.json?',
  u"# dat = spark.read.json('./dataset/checkin.json').repartition(150)     # from local machine\ndat = spark.read.json('hdfs://localhost:9000/yelp/checkin.json').repartition(150)    # from hadoop; for port, see etc/hadoop/core-site.xml \ndat.printSchema()",
  u"# _dum = spark.read.json('yelp/checkin.json').respartition(150)",
  u"# bus = spark.read.json('./dataset/business.json').repartition(150)\n# bus.printSchema()\n\n# phot = spark.read.json('./dataset/photos.json').repartition(150)\n# phot.printSchema()\n\nbus = spark.read.json('hdfs://localhost:9000/yelp/business.json').repartition(150)\n# bus.printSchema()\n\nphot = spark.read.json('hdfs://localhost:9000/yelp/photos.json').repartition(150)\n# phot.printScheme()\n\nreview= spark.read.json('hdfs://localhost:9000/yelp/review.json').repartition(150)\n# phot.printScheme()",
  u'print dat.count()\nprint bus.count()\nprint phot.count()\nprint review.count()',
  u'dat.rdd.getNumPartitions()',
  u'dat.show()',
  u'dat.columns',
  u'phot.columns',
  u'bus.columns',
  u'review.columns',
  u'bus.show()',
  u'bus.dtypes',
  u"dat = dat.select('business_id','time')\nprint type(dat)",
  u'print type(bus)',
  u'# Comput summary stats\nbus.describe().show() ',
  u'dat',
  u'# count num of unique classes (rows) in a column\ndat.select(col("time")).distinct().count()',
  u'# we can do an aggregate count to see the distribution of the classes\ndat.groupBy(col("business_id")).count().collect()',
  u'bus.filter(bus["longitude"]>24).show()',
  u'# find mean of "cool" col\nreview.select("cool").agg({"cool": "avg"}).collect()',
  u'# find mean of "cool", but this time only consider those with # of reviews $gtreq$ 10\nreview_rect = bus.filter("review_count >= 10")',
  u'review_rect.columns',
  u'review_rect_stars4 = review_rect.filter("stars = 4")',
  u'review_rect_stars4.select("cool").agg({"cool": "avg"}).collect()\n# --> Ok, need to join review and business table together.. ',
  u'# using SQL join\nspark.sql("SELECT FROM review, bus WHERE review.business_id = bus.business_id")',
  u'# using SQL join\ndummyHold = spark.sql("SELECT * FROM review, bus WHERE review.business_id = bus.business_id")',
  u'# using SQL join\ndummyHold = spark.sql("SELECT * FROM review, bus WHERE review.business_id = bus.business_id").collect()',
  u'review.join(bus, review("business_id") === bus("business_id"), inner)',
  u'xx = review.join(bus, review("business_id") == bus("business_id"), inner)',
  u"get_ipython().magic(u'pinfo review.join')",
  u'_xxx = review.join(bus, review("business_id") == bus("business_id"), \'inner\')',
  u"_xxx = review.join(bus, review.business_id == bus.business_id, 'inner')",
  u'print _xxx',
  u'print _xxx.show()',
  u'print review.columns, bus.columns',
  u'_xxx.columns',
  u'_xxx.select("business_id")',
  u'print review.type',
  u"_yyy = review.join(bus, review.business_id == bus.business_id, 'inner').drop(bus.business_id)",
  u'print _yyy.columns',
  u'# to test the syntax',
  u"# to test the syntax\n_zzz = review.join(bus, 'business_id', 'inner')\nprint _zzz.columns",
  u'display(photo)',
  u"get_ipython().magic(u'matplotlib inline')\nfrom IPython.display import display\ndisplay(photo)",
  u"get_ipython().magic(u'matplotlib inline')\nfrom IPython.display import display\ndisplay(phot)",
  u'_zzz.show().take(5)',
  u'_zzz.take(5)',
  u"get_ipython().magic(u'pinfo _zzz.take')",
  u'newbus_rev = _zzz\nprint newbus_rev.select("cool").show()',
  u'newbus_rev.columns',
  u'newbus_rev.select("cool").agg({"cool": "avg"}).collect()',
  u'# \nslim = _zzz.filter("review_count >= 10")\nslim = slim.filter("stars = 4")\nslim.select("cool").agg({"cool": "avg"}).collect()',
  u'# \nslim = _zzz.filter("review_count >= 10")\nslim2 = slim.filter("stars = 4")\nslim2.select("cool").agg({"cool": "avg"}).collect()',
  u"_yyy = review.join(bus, review.business_id == bus.business_id, 'inner').drop(bus.business_id).drop(bus.stars)",
  u'print _yyy.columns',
  u'# \nslim = _yyy.filter("review_count >= 10")\nslim2 = slim.filter("stars = 4")\nslim2.select("cool").agg({"cool": "avg"}).collect()',
  u'# cal again, but for different criteria\ndel slim2\nslim2 = slim.filter(\'open="\\True\\"\')\nslim3 = slim2.filter(\'stars = 5\')\nslim3.select("cool").agg{{"cool": "avg"}}.collect()',
  u'# cal again, but for different criteria\ndel slim2\nslim2 = slim.filter(\'open="\\True\\"\')\nslim3 = slim2.filter(\'stars = 5\')\nslim3.select("cool").agg({"cool": "avg"}).collect()',
  u'# cal again, but for different criteria\ndel slim2\nslim2 = slim.filter(\'is_open="\\True\\"\')\nslim3 = slim2.filter(\'stars = 5\')\nslim3.select("cool").agg({"cool": "avg"}).collect()',
  u'# cal again, but for different criteria\n# del slim2\nslim2 = slim.filter(\'is_open="\\True\\"\')\nslim3 = slim2.filter(\'stars = 5\')\nslim3.select("cool").agg({"cool": "avg"}).collect()',
  u'# cal again, but for different criteria\nslim2 = slim.filter(\'is_open="\\True\\"\')\nslim3 = slim2.filter(\'stars >= 3\')\nslim3.select("cool").agg({"cool": "avg"}).collect()',
  u'slim3.count()',
  u'slim2.count()',
  u'slim.count()',
  u"slim2 = slim.filter('is_open = 1')\nslim2.count()",
  u'slim3 = slim2.filter(\'stars >= 3\')\nslim3.select("cool").agg({"cool": "avg"}).collect()',
  u'# find which res has the most reviews \nslimstate = slim.groupBy("state")\nslim_ct = slimstate.agg({"review_cont": "sum"}).orderBy(desc("SUM(review_count)")).collect()',
  u'# find which res has the most reviews \nslimstate = slim.groupBy("state")\nslim_ct = slimstate.agg({"review_count": "sum"}).orderBy(desc("SUM(review_count)")).collect()',
  u'print slim_ct.take(3).show()',
  u'print slim_ct',
  u'print slim_ct[:3]',
  u'print slim_ct[:3][1]',
  u'print slim_ct[:3]',
  u'_yyy.filter("useful >= 1").count()',
  u'_yyy.select("useful").agg({"useful": "max"}).collect()',
  u'_yyy.select("useful")[1125]',
  u'_yyy.select("useful")[1]',
  u'_yyy.select("useful")[0]',
  u'_dum = _yyy.select("useful")',
  u'len(_dum)',
  u'_dum.show()',
  u'_dum.count()',
  u'_dum[235]',
  u'_dum[0]',
  u'_dum[0][123]',
  u'print _dum[0][123]',
  u'_dum.take(1125).last()',
  u'_yyy.select("business_id", (_yyy.stars/10*1).cast("int")).show(5)\nprint _yyy.stars',
  u'_dum.take(1125)-1]',
  u'_dum.take(1125)[-1]',
  u'_yyy.select("business_id", (_yyy.stars/11*1).cast("int")).show(5)\nprint _yyy.stars',
  u'_yyy.select("business_id", (_yyy.stars/1*1).cast("int")).show(5)\nprint _yyy.stars',
  u'_dum.take(1125)[-5:-1]',
  u'_dum.take(1125)[-5:]',
  u'_yyy.select("business_id", (_yyy.stars*10).cast("int")).show(5)',
  u'xx = bus.groupBy("postal_code").agg(func.max("stars"), func.sum("review_count"))',
  u'xx',
  u'print xx.columns',
  u'import pyspark.sql.functions as func\nxx = bus.groupBy("postal_code").agg(func.max("stars"), func.sum("review_count"))',
  u'xx',
  u'print xx.columns',
  u"xx.select('postal_code').describe().show()",
  u"#  Implement an ML model\nfrom pyspark.ml import Pipeline\nfrom pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler\n\ncategoricalColumns = bus['categories']",
  u'print categoricalColumns',
  u'from sklearn.datasets import make_classification\nfrom sklearn.ensemble import ExtraTreesClassifier',
  u'from sklearn.datasets import make_classification\nfrom sklearn.ensemble import ExtraTreesClassifier\n\n# Build a classification task using 3 informative features\nX, y = make_classification(n_samples=12000,\n                           n_features=10,\n                           n_informative=3,\n                           n_redundant=0,\n                           n_repeated=0,\n                           n_classes=2,\n                           random_state=0,\n                           shuffle=False)',
  u'locals()'],
 'IntegerType': pyspark.sql.types.IntegerType,
 'LinearSVC': pyspark.ml.classification.LinearSVC,
 'LinearSVCModel': pyspark.ml.classification.LinearSVCModel,
 'LogisticRegression': pyspark.ml.classification.LogisticRegression,
 'LogisticRegressionModel': pyspark.ml.classification.LogisticRegressionModel,
 'LogisticRegressionSummary': pyspark.ml.classification.LogisticRegressionSummary,
 'LogisticRegressionTrainingSummary': pyspark.ml.classification.LogisticRegressionTrainingSummary,
 'LongType': pyspark.sql.types.LongType,
 'MapType': pyspark.sql.types.MapType,
 'MultilayerPerceptronClassificationModel': pyspark.ml.classification.MultilayerPerceptronClassificationModel,
 'MultilayerPerceptronClassifier': pyspark.ml.classification.MultilayerPerceptronClassifier,
 'NaiveBayes': pyspark.ml.classification.NaiveBayes,
 'NaiveBayesModel': pyspark.ml.classification.NaiveBayesModel,
 'Normalizer': pyspark.ml.feature.Normalizer,
 'NullType': pyspark.sql.types.NullType,
 'OneHotEncoder': pyspark.ml.feature.OneHotEncoder,
 'OneVsRest': pyspark.ml.classification.OneVsRest,
 'OneVsRestModel': pyspark.ml.classification.OneVsRestModel,
 'Out': {13: 150,
  15: ['business_id', 'time'],
  16: ['business_id', 'caption', 'label', 'photo_id'],
  17: ['address',
   'attributes',
   'business_id',
   'categories',
   'city',
   'hours',
   'is_open',
   'latitude',
   'longitude',
   'name',
   'neighborhood',
   'postal_code',
   'review_count',
   'stars',
   'state'],
  18: ['business_id',
   'cool',
   'date',
   'funny',
   'review_id',
   'stars',
   'text',
   'useful',
   'user_id'],
  20: [('address', 'string'),
   ('attributes',
    'struct<AcceptsInsurance:boolean,AgesAllowed:string,Alcohol:string,Ambience:struct<casual:boolean,classy:boolean,divey:boolean,hipster:boolean,intimate:boolean,romantic:boolean,touristy:boolean,trendy:boolean,upscale:boolean>,BYOB:boolean,BYOBCorkage:string,BestNights:struct<friday:boolean,monday:boolean,saturday:boolean,sunday:boolean,thursday:boolean,tuesday:boolean,wednesday:boolean>,BikeParking:boolean,BusinessAcceptsBitcoin:boolean,BusinessAcceptsCreditCards:boolean,BusinessParking:struct<garage:boolean,lot:boolean,street:boolean,valet:boolean,validated:boolean>,ByAppointmentOnly:boolean,Caters:boolean,CoatCheck:boolean,Corkage:boolean,DietaryRestrictions:struct<dairy-free:boolean,gluten-free:boolean,halal:boolean,kosher:boolean,soy-free:boolean,vegan:boolean,vegetarian:boolean>,DogsAllowed:boolean,DriveThru:boolean,GoodForDancing:boolean,GoodForKids:boolean,GoodForMeal:struct<breakfast:boolean,brunch:boolean,dessert:boolean,dinner:boolean,latenight:boolean,lunch:boolean>,HairSpecializesIn:struct<africanamerican:boolean,asian:boolean,coloring:boolean,curly:boolean,extensions:boolean,kids:boolean,perms:boolean,straightperms:boolean>,HappyHour:boolean,HasTV:boolean,Music:struct<background_music:boolean,dj:boolean,jukebox:boolean,karaoke:boolean,live:boolean,no_music:boolean,video:boolean>,NoiseLevel:string,Open24Hours:boolean,OutdoorSeating:boolean,RestaurantsAttire:string,RestaurantsCounterService:boolean,RestaurantsDelivery:boolean,RestaurantsGoodForGroups:boolean,RestaurantsPriceRange2:bigint,RestaurantsReservations:boolean,RestaurantsTableService:boolean,RestaurantsTakeOut:boolean,Smoking:string,WheelchairAccessible:boolean,WiFi:string>'),
   ('business_id', 'string'),
   ('categories', 'array<string>'),
   ('city', 'string'),
   ('hours',
    'struct<Friday:string,Monday:string,Saturday:string,Sunday:string,Thursday:string,Tuesday:string,Wednesday:string>'),
   ('is_open', 'bigint'),
   ('latitude', 'double'),
   ('longitude', 'double'),
   ('name', 'string'),
   ('neighborhood', 'string'),
   ('postal_code', 'string'),
   ('review_count', 'bigint'),
   ('stars', 'double'),
   ('state', 'string')],
  24: DataFrame[business_id: string, time: struct<Friday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Monday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Saturday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Sunday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Thursday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Tuesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>,Wednesday:struct<0:00:bigint,10:00:bigint,11:00:bigint,12:00:bigint,13:00:bigint,14:00:bigint,15:00:bigint,16:00:bigint,17:00:bigint,18:00:bigint,19:00:bigint,1:00:bigint,20:00:bigint,21:00:bigint,22:00:bigint,23:00:bigint,2:00:bigint,3:00:bigint,4:00:bigint,5:00:bigint,6:00:bigint,7:00:bigint,8:00:bigint,9:00:bigint>>],
  25: 120782,
  26: [Row(business_id=u'y8e07i7HPWuYVQzg_2RbxA', count=1),
   Row(business_id=u'68htH_xVthYKRxvpTpu2ew', count=1),
   Row(business_id=u'yuBzzarZ13pt8UpspSxOBg', count=1),
   Row(business_id=u'CqTPLUHBM9AM3TEqPn0krg', count=1),
   Row(business_id=u'0859wfd1BQHG46Zpwhc0ZQ', count=1),
   Row(business_id=u'G-AW1PNolA2XnADKqqJO_A', count=1),
   Row(business_id=u'VmSrPPO2WXmOKjUW7pDGsQ', count=1),
   Row(business_id=u'FVgHb9w4pnkRBV5bZYJaZA', count=1),
   Row(business_id=u'xZpZvAqZSla5c72CuNKnJA', count=1),
   Row(business_id=u'zhBkNLn2KPnh5-NIueXVHA', count=1),
   Row(business_id=u'ARkNkb3EJzA42PqMC5VMbA', count=1),
   Row(business_id=u'OZJniEO9I-PqavZYuyNjng', count=1),
   Row(business_id=u'oF054vcRTDNx88qxBGzhFw', count=1),
   Row(business_id=u'4XMhO5LyfFHq5rdFHkXfXQ', count=1),
   Row(business_id=u'Cl-xl1vTUwHeaGgBxzdTRA', count=1),
   Row(business_id=u'XIAbir-WvErgW6xjB6YRlA', count=1),
   Row(business_id=u'rWxAgLSI0Sk1MCpQGd5HDQ', count=1),
   Row(business_id=u'SubDWJhpXWLs-TMNQxE67Q', count=1),
   Row(business_id=u'KkyOeKAro4Dp3q685kDwzw', count=1),
   Row(business_id=u'r-W1HPIZ3V6S2DaXhs9EbQ', count=1),
   Row(business_id=u'h5SORyAizX0G7PDDifdxaw', count=1),

In [116]:
'sc' in locals()

True

In [ ]:
spark.stop()